
<TABLE VALIGN="top" style="border-right:1px solid #6D99B6;border-left:1px solid #6D99B6;border-top:1px solid #6D99B6;border-bottom:1px solid #6D99B6;">
	<TR>
		<TD>Session</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("SESSION_ID"))
		</TD>
		
		<TD>Subject</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("SUBJECT_ID"))
		</TD>
		
		<TD>MR Date</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("MR_DATE"))
		</TD>
		
		<TD>ID</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("EXPT_ID"))
		</TD>
		
	</TR>
	<TR>
		<TD>Date</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("DATE"))
		</TD>
		
		<TD>Age</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("AGE"))
		</TD>
		
		<TD>Project</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("PROJECT"))
		</TD>
		
		<TD>present</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("ASSESSMENT_VIRCHOW_ROBIN_PRESENT"))
		</TD>
		
	</TR>
	<TR>
		<TD>location</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("ASSESSMENT_VIRCHOW_ROBIN_LOCATION"))
		</TD>
		
		<TD>potential_contribution</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("ASSESSMENT_VIRCHOW_ROBIN_POTENTIAL_CONTRIBUTION"))
		</TD>
		
		<TD>contribution_location</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("ASSESSMENT_VIRCHOW_ROBIN_CONTRIBUTION_LOCATION"))
		</TD>
		
		<TD>confluent</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("ASSESSMENT_CONFLUENT"))
		</TD>
		
	</TR>
	<TR>
		<TD>Inserted</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_DATE"))
		</TD>
		
		<TD>Creator</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_USER"))
		</TD>
		
		<TD>Total</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("WM_TOTAL"))
		</TD>
		
		<TD>DWM</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("DWM"))
		</TD>
		
	</TR>
	<TR>
		<TD>BG</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("BG"))
		</TD>
		
		<TD>PV</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("PV"))
		</TD>
		
	</TR>
</TABLE>
