
<TABLE VALIGN="top" style="border-right:1px solid #6D99B6;border-left:1px solid #6D99B6;border-top:1px solid #6D99B6;border-bottom:1px solid #6D99B6;">
	<TR>
		<TD>Subject</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("SUBJECT_ID"))
		</TD>
		
		<TD>ID</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("EXPT_ID"))
		</TD>
		
		<TD>Date</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("DATE"))
		</TD>
		
		<TD>Age</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("AGE"))
		</TD>
		
	</TR>
	<TR>
		<TD>Project</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("PROJECT"))
		</TD>
		
		<TD>Inserted</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_DATE"))
		</TD>
		
		<TD>Creator</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_USER"))
		</TD>
		
		<TD>LogMemory</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("WMS_LOGMEMORY"))
		</TD>
		
	</TR>
	<TR>
		<TD>LogMemoryRecall</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("WMS_LOGMEMORYRECALL"))
		</TD>
		
		<TD>DigitSpan</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("WMS_DIGITSPAN"))
		</TD>
		
		<TD>AssocRecallEasy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("WMS_ASSOCRECALLEASY"))
		</TD>
		
		<TD>AssocRecallHard</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("WMS_ASSOCRECALLHARD"))
		</TD>
		
	</TR>
	<TR>
		<TD>AssocRecogEasy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("WMS_ASSOCRECOGEASY"))
		</TD>
		
		<TD>AssocRecogHard</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("WMS_ASSOCRECOGHARD"))
		</TD>
		
		<TD>AssocMemRecall</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("WMS_ASSOCMEMRECALL"))
		</TD>
		
		<TD>MentalControl</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("WMS_MENTALCONTROL"))
		</TD>
		
	</TR>
	<TR>
		<TD>Trails_A</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("TRAILS_A"))
		</TD>
		
		<TD>Trails_B</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("TRAILS_B"))
		</TD>
		
		<TD>Trails_B_C</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("TRAILS_B_C"))
		</TD>
		
		<TD>Info</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("WAIS_INFO"))
		</TD>
		
	</TR>
	<TR>
		<TD>BlockDesign</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("WAIS_BLOCKDESIGN"))
		</TD>
		
		<TD>DigitSymbol</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("WAIS_DIGITSYMBOL"))
		</TD>
		
		<TD>BentonFormCDelay</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("BENTONFORMCDELAY"))
		</TD>
		
		<TD>BentonFormDCopy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("BENTONFORMDCOPY"))
		</TD>
		
	</TR>
	<TR>
		<TD>BostonNaming</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("BOSTONNAMING"))
		</TD>
		
		<TD>CrossingOff</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CROSSINGOFF"))
		</TD>
		
		<TD>WordFluency</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("WORDFLUENCY"))
		</TD>
		
		<TD>GeneralFactor</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("GENERALFACTOR"))
		</TD>
		
	</TR>
	<TR>
		<TD>Temporal</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("KANNE_TEMPORAL"))
		</TD>
		
		<TD>Parietal</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("KANNE_PARIETAL"))
		</TD>
		
		<TD>Frontal</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("KANNE_FRONTAL"))
		</TD>
		
		<TD>Animal</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("ANIMAL"))
		</TD>
		
	</TR>
	<TR>
	</TR>
</TABLE>
