
<TABLE VALIGN="top" style="border-right:1px solid #6D99B6;border-left:1px solid #6D99B6;border-top:1px solid #6D99B6;border-bottom:1px solid #6D99B6;">
	<TR>
		<TD>Subject</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("SUBJECT_ID"))
		</TD>
		
		<TD>ID</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("EXPT_ID"))
		</TD>
		
		<TD>Date</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("DATE"))
		</TD>
		
		<TD>Visit</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("VISIT_ID"))
		</TD>
		
	</TR>
	<TR>
		<TD>Note</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOTE"))
		</TD>
		
		<TD>Age</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("AGE"))
		</TD>
		
		<TD>Project</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("PROJECT"))
		</TD>
		
		<TD>Inserted</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_DATE"))
		</TD>
		
	</TR>
	<TR>
		<TD>Creator</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_USER"))
		</TD>
		
		<TD>bldCollSessId</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("BLDCOLLSESSID"))
		</TD>
		
		<TD>CSF Collection</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("BLDCOLLSESS"))
		</TD>
		
		<TD>csf_Ab40</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("AB40"))
		</TD>
		
	</TR>
	<TR>
		<TD>Ab40Units</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("AB40UNITS"))
		</TD>
		
		<TD>Ab40Lot</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("AB40LOT"))
		</TD>
		
		<TD>Ab40Plate</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("AB40PLATE"))
		</TD>
		
		<TD>Ab40AssayDate</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("AB40ASSAYDATE"))
		</TD>
		
	</TR>
	<TR>
		<TD>Ab42</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("AB42"))
		</TD>
		
		<TD>Ab42Units</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("AB42UNITS"))
		</TD>
		
		<TD>Ab42Lot</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("AB42LOT"))
		</TD>
		
		<TD>Ab42Plate</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("AB42PLATE"))
		</TD>
		
	</TR>
	<TR>
		<TD>Ab42AssayDate</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("AB42ASSAYDATE"))
		</TD>
		
		<TD>XMAPtau</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("XMAPTAU"))
		</TD>
		
		<TD>XMAPtauUnits</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("XMAPTAUUNITS"))
		</TD>
		
		<TD>XMAPtauLot</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("XMAPTAULOT"))
		</TD>
		
	</TR>
	<TR>
		<TD>XMAPtauPlate</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("XMAPTAUPLATE"))
		</TD>
		
		<TD>XMAPtauAssayDate</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("XMAPTAUASSAYDATE"))
		</TD>
		
		<TD>XMAPptau181</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("XMAPPTAU181"))
		</TD>
		
		<TD>XMAPptau181Units</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("XMAPPTAU181UNITS"))
		</TD>
		
	</TR>
	<TR>
		<TD>XMAPptau181Lot</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("XMAPPTAU181LOT"))
		</TD>
		
		<TD>XMAPptau181Plate</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("XMAPPTAU181PLATE"))
		</TD>
		
		<TD>XMAPptau181AssayDate</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("XMAPPTAU181ASSAYDATE"))
		</TD>
		
		<TD>XMAPAb42</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("XMAPAB42"))
		</TD>
		
	</TR>
	<TR>
		<TD>XMAPAb42Units</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("XMAPAB42UNITS"))
		</TD>
		
		<TD>XMAPAb42Lot</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("XMAPAB42LOT"))
		</TD>
		
		<TD>XMAPAb42Plate</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("XMAPAB42PLATE"))
		</TD>
		
		<TD>XMAPAb42AssayDate</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("XMAPAB42ASSAYDATE"))
		</TD>
		
	</TR>
	<TR>
		<TD>xMapAb42_InnoAb40Ratio</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("XMAPAb42_Ab40_Ratio"))
		</TD>
		
	</TR>
</TABLE>
