
<TABLE VALIGN="top" style="border-right:1px solid #6D99B6;border-left:1px solid #6D99B6;border-top:1px solid #6D99B6;border-bottom:1px solid #6D99B6;">
	<TR>
		<TD>Subject</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("SUBJECT_ID"))
		</TD>
		
		<TD>ID</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("EXPT_ID"))
		</TD>
		
		<TD>Date</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("DATE"))
		</TD>
		
		<TD>Age</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("AGE"))
		</TD>
		
	</TR>
	<TR>
		<TD>Project</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("PROJECT"))
		</TD>
		
		<TD>Inserted</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_DATE"))
		</TD>
		
		<TD>Creator</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_USER"))
		</TD>
		
		<TD>Mutation Status</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("MUTATIONSTATUS"))
		</TD>
		
	</TR>
	<TR>
	</TR>
</TABLE>
