
<TABLE VALIGN="top" style="border-right:1px solid #6D99B6;border-left:1px solid #6D99B6;border-top:1px solid #6D99B6;border-bottom:1px solid #6D99B6;">
	<TR>
		<TD>Subject</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("SUBJECT_ID"))
		</TD>
		
		<TD>ID</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("EXPT_ID"))
		</TD>
		
		<TD>Date</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("DATE"))
		</TD>
		
		<TD>Visit</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("VISIT_ID"))
		</TD>
		
	</TR>
	<TR>
		<TD>Note</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOTE"))
		</TD>
		
		<TD>Age</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("AGE"))
		</TD>
		
		<TD>Project</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("PROJECT"))
		</TD>
		
		<TD>Inserted</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_DATE"))
		</TD>
		
	</TR>
	<TR>
		<TD>Creator</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_USER"))
		</TD>
		
		<TD>INITIALS</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("INITIALS"))
		</TD>
		
		<TD>NPIQINF</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("NPIQINF"))
		</TD>
		
		<TD>NPIQINFX</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("NPIQINFX"))
		</TD>
		
	</TR>
	<TR>
		<TD>DEL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("DEL"))
		</TD>
		
		<TD>DELSEV</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("DELSEV"))
		</TD>
		
		<TD>HALL</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("HALL"))
		</TD>
		
		<TD>HALLSEV</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("HALLSEV"))
		</TD>
		
	</TR>
	<TR>
		<TD>AGIT</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("AGIT"))
		</TD>
		
		<TD>AGITSEV</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("AGITSEV"))
		</TD>
		
		<TD>DEPD</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("DEPD"))
		</TD>
		
		<TD>DEPDSEV</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("DEPDSEV"))
		</TD>
		
	</TR>
	<TR>
		<TD>ANX</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("ANX"))
		</TD>
		
		<TD>ANXSEV</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("ANXSEV"))
		</TD>
		
		<TD>ELAT</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("ELAT"))
		</TD>
		
		<TD>ELATSEV</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("ELATSEV"))
		</TD>
		
	</TR>
	<TR>
		<TD>APA</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("APA"))
		</TD>
		
		<TD>APASEV</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("APASEV"))
		</TD>
		
		<TD>DISN</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("DISN"))
		</TD>
		
		<TD>DISNSEV</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("DISNSEV"))
		</TD>
		
	</TR>
	<TR>
		<TD>IRR</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("IRR"))
		</TD>
		
		<TD>IRRSEV</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("IRRSEV"))
		</TD>
		
		<TD>MOT</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("MOT"))
		</TD>
		
		<TD>MOTSEV</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("MOTSEV"))
		</TD>
		
	</TR>
	<TR>
		<TD>NITE</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("NITE"))
		</TD>
		
		<TD>NITESEV</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("NITESEV"))
		</TD>
		
		<TD>APP</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("APP"))
		</TD>
		
		<TD>APPSEV</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("APPSEV"))
		</TD>
		
	</TR>
	<TR>
	</TR>
</TABLE>
