<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("Levels Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($turbineUtils.GetPassedParameter("popup", $data))
	#set ($popup = $turbineUtils.GetPassedParameter("popup", data) )
	#set ($popup = "false")
#end
<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<font face="$ui.sansSerifFonts" size="3"><b>Levels Details</b></font>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD>subject_ID</TD><TD>$!item.getStringProperty("cnda:levelsData/subject_ID")</TD></TR>
							<TR><TD>age</TD><TD>$!item.getDoubleProperty("cnda:levelsData/age")</TD></TR>
							<TR><TD>date</TD><TD>$!item.getProperty("cnda:levelsData/date")</TD></TR>
							<TR><TD>time</TD><TD>$!item.getProperty("cnda:levelsData/time")</TD></TR>
							<TR><TD>duration</TD><TD>$!item.getProperty("cnda:levelsData/duration")</TD></TR>
							<TR><TD>delay</TD><TD>$!item.getIntegerProperty("cnda:levelsData/delay")</TD></TR>
							<TR><TD>delay/ref_expt_id</TD><TD>$!item.getStringProperty("cnda:levelsData/delay/ref_expt_id")</TD></TR>
							<TR><TD>note</TD><TD>$!item.getStringProperty("cnda:levelsData/note")</TD></TR>
							<TR><TD>acquisition_site</TD><TD>$!item.getStringProperty("cnda:levelsData/acquisition_site")</TD></TR>
							<TR><TD>ID</TD><TD>$!item.getStringProperty("cnda:levelsData/ID")</TD></TR>
							<TR><TD>project</TD><TD>$!item.getStringProperty("cnda:levelsData/project")</TD></TR>
							<TR><TD>visit_id</TD><TD>$!item.getStringProperty("cnda:levelsData/visit_id")</TD></TR>
							<TR><TD>visit</TD><TD>$!item.getStringProperty("cnda:levelsData/visit")</TD></TR>
							<TR><TD>version</TD><TD>$!item.getIntegerProperty("cnda:levelsData/version")</TD></TR>
							<TR><TD>original</TD><TD>$!item.getStringProperty("cnda:levelsData/original")</TD></TR>
							<TR><TD>protocol</TD><TD>$!item.getStringProperty("cnda:levelsData/protocol")</TD></TR>
							<TR><TD>label</TD><TD>$!item.getStringProperty("cnda:levelsData/label")</TD></TR>
							<TR><TD>plasmaLD</TD><TD>$!item.getDoubleProperty("cnda:levelsData/plasmaLD")</TD></TR>
							<TR><TD>plasmaDA</TD><TD>$!item.getDoubleProperty("cnda:levelsData/plasmaDA")</TD></TR>
							<TR><TD>plasma3OMe</TD><TD>$!item.getDoubleProperty("cnda:levelsData/plasma3OMe")</TD></TR>
							<TR><TD>plasmaDC</TD><TD>$!item.getDoubleProperty("cnda:levelsData/plasmaDC")</TD></TR>
							<TR><TD>plasmaCD</TD><TD>$!item.getDoubleProperty("cnda:levelsData/plasmaCD")</TD></TR>
							<TR><TD>problem</TD><TD>$!item.getBooleanProperty("cnda:levelsData/problem")</TD></TR>
							<TR><TD>questionableLD</TD><TD>$!item.getBooleanProperty("cnda:levelsData/questionableLD")</TD></TR>
							<TR><TD>questionableDA</TD><TD>$!item.getBooleanProperty("cnda:levelsData/questionableDA")</TD></TR>
							<TR><TD>questionable3OMe</TD><TD>$!item.getBooleanProperty("cnda:levelsData/questionable3OMe")</TD></TR>
							<TR><TD>questionableDC</TD><TD>$!item.getBooleanProperty("cnda:levelsData/questionableDC")</TD></TR>
							<TR><TD>questionableCD</TD><TD>$!item.getBooleanProperty("cnda:levelsData/questionableCD")</TD></TR>
							<TR><TD>knownForIVLD1</TD><TD>$!item.getBooleanProperty("cnda:levelsData/knownForIVLD1")</TD></TR>
							<TR><TD>rejectedForIVLD1</TD><TD>$!item.getBooleanProperty("cnda:levelsData/rejectedForIVLD1")</TD></TR>
						</TABLE>
					</TD>
					<TD valign="top" align="right">
						#parse($turbineUtils.getTemplateName("actions",$om.getXSIType(),$project))
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN cnda:levelsData -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Related Items</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
						</TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_share_1_NUM_ROWS=$item.getChildItems("cnda:levelsData/sharing/share").size() - 1)
							#if($xnat_experimentData_share_1_NUM_ROWS>=0)
								#foreach($xnat_experimentData_share_1_COUNTER in [0..$xnat_experimentData_share_1_NUM_ROWS])
<!-- BEGIN cnda:levelsData/sharing/share[$xnat_experimentData_share_1_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:levelsData/sharing/share[$xnat_experimentData_share_1_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>share</TD><TD>$!item.getStringProperty("cnda:levelsData/sharing/share[$xnat_experimentData_share_1_COUNTER]/share")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("cnda:levelsData/sharing/share[$xnat_experimentData_share_1_COUNTER]/label")</TD></TR>
													<TR><TD>project</TD><TD>$!item.getStringProperty("cnda:levelsData/sharing/share[$xnat_experimentData_share_1_COUNTER]/project")</TD></TR>
													<TR><TD>visit</TD><TD>$!item.getStringProperty("cnda:levelsData/sharing/share[$xnat_experimentData_share_1_COUNTER]/visit")</TD></TR>
													<TR><TD>protocol</TD><TD>$!item.getStringProperty("cnda:levelsData/sharing/share[$xnat_experimentData_share_1_COUNTER]/protocol")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END cnda:levelsData/sharing/share[$xnat_experimentData_share_1_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN cnda:levelsData/investigator -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:levelsData/investigator</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>title</TD><TD>$!item.getStringProperty("cnda:levelsData/investigator/title")</TD></TR>
										<TR><TD>firstname</TD><TD>$!item.getStringProperty("cnda:levelsData/investigator/firstname")</TD></TR>
										<TR><TD>lastname</TD><TD>$!item.getStringProperty("cnda:levelsData/investigator/lastname")</TD></TR>
										<TR><TD>institution</TD><TD>$!item.getStringProperty("cnda:levelsData/investigator/institution")</TD></TR>
										<TR><TD>department</TD><TD>$!item.getStringProperty("cnda:levelsData/investigator/department")</TD></TR>
										<TR><TD>email</TD><TD>$!item.getStringProperty("cnda:levelsData/investigator/email")</TD></TR>
										<TR><TD>phone</TD><TD>$!item.getStringProperty("cnda:levelsData/investigator/phone")</TD></TR>
										<TR><TD>ID</TD><TD>$!item.getStringProperty("cnda:levelsData/investigator/ID")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END cnda:levelsData/investigator -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN cnda:levelsData/validation -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:levelsData/validation</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>method</TD><TD>$!item.getStringProperty("cnda:levelsData/validation/method")</TD></TR>
										<TR><TD>date</TD><TD>$!item.getProperty("cnda:levelsData/validation/date")</TD></TR>
										<TR><TD>notes</TD><TD>$!item.getStringProperty("cnda:levelsData/validation/notes")</TD></TR>
										<TR><TD>validated_by</TD><TD>$!item.getStringProperty("cnda:levelsData/validation/validated_by")</TD></TR>
										<TR><TD>status</TD><TD>$!item.getStringProperty("cnda:levelsData/validation/status")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END cnda:levelsData/validation -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_abstractResource_4_NUM_ROWS=$item.getChildItems("cnda:levelsData/resources/resource").size() - 1)
							#if($xnat_abstractResource_4_NUM_ROWS>=0)
								#foreach($xnat_abstractResource_4_COUNTER in [0..$xnat_abstractResource_4_NUM_ROWS])
<!-- BEGIN cnda:levelsData/resources/resource[$xnat_abstractResource_4_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:levelsData/resources/resource[$xnat_abstractResource_4_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>note</TD><TD>$!item.getStringProperty("cnda:levelsData/resources/resource[$xnat_abstractResource_4_COUNTER]/note")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("cnda:levelsData/resources/resource[$xnat_abstractResource_4_COUNTER]/label")</TD></TR>
													<TR><TD>file_count</TD><TD>$!item.getIntegerProperty("cnda:levelsData/resources/resource[$xnat_abstractResource_4_COUNTER]/file_count")</TD></TR>
													<TR><TD>file_size</TD><TD>$!item.getProperty("cnda:levelsData/resources/resource[$xnat_abstractResource_4_COUNTER]/file_size")</TD></TR>
												</TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_abstractResource_tag_5_NUM_ROWS=$item.getChildItems("cnda:levelsData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag").size() - 1)
													#if($xnat_abstractResource_tag_5_NUM_ROWS>=0)
														#foreach($xnat_abstractResource_tag_5_COUNTER in [0..$xnat_abstractResource_tag_5_NUM_ROWS])
<!-- BEGIN cnda:levelsData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:levelsData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>tag</TD><TD>$!item.getStringProperty("cnda:levelsData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]/tag")</TD></TR>
																			<TR><TD>name</TD><TD>$!item.getStringProperty("cnda:levelsData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]/name")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END cnda:levelsData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END cnda:levelsData/resources/resource[$xnat_abstractResource_4_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_field_6_NUM_ROWS=$item.getChildItems("cnda:levelsData/fields/field").size() - 1)
							#if($xnat_experimentData_field_6_NUM_ROWS>=0)
								#foreach($xnat_experimentData_field_6_COUNTER in [0..$xnat_experimentData_field_6_NUM_ROWS])
<!-- BEGIN cnda:levelsData/fields/field[$xnat_experimentData_field_6_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:levelsData/fields/field[$xnat_experimentData_field_6_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>field</TD><TD>$!item.getStringProperty("cnda:levelsData/fields/field[$xnat_experimentData_field_6_COUNTER]/field")</TD></TR>
													<TR><TD>name</TD><TD>$!item.getStringProperty("cnda:levelsData/fields/field[$xnat_experimentData_field_6_COUNTER]/name")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END cnda:levelsData/fields/field[$xnat_experimentData_field_6_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
			</TABLE>
<!-- END cnda:levelsData -->
		</TD>
	</TR>
</TABLE><BR>#parse("/screens/ReportProjectSpecificFields.vm")
