<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("ADVERSE Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($turbineUtils.GetPassedParameter("popup", $data))
	#set ($popup = $turbineUtils.GetPassedParameter("popup", data) )
	#set ($popup = "false")
#end
<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<font face="$ui.sansSerifFonts" size="3"><b>ADVERSE Details</b></font>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD>subject_ID</TD><TD>$!item.getStringProperty("dian:adverseData/subject_ID")</TD></TR>
							<TR><TD>age</TD><TD>$!item.getDoubleProperty("dian:adverseData/age")</TD></TR>
							<TR><TD>date</TD><TD>$!item.getProperty("dian:adverseData/date")</TD></TR>
							<TR><TD>time</TD><TD>$!item.getProperty("dian:adverseData/time")</TD></TR>
							<TR><TD>duration</TD><TD>$!item.getProperty("dian:adverseData/duration")</TD></TR>
							<TR><TD>delay</TD><TD>$!item.getIntegerProperty("dian:adverseData/delay")</TD></TR>
							<TR><TD>delay/ref_expt_id</TD><TD>$!item.getStringProperty("dian:adverseData/delay/ref_expt_id")</TD></TR>
							<TR><TD>note</TD><TD>$!item.getStringProperty("dian:adverseData/note")</TD></TR>
							<TR><TD>acquisition_site</TD><TD>$!item.getStringProperty("dian:adverseData/acquisition_site")</TD></TR>
							<TR><TD>ID</TD><TD>$!item.getStringProperty("dian:adverseData/ID")</TD></TR>
							<TR><TD>project</TD><TD>$!item.getStringProperty("dian:adverseData/project")</TD></TR>
							<TR><TD>visit_id</TD><TD>$!item.getStringProperty("dian:adverseData/visit_id")</TD></TR>
							<TR><TD>visit</TD><TD>$!item.getStringProperty("dian:adverseData/visit")</TD></TR>
							<TR><TD>version</TD><TD>$!item.getIntegerProperty("dian:adverseData/version")</TD></TR>
							<TR><TD>original</TD><TD>$!item.getStringProperty("dian:adverseData/original")</TD></TR>
							<TR><TD>protocol</TD><TD>$!item.getStringProperty("dian:adverseData/protocol")</TD></TR>
							<TR><TD>label</TD><TD>$!item.getStringProperty("dian:adverseData/label")</TD></TR>
						</TABLE>
					</TD>
					<TD valign="top" align="right">
						#parse($turbineUtils.getTemplateName("actions",$om.getXSIType(),$project))
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN dian:adverseData -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Related Items</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
						</TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_share_1_NUM_ROWS=$item.getChildItems("dian:adverseData/sharing/share").size() - 1)
							#if($xnat_experimentData_share_1_NUM_ROWS>=0)
								#foreach($xnat_experimentData_share_1_COUNTER in [0..$xnat_experimentData_share_1_NUM_ROWS])
<!-- BEGIN dian:adverseData/sharing/share[$xnat_experimentData_share_1_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">dian:adverseData/sharing/share[$xnat_experimentData_share_1_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>share</TD><TD>$!item.getStringProperty("dian:adverseData/sharing/share[$xnat_experimentData_share_1_COUNTER]/share")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("dian:adverseData/sharing/share[$xnat_experimentData_share_1_COUNTER]/label")</TD></TR>
													<TR><TD>project</TD><TD>$!item.getStringProperty("dian:adverseData/sharing/share[$xnat_experimentData_share_1_COUNTER]/project")</TD></TR>
													<TR><TD>visit</TD><TD>$!item.getStringProperty("dian:adverseData/sharing/share[$xnat_experimentData_share_1_COUNTER]/visit")</TD></TR>
													<TR><TD>protocol</TD><TD>$!item.getStringProperty("dian:adverseData/sharing/share[$xnat_experimentData_share_1_COUNTER]/protocol")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END dian:adverseData/sharing/share[$xnat_experimentData_share_1_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN dian:adverseData/investigator -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">dian:adverseData/investigator</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>title</TD><TD>$!item.getStringProperty("dian:adverseData/investigator/title")</TD></TR>
										<TR><TD>firstname</TD><TD>$!item.getStringProperty("dian:adverseData/investigator/firstname")</TD></TR>
										<TR><TD>lastname</TD><TD>$!item.getStringProperty("dian:adverseData/investigator/lastname")</TD></TR>
										<TR><TD>institution</TD><TD>$!item.getStringProperty("dian:adverseData/investigator/institution")</TD></TR>
										<TR><TD>department</TD><TD>$!item.getStringProperty("dian:adverseData/investigator/department")</TD></TR>
										<TR><TD>email</TD><TD>$!item.getStringProperty("dian:adverseData/investigator/email")</TD></TR>
										<TR><TD>phone</TD><TD>$!item.getStringProperty("dian:adverseData/investigator/phone")</TD></TR>
										<TR><TD>ID</TD><TD>$!item.getStringProperty("dian:adverseData/investigator/ID")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END dian:adverseData/investigator -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN dian:adverseData/validation -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">dian:adverseData/validation</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>method</TD><TD>$!item.getStringProperty("dian:adverseData/validation/method")</TD></TR>
										<TR><TD>date</TD><TD>$!item.getProperty("dian:adverseData/validation/date")</TD></TR>
										<TR><TD>notes</TD><TD>$!item.getStringProperty("dian:adverseData/validation/notes")</TD></TR>
										<TR><TD>validated_by</TD><TD>$!item.getStringProperty("dian:adverseData/validation/validated_by")</TD></TR>
										<TR><TD>status</TD><TD>$!item.getStringProperty("dian:adverseData/validation/status")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END dian:adverseData/validation -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_abstractResource_4_NUM_ROWS=$item.getChildItems("dian:adverseData/resources/resource").size() - 1)
							#if($xnat_abstractResource_4_NUM_ROWS>=0)
								#foreach($xnat_abstractResource_4_COUNTER in [0..$xnat_abstractResource_4_NUM_ROWS])
<!-- BEGIN dian:adverseData/resources/resource[$xnat_abstractResource_4_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">dian:adverseData/resources/resource[$xnat_abstractResource_4_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>note</TD><TD>$!item.getStringProperty("dian:adverseData/resources/resource[$xnat_abstractResource_4_COUNTER]/note")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("dian:adverseData/resources/resource[$xnat_abstractResource_4_COUNTER]/label")</TD></TR>
													<TR><TD>file_count</TD><TD>$!item.getIntegerProperty("dian:adverseData/resources/resource[$xnat_abstractResource_4_COUNTER]/file_count")</TD></TR>
													<TR><TD>file_size</TD><TD>$!item.getProperty("dian:adverseData/resources/resource[$xnat_abstractResource_4_COUNTER]/file_size")</TD></TR>
												</TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_abstractResource_tag_5_NUM_ROWS=$item.getChildItems("dian:adverseData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag").size() - 1)
													#if($xnat_abstractResource_tag_5_NUM_ROWS>=0)
														#foreach($xnat_abstractResource_tag_5_COUNTER in [0..$xnat_abstractResource_tag_5_NUM_ROWS])
<!-- BEGIN dian:adverseData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">dian:adverseData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>tag</TD><TD>$!item.getStringProperty("dian:adverseData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]/tag")</TD></TR>
																			<TR><TD>name</TD><TD>$!item.getStringProperty("dian:adverseData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]/name")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END dian:adverseData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END dian:adverseData/resources/resource[$xnat_abstractResource_4_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_field_6_NUM_ROWS=$item.getChildItems("dian:adverseData/fields/field").size() - 1)
							#if($xnat_experimentData_field_6_NUM_ROWS>=0)
								#foreach($xnat_experimentData_field_6_COUNTER in [0..$xnat_experimentData_field_6_NUM_ROWS])
<!-- BEGIN dian:adverseData/fields/field[$xnat_experimentData_field_6_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">dian:adverseData/fields/field[$xnat_experimentData_field_6_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>field</TD><TD>$!item.getStringProperty("dian:adverseData/fields/field[$xnat_experimentData_field_6_COUNTER]/field")</TD></TR>
													<TR><TD>name</TD><TD>$!item.getStringProperty("dian:adverseData/fields/field[$xnat_experimentData_field_6_COUNTER]/name")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END dian:adverseData/fields/field[$xnat_experimentData_field_6_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($dian_adverseData_adverse_7_NUM_ROWS=$item.getChildItems("dian:adverseData/adverseList/adverse").size() - 1)
							#if($dian_adverseData_adverse_7_NUM_ROWS>=0)
								#foreach($dian_adverseData_adverse_7_COUNTER in [0..$dian_adverseData_adverse_7_NUM_ROWS])
<!-- BEGIN dian:adverseData/adverseList/adverse[$dian_adverseData_adverse_7_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">dian:adverseData/adverseList/adverse[$dian_adverseData_adverse_7_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>RECNO</TD><TD>$!item.getIntegerProperty("dian:adverseData/adverseList/adverse[$dian_adverseData_adverse_7_COUNTER]/RECNO")</TD></TR>
													<TR><TD>AEEVENT</TD><TD>$!item.getStringProperty("dian:adverseData/adverseList/adverse[$dian_adverseData_adverse_7_COUNTER]/AEEVENT")</TD></TR>
													<TR><TD>AEONDATE</TD><TD>$!item.getProperty("dian:adverseData/adverseList/adverse[$dian_adverseData_adverse_7_COUNTER]/AEONDATE")</TD></TR>
													<TR><TD>AEONYEAR</TD><TD>$!item.getIntegerProperty("dian:adverseData/adverseList/adverse[$dian_adverseData_adverse_7_COUNTER]/AEONYEAR")</TD></TR>
													<TR><TD>AEONMONTH</TD><TD>$!item.getIntegerProperty("dian:adverseData/adverseList/adverse[$dian_adverseData_adverse_7_COUNTER]/AEONMONTH")</TD></TR>
													<TR><TD>AEONDAY</TD><TD>$!item.getIntegerProperty("dian:adverseData/adverseList/adverse[$dian_adverseData_adverse_7_COUNTER]/AEONDAY")</TD></TR>
													<TR><TD>AEONGO</TD><TD>$!item.getIntegerProperty("dian:adverseData/adverseList/adverse[$dian_adverseData_adverse_7_COUNTER]/AEONGO")</TD></TR>
													<TR><TD>AEOFFDATE</TD><TD>$!item.getProperty("dian:adverseData/adverseList/adverse[$dian_adverseData_adverse_7_COUNTER]/AEOFFDATE")</TD></TR>
													<TR><TD>AEOFFYEAR</TD><TD>$!item.getIntegerProperty("dian:adverseData/adverseList/adverse[$dian_adverseData_adverse_7_COUNTER]/AEOFFYEAR")</TD></TR>
													<TR><TD>AEOFFMONTH</TD><TD>$!item.getIntegerProperty("dian:adverseData/adverseList/adverse[$dian_adverseData_adverse_7_COUNTER]/AEOFFMONTH")</TD></TR>
													<TR><TD>AEOFFDAY</TD><TD>$!item.getIntegerProperty("dian:adverseData/adverseList/adverse[$dian_adverseData_adverse_7_COUNTER]/AEOFFDAY")</TD></TR>
													<TR><TD>AESEVR</TD><TD>$!item.getIntegerProperty("dian:adverseData/adverseList/adverse[$dian_adverseData_adverse_7_COUNTER]/AESEVR")</TD></TR>
													<TR><TD>AELP</TD><TD>$!item.getIntegerProperty("dian:adverseData/adverseList/adverse[$dian_adverseData_adverse_7_COUNTER]/AELP")</TD></TR>
													<TR><TD>AERELAT</TD><TD>$!item.getIntegerProperty("dian:adverseData/adverseList/adverse[$dian_adverseData_adverse_7_COUNTER]/AERELAT")</TD></TR>
													<TR><TD>AERELATO</TD><TD>$!item.getStringProperty("dian:adverseData/adverseList/adverse[$dian_adverseData_adverse_7_COUNTER]/AERELATO")</TD></TR>
													<TR><TD>AECMED</TD><TD>$!item.getIntegerProperty("dian:adverseData/adverseList/adverse[$dian_adverseData_adverse_7_COUNTER]/AECMED")</TD></TR>
													<TR><TD>SAE</TD><TD>$!item.getIntegerProperty("dian:adverseData/adverseList/adverse[$dian_adverseData_adverse_7_COUNTER]/SAE")</TD></TR>
													<TR><TD>SAEREASON</TD><TD>$!item.getStringProperty("dian:adverseData/adverseList/adverse[$dian_adverseData_adverse_7_COUNTER]/SAEREASON")</TD></TR>
													<TR><TD>AEINPT</TD><TD>$!item.getProperty("dian:adverseData/adverseList/adverse[$dian_adverseData_adverse_7_COUNTER]/AEINPT")</TD></TR>
													<TR><TD>AEDISDATE</TD><TD>$!item.getProperty("dian:adverseData/adverseList/adverse[$dian_adverseData_adverse_7_COUNTER]/AEDISDATE")</TD></TR>
													<TR><TD>AEDEADT</TD><TD>$!item.getProperty("dian:adverseData/adverseList/adverse[$dian_adverseData_adverse_7_COUNTER]/AEDEADT")</TD></TR>
													<TR><TD>AEDEARS</TD><TD>$!item.getStringProperty("dian:adverseData/adverseList/adverse[$dian_adverseData_adverse_7_COUNTER]/AEDEARS")</TD></TR>
													<TR><TD>AEAUTOP</TD><TD>$!item.getIntegerProperty("dian:adverseData/adverseList/adverse[$dian_adverseData_adverse_7_COUNTER]/AEAUTOP")</TD></TR>
													<TR><TD>AECOMM</TD><TD>$!item.getStringProperty("dian:adverseData/adverseList/adverse[$dian_adverseData_adverse_7_COUNTER]/AECOMM")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END dian:adverseData/adverseList/adverse[$dian_adverseData_adverse_7_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
			</TABLE>
<!-- END dian:adverseData -->
		</TD>
	</TR>
</TABLE><BR>#parse("/screens/ReportProjectSpecificFields.vm")
