<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("XDAT")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#set($months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"])
#set($days = [ 1..31 ])
#set($years = [ $!turbineUtils.getYear()..1900])
#if ($data.message)
<font color="red" size="3">$data.message</font>
#end
<p>
<form ID="form1" name="form1" method="post" action="$link.setAction("ModifySubjectAssessorData")">
<input type="hidden" name="project" value="$!{project}" >
#if($vr)
	<font color="red">Invalid parameters:<BR>$vr.toHTML()</font>
<HR>
#end

<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<DIV class="edit_title">B3UPDRS Details</DIV>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD colspan='2'>
								#parse("/screens/xnat_edit_subjectAssessorData.vm")
							</TD></TR>
							<tr>
								<TD colspan="2">#parse("/screens/EditProjectSpecificFields.vm")</TD>
							</tr>
							<TR><TD>age</TD><TD>#xdatTextBox("uds:b3updrsData/age" $item "" $vr)</TD></TR>
							<TR><TD>date</TD><TD>#xdatDateBox("uds:b3updrsData/date" $item $vr $years)</TD></TR>
							<TR><TD>time</TD><TD>#xdatTextBox("uds:b3updrsData/time" $item "" $vr)</TD></TR>
							<TR><TD>duration</TD><TD>#xdatTextBox("uds:b3updrsData/duration" $item "" $vr)</TD></TR>
							<TR><TD>delay</TD><TD>#xdatTextBox("uds:b3updrsData/delay" $item "" $vr)</TD></TR>
							<TR><TD>delay/ref_expt_id</TD><TD>#xdatStringBox("uds:b3updrsData/delay/ref_expt_id" $item "" $vr)</TD></TR>
							<TR><TD>note</TD><TD>#xdatStringBox("uds:b3updrsData/note" $item "" $vr)</TD></TR>
							<TR><TD>acquisition_site</TD><TD>#xdatStringBox("uds:b3updrsData/acquisition_site" $item "" $vr)</TD></TR>
							<TR><TD>visit_id</TD><TD>#xdatStringBox("uds:b3updrsData/visit_id" $item "" $vr)</TD></TR>
							<TR><TD>visit</TD><TD>#xdatStringBox("uds:b3updrsData/visit" $item "" $vr)</TD></TR>
							<TR><TD>version</TD><TD>#xdatTextBox("uds:b3updrsData/version" $item "" $vr)</TD></TR>
							<TR><TD>original</TD><TD>#xdatStringBox("uds:b3updrsData/original" $item "" $vr)</TD></TR>
							<TR><TD>protocol</TD><TD>#xdatStringBox("uds:b3updrsData/protocol" $item "" $vr)</TD></TR>
							<TR><TD>label</TD><TD>#xdatStringBox("uds:b3updrsData/label" $item "" $vr)</TD></TR>
							<TR><TD>INITIALS</TD><TD>#xdatStringBox("uds:b3updrsData/INITIALS" $item "" $vr)</TD></TR>
							<TR><TD>PDNORMAL</TD><TD>#xdatTextBox("uds:b3updrsData/PDNORMAL" $item "" $vr)</TD></TR>
							<TR><TD>SPEECH</TD><TD>#xdatTextBox("uds:b3updrsData/SPEECH" $item "" $vr)</TD></TR>
							<TR><TD>SPEECHX</TD><TD>#xdatStringBox("uds:b3updrsData/SPEECHX" $item "" $vr)</TD></TR>
							<TR><TD>FACEXP</TD><TD>#xdatTextBox("uds:b3updrsData/FACEXP" $item "" $vr)</TD></TR>
							<TR><TD>FACEXPX</TD><TD>#xdatStringBox("uds:b3updrsData/FACEXPX" $item "" $vr)</TD></TR>
							<TR><TD>TRESTFAC</TD><TD>#xdatTextBox("uds:b3updrsData/TRESTFAC" $item "" $vr)</TD></TR>
							<TR><TD>TRESTFAX</TD><TD>#xdatStringBox("uds:b3updrsData/TRESTFAX" $item "" $vr)</TD></TR>
							<TR><TD>TRESTRHD</TD><TD>#xdatTextBox("uds:b3updrsData/TRESTRHD" $item "" $vr)</TD></TR>
							<TR><TD>TRESTRHX</TD><TD>#xdatStringBox("uds:b3updrsData/TRESTRHX" $item "" $vr)</TD></TR>
							<TR><TD>TRESTLHD</TD><TD>#xdatTextBox("uds:b3updrsData/TRESTLHD" $item "" $vr)</TD></TR>
							<TR><TD>TRESTLHX</TD><TD>#xdatStringBox("uds:b3updrsData/TRESTLHX" $item "" $vr)</TD></TR>
							<TR><TD>TRESTRFT</TD><TD>#xdatTextBox("uds:b3updrsData/TRESTRFT" $item "" $vr)</TD></TR>
							<TR><TD>TRESTRFX</TD><TD>#xdatStringBox("uds:b3updrsData/TRESTRFX" $item "" $vr)</TD></TR>
							<TR><TD>TRESTLFT</TD><TD>#xdatTextBox("uds:b3updrsData/TRESTLFT" $item "" $vr)</TD></TR>
							<TR><TD>TRESTLFX</TD><TD>#xdatStringBox("uds:b3updrsData/TRESTLFX" $item "" $vr)</TD></TR>
							<TR><TD>TRACTRHD</TD><TD>#xdatTextBox("uds:b3updrsData/TRACTRHD" $item "" $vr)</TD></TR>
							<TR><TD>TRACTRHX</TD><TD>#xdatStringBox("uds:b3updrsData/TRACTRHX" $item "" $vr)</TD></TR>
							<TR><TD>TRACTLHD</TD><TD>#xdatTextBox("uds:b3updrsData/TRACTLHD" $item "" $vr)</TD></TR>
							<TR><TD>TRACTLHX</TD><TD>#xdatStringBox("uds:b3updrsData/TRACTLHX" $item "" $vr)</TD></TR>
							<TR><TD>RIGDNECK</TD><TD>#xdatTextBox("uds:b3updrsData/RIGDNECK" $item "" $vr)</TD></TR>
							<TR><TD>RIGDNEX</TD><TD>#xdatStringBox("uds:b3updrsData/RIGDNEX" $item "" $vr)</TD></TR>
							<TR><TD>RIGDUPRT</TD><TD>#xdatTextBox("uds:b3updrsData/RIGDUPRT" $item "" $vr)</TD></TR>
							<TR><TD>RIGDUPRX</TD><TD>#xdatStringBox("uds:b3updrsData/RIGDUPRX" $item "" $vr)</TD></TR>
							<TR><TD>RIGDUPLF</TD><TD>#xdatTextBox("uds:b3updrsData/RIGDUPLF" $item "" $vr)</TD></TR>
							<TR><TD>RIGDUPLX</TD><TD>#xdatStringBox("uds:b3updrsData/RIGDUPLX" $item "" $vr)</TD></TR>
							<TR><TD>RIGDLORT</TD><TD>#xdatTextBox("uds:b3updrsData/RIGDLORT" $item "" $vr)</TD></TR>
							<TR><TD>RIGDLORX</TD><TD>#xdatStringBox("uds:b3updrsData/RIGDLORX" $item "" $vr)</TD></TR>
							<TR><TD>RIGDLOLF</TD><TD>#xdatTextBox("uds:b3updrsData/RIGDLOLF" $item "" $vr)</TD></TR>
							<TR><TD>RIGDLOLX</TD><TD>#xdatStringBox("uds:b3updrsData/RIGDLOLX" $item "" $vr)</TD></TR>
							<TR><TD>TAPSRT</TD><TD>#xdatTextBox("uds:b3updrsData/TAPSRT" $item "" $vr)</TD></TR>
							<TR><TD>TAPSRTX</TD><TD>#xdatStringBox("uds:b3updrsData/TAPSRTX" $item "" $vr)</TD></TR>
							<TR><TD>TAPSLF</TD><TD>#xdatTextBox("uds:b3updrsData/TAPSLF" $item "" $vr)</TD></TR>
							<TR><TD>TAPSLFX</TD><TD>#xdatStringBox("uds:b3updrsData/TAPSLFX" $item "" $vr)</TD></TR>
							<TR><TD>HANDMOVR</TD><TD>#xdatTextBox("uds:b3updrsData/HANDMOVR" $item "" $vr)</TD></TR>
							<TR><TD>HANDMVRX</TD><TD>#xdatStringBox("uds:b3updrsData/HANDMVRX" $item "" $vr)</TD></TR>
							<TR><TD>HANDMOVL</TD><TD>#xdatTextBox("uds:b3updrsData/HANDMOVL" $item "" $vr)</TD></TR>
							<TR><TD>HANDMVLX</TD><TD>#xdatStringBox("uds:b3updrsData/HANDMVLX" $item "" $vr)</TD></TR>
							<TR><TD>HANDALTR</TD><TD>#xdatTextBox("uds:b3updrsData/HANDALTR" $item "" $vr)</TD></TR>
							<TR><TD>HANDATRX</TD><TD>#xdatStringBox("uds:b3updrsData/HANDATRX" $item "" $vr)</TD></TR>
							<TR><TD>HANDALTL</TD><TD>#xdatTextBox("uds:b3updrsData/HANDALTL" $item "" $vr)</TD></TR>
							<TR><TD>HANDATLX</TD><TD>#xdatStringBox("uds:b3updrsData/HANDATLX" $item "" $vr)</TD></TR>
							<TR><TD>LEGRT</TD><TD>#xdatTextBox("uds:b3updrsData/LEGRT" $item "" $vr)</TD></TR>
							<TR><TD>LEGRTX</TD><TD>#xdatStringBox("uds:b3updrsData/LEGRTX" $item "" $vr)</TD></TR>
							<TR><TD>LEGLF</TD><TD>#xdatTextBox("uds:b3updrsData/LEGLF" $item "" $vr)</TD></TR>
							<TR><TD>LEGLFX</TD><TD>#xdatStringBox("uds:b3updrsData/LEGLFX" $item "" $vr)</TD></TR>
							<TR><TD>ARISING</TD><TD>#xdatTextBox("uds:b3updrsData/ARISING" $item "" $vr)</TD></TR>
							<TR><TD>ARISINGX</TD><TD>#xdatStringBox("uds:b3updrsData/ARISINGX" $item "" $vr)</TD></TR>
							<TR><TD>POSTURE</TD><TD>#xdatTextBox("uds:b3updrsData/POSTURE" $item "" $vr)</TD></TR>
							<TR><TD>POSTUREX</TD><TD>#xdatStringBox("uds:b3updrsData/POSTUREX" $item "" $vr)</TD></TR>
							<TR><TD>GAIT</TD><TD>#xdatTextBox("uds:b3updrsData/GAIT" $item "" $vr)</TD></TR>
							<TR><TD>GAITX</TD><TD>#xdatStringBox("uds:b3updrsData/GAITX" $item "" $vr)</TD></TR>
							<TR><TD>POSSTAB</TD><TD>#xdatTextBox("uds:b3updrsData/POSSTAB" $item "" $vr)</TD></TR>
							<TR><TD>POSSTABX</TD><TD>#xdatStringBox("uds:b3updrsData/POSSTABX" $item "" $vr)</TD></TR>
							<TR><TD>BRADYKIN</TD><TD>#xdatTextBox("uds:b3updrsData/BRADYKIN" $item "" $vr)</TD></TR>
							<TR><TD>BRADYKIX</TD><TD>#xdatStringBox("uds:b3updrsData/BRADYKIX" $item "" $vr)</TD></TR>
						</TABLE>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN uds:b3updrsData -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Related Items</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN uds:b3updrsData/investigator -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">uds:b3updrsData/investigator</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>title</TD><TD>#xdatStringBox("uds:b3updrsData/investigator/title" $item "" $vr)</TD></TR>
										<TR><TD>firstname</TD><TD>#xdatStringBox("uds:b3updrsData/investigator/firstname" $item "" $vr)</TD></TR>
										<TR><TD>lastname</TD><TD>#xdatStringBox("uds:b3updrsData/investigator/lastname" $item "" $vr)</TD></TR>
										<TR><TD>institution</TD><TD>#xdatStringBox("uds:b3updrsData/investigator/institution" $item "" $vr)</TD></TR>
										<TR><TD>department</TD><TD>#xdatStringBox("uds:b3updrsData/investigator/department" $item "" $vr)</TD></TR>
										<TR><TD>email</TD><TD>#xdatStringBox("uds:b3updrsData/investigator/email" $item "" $vr)</TD></TR>
										<TR><TD>phone</TD><TD>#xdatStringBox("uds:b3updrsData/investigator/phone" $item "" $vr)</TD></TR>
										<TR><TD>ID</TD><TD>#xdatStringBox("uds:b3updrsData/investigator/ID" $item "" $vr)</TD></TR>
																#xdatHiddenBox("uds:b3updrsData/investigator/xnat_investigatorData_id" $item "")
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END uds:b3updrsData/investigator -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN uds:b3updrsData/validation -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">uds:b3updrsData/validation</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>method</TD><TD>#xdatStringBox("uds:b3updrsData/validation/method" $item "" $vr)</TD></TR>
										<TR><TD>date</TD><TD>#xdatDateBox("uds:b3updrsData/validation/date" $item $vr $years)</TD></TR>
										<TR><TD>notes</TD><TD>#xdatStringBox("uds:b3updrsData/validation/notes" $item "" $vr)</TD></TR>
										<TR><TD>validated_by</TD><TD>#xdatStringBox("uds:b3updrsData/validation/validated_by" $item "" $vr)</TD></TR>
										<TR><TD>status</TD><TD>#xdatStringBox("uds:b3updrsData/validation/status" $item "" $vr)</TD></TR>
																#xdatHiddenBox("uds:b3updrsData/validation/xnat_validationData_id" $item "")
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END uds:b3updrsData/validation -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#foreach($xnat_abstractResource_3_COUNTER in [0..5])
<!-- BEGIN uds:b3updrsData/resources/resource[$xnat_abstractResource_3_COUNTER] -->
								<TABLE>
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">uds:b3updrsData/resources/resource[$xnat_abstractResource_3_COUNTER]</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR><TD>note</TD><TD>#xdatStringBox("uds:b3updrsData/resources/resource[$xnat_abstractResource_3_COUNTER]/note" $item "" $vr)</TD></TR>
												<TR><TD>label</TD><TD>#xdatStringBox("uds:b3updrsData/resources/resource[$xnat_abstractResource_3_COUNTER]/label" $item "" $vr)</TD></TR>
												<TR><TD>file_count</TD><TD>#xdatTextBox("uds:b3updrsData/resources/resource[$xnat_abstractResource_3_COUNTER]/file_count" $item "" $vr)</TD></TR>
												<TR><TD>file_size</TD><TD>#xdatTextBox("uds:b3updrsData/resources/resource[$xnat_abstractResource_3_COUNTER]/file_size" $item "" $vr)</TD></TR>
																		#xdatHiddenBox("uds:b3updrsData/resources/resource[$xnat_abstractResource_3_COUNTER]/xnat_abstractResource_id" $item "")
											</TABLE>
										</TD>
									</TR>
<!-- BEGIN uds:b3updrsData/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag -->
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">uds:b3updrsData/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR>
													<TD>tag</TD>
													<TD>name</TD>
												</TR>
												#foreach($xnat_abstractResource_tag_4_COUNTER in [0..5])
													<TR>
														<TD>#xdatTextBox("uds:b3updrsData/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]/tag" $item "" $vr)</TD>
														<TD>#xdatTextBox("uds:b3updrsData/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]/name" $item "" $vr)</TD>
														#xdatHiddenBox("uds:b3updrsData/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]/xnat_abstractResource_tag_id" $item "")
													</TR>
												#end
											</TABLE>
										</TD>
									</TR>
<!-- END uds:b3updrsData/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag -->
								</TABLE>
<!-- END uds:b3updrsData/resources/resource[$xnat_abstractResource_3_COUNTER] -->
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
<!-- BEGIN uds:b3updrsData/fields/field -->
				<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">uds:b3updrsData/fields/field</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
							<TR>
								<TD>field</TD>
								<TD>name</TD>
							</TR>
							#foreach($xnat_experimentData_field_4_COUNTER in [0..5])
								<TR>
									<TD>#xdatTextBox("uds:b3updrsData/fields/field[$xnat_experimentData_field_4_COUNTER]/field" $item "" $vr)</TD>
									<TD>#xdatTextBox("uds:b3updrsData/fields/field[$xnat_experimentData_field_4_COUNTER]/name" $item "" $vr)</TD>
									#xdatHiddenBox("uds:b3updrsData/fields/field[$xnat_experimentData_field_4_COUNTER]/xnat_experimentData_field_id" $item "")
								</TR>
							#end
						</TABLE>
					</TD>
				</TR>
<!-- END uds:b3updrsData/fields/field -->
			</TABLE>
<!-- END uds:b3updrsData -->
		</TD>
	</TR>
	<TR>
		<TD>
		#xdatEditProps($item $edit_screen)
		<TR><TD COLSPAN=2 ALIGN=left><input type="button" ONCLICK="validateForm();"  name="eventSubmit_doInsert" value="Submit"/></TD></TR>
		</TD>
	</TR>
</TABLE>
</form>

<script type="text/javascript">
function validateForm()
{
   //INSERT CUSTOM CONTENT HERE

   validateSubjectAssessorForm();
   return false;
}
</script>
