<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("ProgressionLogEntry Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($turbineUtils.GetPassedParameter("popup", $data))
	#set ($popup = $turbineUtils.GetPassedParameter("popup", data) )
	#set ($popup = "false")
#end
<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<font face="$ui.sansSerifFonts" size="3"><b>ProgressionLogEntry Details</b></font>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD>nodeNum</TD><TD>$!item.getIntegerProperty("condr:progressionLogEntry/nodeNum")</TD></TR>
							<TR><TD>saCollID</TD><TD>$!item.getStringProperty("condr:progressionLogEntry/saCollID")</TD></TR>
							<TR><TD>saLinkID</TD><TD>$!item.getStringProperty("condr:progressionLogEntry/saLinkID")</TD></TR>
							<TR><TD>subject_ID</TD><TD>$!item.getStringProperty("condr:progressionLogEntry/subject_ID")</TD></TR>
							<TR><TD>age</TD><TD>$!item.getDoubleProperty("condr:progressionLogEntry/age")</TD></TR>
							<TR><TD>date</TD><TD>$!item.getProperty("condr:progressionLogEntry/date")</TD></TR>
							<TR><TD>time</TD><TD>$!item.getProperty("condr:progressionLogEntry/time")</TD></TR>
							<TR><TD>duration</TD><TD>$!item.getProperty("condr:progressionLogEntry/duration")</TD></TR>
							<TR><TD>delay</TD><TD>$!item.getIntegerProperty("condr:progressionLogEntry/delay")</TD></TR>
							<TR><TD>delay/ref_expt_id</TD><TD>$!item.getStringProperty("condr:progressionLogEntry/delay/ref_expt_id")</TD></TR>
							<TR><TD>note</TD><TD>$!item.getStringProperty("condr:progressionLogEntry/note")</TD></TR>
							<TR><TD>acquisition_site</TD><TD>$!item.getStringProperty("condr:progressionLogEntry/acquisition_site")</TD></TR>
							<TR><TD>ID</TD><TD>$!item.getStringProperty("condr:progressionLogEntry/ID")</TD></TR>
							<TR><TD>project</TD><TD>$!item.getStringProperty("condr:progressionLogEntry/project")</TD></TR>
							<TR><TD>visit_id</TD><TD>$!item.getStringProperty("condr:progressionLogEntry/visit_id")</TD></TR>
							<TR><TD>visit</TD><TD>$!item.getStringProperty("condr:progressionLogEntry/visit")</TD></TR>
							<TR><TD>version</TD><TD>$!item.getIntegerProperty("condr:progressionLogEntry/version")</TD></TR>
							<TR><TD>original</TD><TD>$!item.getStringProperty("condr:progressionLogEntry/original")</TD></TR>
							<TR><TD>protocol</TD><TD>$!item.getStringProperty("condr:progressionLogEntry/protocol")</TD></TR>
							<TR><TD>label</TD><TD>$!item.getStringProperty("condr:progressionLogEntry/label")</TD></TR>
							<TR><TD>type</TD><TD>$!item.getStringProperty("condr:progressionLogEntry/type")</TD></TR>
							<TR><TD>kpsScore</TD><TD>$!item.getIntegerProperty("condr:progressionLogEntry/kpsScore")</TD></TR>
							<TR><TD>treatmentChange</TD><TD>$!item.getBooleanProperty("condr:progressionLogEntry/treatmentChange")</TD></TR>
							<TR><TD>imaging</TD><TD>$!item.getBooleanProperty("condr:progressionLogEntry/imaging")</TD></TR>
							<TR><TD>steroidDose</TD><TD>$!item.getBooleanProperty("condr:progressionLogEntry/steroidDose")</TD></TR>
							<TR><TD>steroidDoseAmount</TD><TD>$!item.getDoubleProperty("condr:progressionLogEntry/steroidDoseAmount")</TD></TR>
							<TR><TD>functionalStatus</TD><TD>$!item.getBooleanProperty("condr:progressionLogEntry/functionalStatus")</TD></TR>
							<TR><TD>newNeurologicalDefecit</TD><TD>$!item.getBooleanProperty("condr:progressionLogEntry/newNeurologicalDefecit")</TD></TR>
							<TR><TD>motorWeakness</TD><TD>$!item.getBooleanProperty("condr:progressionLogEntry/motorWeakness")</TD></TR>
							<TR><TD>sensoryChange</TD><TD>$!item.getBooleanProperty("condr:progressionLogEntry/sensoryChange")</TD></TR>
							<TR><TD>severeHeadache</TD><TD>$!item.getBooleanProperty("condr:progressionLogEntry/severeHeadache")</TD></TR>
							<TR><TD>nausea</TD><TD>$!item.getBooleanProperty("condr:progressionLogEntry/nausea")</TD></TR>
							<TR><TD>visualLoss</TD><TD>$!item.getBooleanProperty("condr:progressionLogEntry/visualLoss")</TD></TR>
							<TR><TD>cognitiveDecline</TD><TD>$!item.getBooleanProperty("condr:progressionLogEntry/cognitiveDecline")</TD></TR>
							<TR><TD>clinicalDeterioration</TD><TD>$!item.getBooleanProperty("condr:progressionLogEntry/clinicalDeterioration")</TD></TR>
							<TR><TD>otherNeurologicalDefecit</TD><TD>$!item.getBooleanProperty("condr:progressionLogEntry/otherNeurologicalDefecit")</TD></TR>
						</TABLE>
					</TD>
					<TD valign="top" align="right">
						#parse($turbineUtils.getTemplateName("actions",$om.getXSIType(),$project))
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN condr:progressionLogEntry -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Related Items</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
						</TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_share_1_NUM_ROWS=$item.getChildItems("condr:progressionLogEntry/sharing/share").size() - 1)
							#if($xnat_experimentData_share_1_NUM_ROWS>=0)
								#foreach($xnat_experimentData_share_1_COUNTER in [0..$xnat_experimentData_share_1_NUM_ROWS])
<!-- BEGIN condr:progressionLogEntry/sharing/share[$xnat_experimentData_share_1_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">condr:progressionLogEntry/sharing/share[$xnat_experimentData_share_1_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>share</TD><TD>$!item.getStringProperty("condr:progressionLogEntry/sharing/share[$xnat_experimentData_share_1_COUNTER]/share")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("condr:progressionLogEntry/sharing/share[$xnat_experimentData_share_1_COUNTER]/label")</TD></TR>
													<TR><TD>project</TD><TD>$!item.getStringProperty("condr:progressionLogEntry/sharing/share[$xnat_experimentData_share_1_COUNTER]/project")</TD></TR>
													<TR><TD>visit</TD><TD>$!item.getStringProperty("condr:progressionLogEntry/sharing/share[$xnat_experimentData_share_1_COUNTER]/visit")</TD></TR>
													<TR><TD>protocol</TD><TD>$!item.getStringProperty("condr:progressionLogEntry/sharing/share[$xnat_experimentData_share_1_COUNTER]/protocol")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END condr:progressionLogEntry/sharing/share[$xnat_experimentData_share_1_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN condr:progressionLogEntry/investigator -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">condr:progressionLogEntry/investigator</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>title</TD><TD>$!item.getStringProperty("condr:progressionLogEntry/investigator/title")</TD></TR>
										<TR><TD>firstname</TD><TD>$!item.getStringProperty("condr:progressionLogEntry/investigator/firstname")</TD></TR>
										<TR><TD>lastname</TD><TD>$!item.getStringProperty("condr:progressionLogEntry/investigator/lastname")</TD></TR>
										<TR><TD>institution</TD><TD>$!item.getStringProperty("condr:progressionLogEntry/investigator/institution")</TD></TR>
										<TR><TD>department</TD><TD>$!item.getStringProperty("condr:progressionLogEntry/investigator/department")</TD></TR>
										<TR><TD>email</TD><TD>$!item.getStringProperty("condr:progressionLogEntry/investigator/email")</TD></TR>
										<TR><TD>phone</TD><TD>$!item.getStringProperty("condr:progressionLogEntry/investigator/phone")</TD></TR>
										<TR><TD>ID</TD><TD>$!item.getStringProperty("condr:progressionLogEntry/investigator/ID")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END condr:progressionLogEntry/investigator -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN condr:progressionLogEntry/validation -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">condr:progressionLogEntry/validation</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>method</TD><TD>$!item.getStringProperty("condr:progressionLogEntry/validation/method")</TD></TR>
										<TR><TD>date</TD><TD>$!item.getProperty("condr:progressionLogEntry/validation/date")</TD></TR>
										<TR><TD>notes</TD><TD>$!item.getStringProperty("condr:progressionLogEntry/validation/notes")</TD></TR>
										<TR><TD>validated_by</TD><TD>$!item.getStringProperty("condr:progressionLogEntry/validation/validated_by")</TD></TR>
										<TR><TD>status</TD><TD>$!item.getStringProperty("condr:progressionLogEntry/validation/status")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END condr:progressionLogEntry/validation -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_abstractResource_4_NUM_ROWS=$item.getChildItems("condr:progressionLogEntry/resources/resource").size() - 1)
							#if($xnat_abstractResource_4_NUM_ROWS>=0)
								#foreach($xnat_abstractResource_4_COUNTER in [0..$xnat_abstractResource_4_NUM_ROWS])
<!-- BEGIN condr:progressionLogEntry/resources/resource[$xnat_abstractResource_4_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">condr:progressionLogEntry/resources/resource[$xnat_abstractResource_4_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>note</TD><TD>$!item.getStringProperty("condr:progressionLogEntry/resources/resource[$xnat_abstractResource_4_COUNTER]/note")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("condr:progressionLogEntry/resources/resource[$xnat_abstractResource_4_COUNTER]/label")</TD></TR>
													<TR><TD>file_count</TD><TD>$!item.getIntegerProperty("condr:progressionLogEntry/resources/resource[$xnat_abstractResource_4_COUNTER]/file_count")</TD></TR>
													<TR><TD>file_size</TD><TD>$!item.getProperty("condr:progressionLogEntry/resources/resource[$xnat_abstractResource_4_COUNTER]/file_size")</TD></TR>
												</TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_abstractResource_tag_5_NUM_ROWS=$item.getChildItems("condr:progressionLogEntry/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag").size() - 1)
													#if($xnat_abstractResource_tag_5_NUM_ROWS>=0)
														#foreach($xnat_abstractResource_tag_5_COUNTER in [0..$xnat_abstractResource_tag_5_NUM_ROWS])
<!-- BEGIN condr:progressionLogEntry/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">condr:progressionLogEntry/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>tag</TD><TD>$!item.getStringProperty("condr:progressionLogEntry/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]/tag")</TD></TR>
																			<TR><TD>name</TD><TD>$!item.getStringProperty("condr:progressionLogEntry/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]/name")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END condr:progressionLogEntry/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END condr:progressionLogEntry/resources/resource[$xnat_abstractResource_4_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_field_6_NUM_ROWS=$item.getChildItems("condr:progressionLogEntry/fields/field").size() - 1)
							#if($xnat_experimentData_field_6_NUM_ROWS>=0)
								#foreach($xnat_experimentData_field_6_COUNTER in [0..$xnat_experimentData_field_6_NUM_ROWS])
<!-- BEGIN condr:progressionLogEntry/fields/field[$xnat_experimentData_field_6_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">condr:progressionLogEntry/fields/field[$xnat_experimentData_field_6_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>field</TD><TD>$!item.getStringProperty("condr:progressionLogEntry/fields/field[$xnat_experimentData_field_6_COUNTER]/field")</TD></TR>
													<TR><TD>name</TD><TD>$!item.getStringProperty("condr:progressionLogEntry/fields/field[$xnat_experimentData_field_6_COUNTER]/name")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END condr:progressionLogEntry/fields/field[$xnat_experimentData_field_6_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
			</TABLE>
<!-- END condr:progressionLogEntry -->
		</TD>
	</TR>
</TABLE><BR>#parse("/screens/ReportProjectSpecificFields.vm")
