<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("XDAT")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#set($months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"])
#set($days = [ 1..31 ])
#set($years = [ $!turbineUtils.getYear()..1900])
#if ($data.message)
<font color="red" size="3">$data.message</font>
#end
<p>
<form ID="form1" name="form1" method="post" action="$link.setAction("ModifyItem")">
<input type="hidden" name="project" value="$!{project}" >
#if($vr)
	<font color="red">Invalid parameters:<BR>$vr.toHTML()</font>
<HR>
#end

<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<DIV class="edit_title">OISOpticalImagingScan Details</DIV>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD>image_session_ID</TD><TD>#xdatStringBox("opti:oisScanData/image_session_ID" $item "" $vr)</TD></TR>
							<TR><TD>note</TD><TD>#xdatStringBox("opti:oisScanData/note" $item "" $vr)</TD></TR>
							<TR><TD>quality</TD><TD>#xdatStringBox("opti:oisScanData/quality" $item "" $vr)</TD></TR>
							<TR><TD>condition</TD><TD>#xdatStringBox("opti:oisScanData/condition" $item "" $vr)</TD></TR>
							<TR><TD>series_description</TD><TD>#xdatStringBox("opti:oisScanData/series_description" $item "" $vr)</TD></TR>
							<TR><TD>documentation</TD><TD>#xdatStringBox("opti:oisScanData/documentation" $item "" $vr)</TD></TR>
							<TR><TD>scanner</TD><TD>#xdatStringBox("opti:oisScanData/scanner" $item "" $vr)</TD></TR>
							<TR><TD>scanner/manufacturer</TD><TD>#xdatStringBox("opti:oisScanData/scanner/manufacturer" $item "" $vr)</TD></TR>
							<TR><TD>scanner/model</TD><TD>#xdatStringBox("opti:oisScanData/scanner/model" $item "" $vr)</TD></TR>
							<TR><TD>modality</TD><TD>#xdatStringBox("opti:oisScanData/modality" $item "" $vr)</TD></TR>
							<TR><TD>frames</TD><TD>#xdatTextBox("opti:oisScanData/frames" $item "" $vr)</TD></TR>
							<TR><TD>operator</TD><TD>#xdatStringBox("opti:oisScanData/operator" $item "" $vr)</TD></TR>
							<TR><TD>startTime</TD><TD>#xdatTextBox("opti:oisScanData/startTime" $item "" $vr)</TD></TR>
							<TR><TD>ID</TD><TD>#xdatStringBox("opti:oisScanData/ID" $item "" $vr)</TD></TR>
							<TR><TD>type</TD><TD>#xdatStringBox("opti:oisScanData/type" $item "" $vr)</TD></TR>
							<TR><TD>UID</TD><TD>#xdatStringBox("opti:oisScanData/UID" $item "" $vr)</TD></TR>
							<TR><TD>project</TD><TD>#xdatStringBox("opti:oisScanData/project" $item "" $vr)</TD></TR>
													#xdatHiddenBox("opti:oisScanData/xnat_imageScanData_id" $item "")
							<TR><TD>pixels_x</TD><TD>#xdatTextBox("opti:oisScanData/pixels_x" $item "" $vr)</TD></TR>
							<TR><TD>pixels_y</TD><TD>#xdatTextBox("opti:oisScanData/pixels_y" $item "" $vr)</TD></TR>
							<TR><TD>frames_led</TD><TD>#xdatTextBox("opti:oisScanData/frames_led" $item "" $vr)</TD></TR>
						</TABLE>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN opti:oisScanData -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Related Items</font></TH></TR>
<!-- BEGIN opti:oisScanData/sharing/share -->
				<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">opti:oisScanData/sharing/share</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
							<TR>
								<TD>share</TD>
								<TD>label</TD>
								<TD>project</TD>
							</TR>
							#foreach($xnat_imageScanData_share_1_COUNTER in [0..5])
								<TR>
									<TD>#xdatTextBox("opti:oisScanData/sharing/share[$xnat_imageScanData_share_1_COUNTER]/share" $item "" $vr)</TD>
									<TD>#xdatTextBox("opti:oisScanData/sharing/share[$xnat_imageScanData_share_1_COUNTER]/label" $item "" $vr)</TD>
									<TD>#xdatTextBox("opti:oisScanData/sharing/share[$xnat_imageScanData_share_1_COUNTER]/project" $item "" $vr)</TD>
									#xdatHiddenBox("opti:oisScanData/sharing/share[$xnat_imageScanData_share_1_COUNTER]/xnat_imageScanData_share_id" $item "")
								</TR>
							#end
						</TABLE>
					</TD>
				</TR>
<!-- END opti:oisScanData/sharing/share -->
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#foreach($xnat_abstractResource_1_COUNTER in [0..5])
<!-- BEGIN opti:oisScanData/file[$xnat_abstractResource_1_COUNTER] -->
								<TABLE>
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">opti:oisScanData/file[$xnat_abstractResource_1_COUNTER]</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR><TD>note</TD><TD>#xdatStringBox("opti:oisScanData/file[$xnat_abstractResource_1_COUNTER]/note" $item "" $vr)</TD></TR>
												<TR><TD>label</TD><TD>#xdatStringBox("opti:oisScanData/file[$xnat_abstractResource_1_COUNTER]/label" $item "" $vr)</TD></TR>
												<TR><TD>file_count</TD><TD>#xdatTextBox("opti:oisScanData/file[$xnat_abstractResource_1_COUNTER]/file_count" $item "" $vr)</TD></TR>
												<TR><TD>file_size</TD><TD>#xdatTextBox("opti:oisScanData/file[$xnat_abstractResource_1_COUNTER]/file_size" $item "" $vr)</TD></TR>
																		#xdatHiddenBox("opti:oisScanData/file[$xnat_abstractResource_1_COUNTER]/xnat_abstractResource_id" $item "")
											</TABLE>
										</TD>
									</TR>
<!-- BEGIN opti:oisScanData/file[$xnat_abstractResource_1_COUNTER]/tags/tag -->
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">opti:oisScanData/file[$xnat_abstractResource_1_COUNTER]/tags/tag</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR>
													<TD>tag</TD>
													<TD>name</TD>
												</TR>
												#foreach($xnat_abstractResource_tag_2_COUNTER in [0..5])
													<TR>
														<TD>#xdatTextBox("opti:oisScanData/file[$xnat_abstractResource_1_COUNTER]/tags/tag[$xnat_abstractResource_tag_2_COUNTER]/tag" $item "" $vr)</TD>
														<TD>#xdatTextBox("opti:oisScanData/file[$xnat_abstractResource_1_COUNTER]/tags/tag[$xnat_abstractResource_tag_2_COUNTER]/name" $item "" $vr)</TD>
														#xdatHiddenBox("opti:oisScanData/file[$xnat_abstractResource_1_COUNTER]/tags/tag[$xnat_abstractResource_tag_2_COUNTER]/xnat_abstractResource_tag_id" $item "")
													</TR>
												#end
											</TABLE>
										</TD>
									</TR>
<!-- END opti:oisScanData/file[$xnat_abstractResource_1_COUNTER]/tags/tag -->
								</TABLE>
<!-- END opti:oisScanData/file[$xnat_abstractResource_1_COUNTER] -->
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN opti:oisScanData/validation -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">opti:oisScanData/validation</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>method</TD><TD>#xdatStringBox("opti:oisScanData/validation/method" $item "" $vr)</TD></TR>
										<TR><TD>date</TD><TD>#xdatDateBox("opti:oisScanData/validation/date" $item $vr $years)</TD></TR>
										<TR><TD>notes</TD><TD>#xdatStringBox("opti:oisScanData/validation/notes" $item "" $vr)</TD></TR>
										<TR><TD>validated_by</TD><TD>#xdatStringBox("opti:oisScanData/validation/validated_by" $item "" $vr)</TD></TR>
										<TR><TD>status</TD><TD>#xdatStringBox("opti:oisScanData/validation/status" $item "" $vr)</TD></TR>
																#xdatHiddenBox("opti:oisScanData/validation/xnat_validationData_id" $item "")
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END opti:oisScanData/validation -->
					</TD>
				</TR>
			</TABLE>
<!-- END opti:oisScanData -->
		</TD>
	</TR>
	<TR>
		<TD>
		#xdatEditProps($item $edit_screen)
		<TR><TD COLSPAN=2 ALIGN=left><input type="button" ONCLICK="validateForm();"  name="eventSubmit_doInsert" value="Submit"/></TD></TR>
		</TD>
	</TR>
</TABLE>
</form>

<script type="text/javascript">
function validateForm()
{
   //INSERT CUSTOM CONTENT HERE
}
</script>
