<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("XDAT")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#set($months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"])
#set($days = [ 1..31 ])
#set($years = [ $!turbineUtils.getYear()..1900])
#if ($data.message)
<font color="red" size="3">$data.message</font>
#end
<p>
<form ID="form1" name="form1" method="post" action="$link.setAction("ModifySubjectAssessorData")">
<input type="hidden" name="project" value="$!{project}" >
#if($vr)
	<font color="red">Invalid parameters:<BR>$vr.toHTML()</font>
<HR>
#end

<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<DIV class="edit_title">Psychometrics Details</DIV>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD colspan='2'>
								#parse("/screens/xnat_edit_subjectAssessorData.vm")
							</TD></TR>
							<tr>
								<TD colspan="2">#parse("/screens/EditProjectSpecificFields.vm")</TD>
							</tr>
							<TR><TD>age</TD><TD>#xdatTextBox("cnda:psychometricsData/age" $item "" $vr)</TD></TR>
							<TR><TD>date</TD><TD>#xdatDateBox("cnda:psychometricsData/date" $item $vr $years)</TD></TR>
							<TR><TD>time</TD><TD>#xdatTextBox("cnda:psychometricsData/time" $item "" $vr)</TD></TR>
							<TR><TD>duration</TD><TD>#xdatTextBox("cnda:psychometricsData/duration" $item "" $vr)</TD></TR>
							<TR><TD>delay</TD><TD>#xdatTextBox("cnda:psychometricsData/delay" $item "" $vr)</TD></TR>
							<TR><TD>delay/ref_expt_id</TD><TD>#xdatStringBox("cnda:psychometricsData/delay/ref_expt_id" $item "" $vr)</TD></TR>
							<TR><TD>note</TD><TD>#xdatStringBox("cnda:psychometricsData/note" $item "" $vr)</TD></TR>
							<TR><TD>acquisition_site</TD><TD>#xdatStringBox("cnda:psychometricsData/acquisition_site" $item "" $vr)</TD></TR>
							<TR><TD>visit_id</TD><TD>#xdatStringBox("cnda:psychometricsData/visit_id" $item "" $vr)</TD></TR>
							<TR><TD>visit</TD><TD>#xdatStringBox("cnda:psychometricsData/visit" $item "" $vr)</TD></TR>
							<TR><TD>version</TD><TD>#xdatTextBox("cnda:psychometricsData/version" $item "" $vr)</TD></TR>
							<TR><TD>original</TD><TD>#xdatStringBox("cnda:psychometricsData/original" $item "" $vr)</TD></TR>
							<TR><TD>protocol</TD><TD>#xdatStringBox("cnda:psychometricsData/protocol" $item "" $vr)</TD></TR>
							<TR><TD>label</TD><TD>#xdatStringBox("cnda:psychometricsData/label" $item "" $vr)</TD></TR>
							<TR><TD>WMS/LogMemory</TD><TD>#xdatTextBox("cnda:psychometricsData/WMS/LogMemory" $item "" $vr)</TD></TR>
							<TR><TD>WMS/LogMemoryRecall</TD><TD>#xdatTextBox("cnda:psychometricsData/WMS/LogMemoryRecall" $item "" $vr)</TD></TR>
							<TR><TD>WMS/DigitSpan</TD><TD>#xdatTextBox("cnda:psychometricsData/WMS/DigitSpan" $item "" $vr)</TD></TR>
							<TR><TD>WMS/AssocRecallEasy</TD><TD>#xdatTextBox("cnda:psychometricsData/WMS/AssocRecallEasy" $item "" $vr)</TD></TR>
							<TR><TD>WMS/AssocRecallHard</TD><TD>#xdatTextBox("cnda:psychometricsData/WMS/AssocRecallHard" $item "" $vr)</TD></TR>
							<TR><TD>WMS/AssocRecogEasy</TD><TD>#xdatTextBox("cnda:psychometricsData/WMS/AssocRecogEasy" $item "" $vr)</TD></TR>
							<TR><TD>WMS/AssocRecogHard</TD><TD>#xdatTextBox("cnda:psychometricsData/WMS/AssocRecogHard" $item "" $vr)</TD></TR>
							<TR><TD>WMS/AssocMemRecall</TD><TD>#xdatTextBox("cnda:psychometricsData/WMS/AssocMemRecall" $item "" $vr)</TD></TR>
							<TR><TD>WMS/MentalControl</TD><TD>#xdatTextBox("cnda:psychometricsData/WMS/MentalControl" $item "" $vr)</TD></TR>
							<TR><TD>Trails_A</TD><TD>#xdatTextBox("cnda:psychometricsData/Trails_A" $item "" $vr)</TD></TR>
							<TR><TD>Trails_B</TD><TD>#xdatTextBox("cnda:psychometricsData/Trails_B" $item "" $vr)</TD></TR>
							<TR><TD>Trails_B_C</TD><TD>#xdatTextBox("cnda:psychometricsData/Trails_B_C" $item "" $vr)</TD></TR>
							<TR><TD>WAIS/Info</TD><TD>#xdatTextBox("cnda:psychometricsData/WAIS/Info" $item "" $vr)</TD></TR>
							<TR><TD>WAIS/BlockDesign</TD><TD>#xdatTextBox("cnda:psychometricsData/WAIS/BlockDesign" $item "" $vr)</TD></TR>
							<TR><TD>WAIS/DigitSymbol</TD><TD>#xdatTextBox("cnda:psychometricsData/WAIS/DigitSymbol" $item "" $vr)</TD></TR>
							<TR><TD>BentonFormCDelay</TD><TD>#xdatTextBox("cnda:psychometricsData/BentonFormCDelay" $item "" $vr)</TD></TR>
							<TR><TD>BentonFormDCopy</TD><TD>#xdatTextBox("cnda:psychometricsData/BentonFormDCopy" $item "" $vr)</TD></TR>
							<TR><TD>BostonNaming</TD><TD>#xdatTextBox("cnda:psychometricsData/BostonNaming" $item "" $vr)</TD></TR>
							<TR><TD>CrossingOff</TD><TD>#xdatTextBox("cnda:psychometricsData/CrossingOff" $item "" $vr)</TD></TR>
							<TR><TD>WordFluency</TD><TD>#xdatTextBox("cnda:psychometricsData/WordFluency" $item "" $vr)</TD></TR>
							<TR><TD>GeneralFactor</TD><TD>#xdatTextBox("cnda:psychometricsData/GeneralFactor" $item "" $vr)</TD></TR>
							<TR><TD>Kanne/Temporal</TD><TD>#xdatTextBox("cnda:psychometricsData/Kanne/Temporal" $item "" $vr)</TD></TR>
							<TR><TD>Kanne/Parietal</TD><TD>#xdatTextBox("cnda:psychometricsData/Kanne/Parietal" $item "" $vr)</TD></TR>
							<TR><TD>Kanne/Frontal</TD><TD>#xdatTextBox("cnda:psychometricsData/Kanne/Frontal" $item "" $vr)</TD></TR>
							<TR><TD>Animal</TD><TD>#xdatTextBox("cnda:psychometricsData/Animal" $item "" $vr)</TD></TR>
						</TABLE>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN cnda:psychometricsData -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Related Items</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN cnda:psychometricsData/investigator -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:psychometricsData/investigator</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>title</TD><TD>#xdatStringBox("cnda:psychometricsData/investigator/title" $item "" $vr)</TD></TR>
										<TR><TD>firstname</TD><TD>#xdatStringBox("cnda:psychometricsData/investigator/firstname" $item "" $vr)</TD></TR>
										<TR><TD>lastname</TD><TD>#xdatStringBox("cnda:psychometricsData/investigator/lastname" $item "" $vr)</TD></TR>
										<TR><TD>institution</TD><TD>#xdatStringBox("cnda:psychometricsData/investigator/institution" $item "" $vr)</TD></TR>
										<TR><TD>department</TD><TD>#xdatStringBox("cnda:psychometricsData/investigator/department" $item "" $vr)</TD></TR>
										<TR><TD>email</TD><TD>#xdatStringBox("cnda:psychometricsData/investigator/email" $item "" $vr)</TD></TR>
										<TR><TD>phone</TD><TD>#xdatStringBox("cnda:psychometricsData/investigator/phone" $item "" $vr)</TD></TR>
										<TR><TD>ID</TD><TD>#xdatStringBox("cnda:psychometricsData/investigator/ID" $item "" $vr)</TD></TR>
																#xdatHiddenBox("cnda:psychometricsData/investigator/xnat_investigatorData_id" $item "")
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END cnda:psychometricsData/investigator -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN cnda:psychometricsData/validation -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:psychometricsData/validation</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>method</TD><TD>#xdatStringBox("cnda:psychometricsData/validation/method" $item "" $vr)</TD></TR>
										<TR><TD>date</TD><TD>#xdatDateBox("cnda:psychometricsData/validation/date" $item $vr $years)</TD></TR>
										<TR><TD>notes</TD><TD>#xdatStringBox("cnda:psychometricsData/validation/notes" $item "" $vr)</TD></TR>
										<TR><TD>validated_by</TD><TD>#xdatStringBox("cnda:psychometricsData/validation/validated_by" $item "" $vr)</TD></TR>
										<TR><TD>status</TD><TD>#xdatStringBox("cnda:psychometricsData/validation/status" $item "" $vr)</TD></TR>
																#xdatHiddenBox("cnda:psychometricsData/validation/xnat_validationData_id" $item "")
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END cnda:psychometricsData/validation -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#foreach($xnat_abstractResource_3_COUNTER in [0..5])
<!-- BEGIN cnda:psychometricsData/resources/resource[$xnat_abstractResource_3_COUNTER] -->
								<TABLE>
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:psychometricsData/resources/resource[$xnat_abstractResource_3_COUNTER]</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR><TD>note</TD><TD>#xdatStringBox("cnda:psychometricsData/resources/resource[$xnat_abstractResource_3_COUNTER]/note" $item "" $vr)</TD></TR>
												<TR><TD>label</TD><TD>#xdatStringBox("cnda:psychometricsData/resources/resource[$xnat_abstractResource_3_COUNTER]/label" $item "" $vr)</TD></TR>
												<TR><TD>file_count</TD><TD>#xdatTextBox("cnda:psychometricsData/resources/resource[$xnat_abstractResource_3_COUNTER]/file_count" $item "" $vr)</TD></TR>
												<TR><TD>file_size</TD><TD>#xdatTextBox("cnda:psychometricsData/resources/resource[$xnat_abstractResource_3_COUNTER]/file_size" $item "" $vr)</TD></TR>
																		#xdatHiddenBox("cnda:psychometricsData/resources/resource[$xnat_abstractResource_3_COUNTER]/xnat_abstractResource_id" $item "")
											</TABLE>
										</TD>
									</TR>
<!-- BEGIN cnda:psychometricsData/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag -->
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:psychometricsData/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR>
													<TD>tag</TD>
													<TD>name</TD>
												</TR>
												#foreach($xnat_abstractResource_tag_4_COUNTER in [0..5])
													<TR>
														<TD>#xdatTextBox("cnda:psychometricsData/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]/tag" $item "" $vr)</TD>
														<TD>#xdatTextBox("cnda:psychometricsData/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]/name" $item "" $vr)</TD>
														#xdatHiddenBox("cnda:psychometricsData/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]/xnat_abstractResource_tag_id" $item "")
													</TR>
												#end
											</TABLE>
										</TD>
									</TR>
<!-- END cnda:psychometricsData/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag -->
								</TABLE>
<!-- END cnda:psychometricsData/resources/resource[$xnat_abstractResource_3_COUNTER] -->
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
<!-- BEGIN cnda:psychometricsData/fields/field -->
				<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:psychometricsData/fields/field</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
							<TR>
								<TD>field</TD>
								<TD>name</TD>
							</TR>
							#foreach($xnat_experimentData_field_4_COUNTER in [0..5])
								<TR>
									<TD>#xdatTextBox("cnda:psychometricsData/fields/field[$xnat_experimentData_field_4_COUNTER]/field" $item "" $vr)</TD>
									<TD>#xdatTextBox("cnda:psychometricsData/fields/field[$xnat_experimentData_field_4_COUNTER]/name" $item "" $vr)</TD>
									#xdatHiddenBox("cnda:psychometricsData/fields/field[$xnat_experimentData_field_4_COUNTER]/xnat_experimentData_field_id" $item "")
								</TR>
							#end
						</TABLE>
					</TD>
				</TR>
<!-- END cnda:psychometricsData/fields/field -->
			</TABLE>
<!-- END cnda:psychometricsData -->
		</TD>
	</TR>
	<TR>
		<TD>
		#xdatEditProps($item $edit_screen)
		<TR><TD COLSPAN=2 ALIGN=left><input type="button" ONCLICK="validateForm();"  name="eventSubmit_doInsert" value="Submit"/></TD></TR>
		</TD>
	</TR>
</TABLE>
</form>

<script type="text/javascript">
function validateForm()
{
   //INSERT CUSTOM CONTENT HERE

   validateSubjectAssessorForm();
   return false;
}
</script>
