
<TABLE VALIGN="top" style="border-right:1px solid #6D99B6;border-left:1px solid #6D99B6;border-top:1px solid #6D99B6;border-bottom:1px solid #6D99B6;">
	<TR>
		<TD>Inserted</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_DATE"))
		</TD>
		
		<TD>Creator</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_USER"))
		</TD>
		
		<TD>firstname</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CREATOR_FIRSTNAME"))
		</TD>
		
		<TD>lastname</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CREATOR_LASTNAME"))
		</TD>
		
	</TR>
	<TR>
		<TD>name</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("NAME"))
		</TD>
		
		<TD>hemisphere</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("HEMISPHERE"))
		</TD>
		
		<TD>session_id</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("SESSION_ID"))
		</TD>
		
	</TR>
</TABLE>
