
<TABLE VALIGN="top" style="border-right:1px solid #6D99B6;border-left:1px solid #6D99B6;border-top:1px solid #6D99B6;border-bottom:1px solid #6D99B6;">
	<TR>
		<TD>Subject</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("SUBJECT_ID"))
		</TD>
		
		<TD>ID</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("EXPT_ID"))
		</TD>
		
		<TD>Date</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("DATE"))
		</TD>
		
		<TD>Project</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("PROJECT"))
		</TD>
		
	</TR>
	<TR>
		<TD>Inserted</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_DATE"))
		</TD>
		
		<TD>Creator</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_USER"))
		</TD>
		
		<TD>visit_type</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("VISIT_TYPE"))
		</TD>
		
		<TD>visit_name</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("VISIT_NAME"))
		</TD>
		
	</TR>
	<TR>
		<TD>closed</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CLOSED"))
		</TD>
		
		<TD>terminal</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("TERMINAL"))
		</TD>
		
		<TD>protocolVersion</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("PROTOCOLVERSION"))
		</TD>
		
		<TD>protocolId</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("PROTOCOLID"))
		</TD>
		
	</TR>
	<TR>
	</TR>
</TABLE>
