#* @vtlvariable name="om" type="org.nrg.xdat.base.BaseElement" *#
#* @vtlvariable name="project" type="java.lang.String" *#
#* @vtlvariable name="requireReason" type="java.lang.String" *#
#* @vtlvariable name="showReason" type="java.lang.String" *#
#* @vtlvariable name="XNAT_CSRF" type="java.lang.String" *#
#* @vtlvariable name="turbineUtils" type="org.nrg.xdat.turbine.utils.TurbineUtils" *#
#* @vtlvariable name="content" type="org.apache.turbine.services.pull.tools.ContentTool" *#
#* @vtlvariable name="displayManager" type="org.nrg.xdat.display.DisplayManager" *#
<!-- path: /xnat-templates/navigations/HeaderIncludes -->

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="cache-control" content="max-age=0">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="expires" content="-1">
<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT">

<script type="text/javascript">

    var serverRoot = "$content.getURI('')";
    var csrfToken = "$!data.getSession().getAttribute("XNAT_CSRF")";
    var showReason = typeof $showReason != 'undefined' ? $showReason : null;
    var requireReason = typeof $requireReason != 'undefined' ? $showReason : null;

</script>
## separate script tags so not everything breaks if showReason or requireReason blows up
<script type="text/javascript">

    // utility for getting URL query string value
    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            results = regex.exec(location.search);
        return (results == null) ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }

    window.jsdebug = getParameterByName('jsdebug').toLowerCase();
    window.js      = getParameterByName('js').toLowerCase();

    // convert window.jsdebug to boolean
    window.jsdebug = (window.jsdebug === 'true' || window.jsdebug === 'debug' || window.js === 'debug');

    var jQuery_script = (function(){
        var script = (window.jsdebug) ? 'jquery' : 'jquery.min';
        return '<script type="text/javascript" src="' + serverRoot + '/scripts/jquery/' + script + '.js"><\/script>';
    })();

    document.write(jQuery_script);

</script>
<!-- document.write(jQuery_script); -->
<script type="text/javascript">
    // use 'jq' to avoid _possible_ conflicts with Velocity
    var jq = jQuery;
	//jq.ajaxSetup({cache:false});
</script>

<!-- jQuery plugins -->
<link rel="stylesheet" type="text/css" href="$content.getURI("scripts/chosen/chosen.min.css")">
<script type="text/javascript" src="$content.getURI("scripts/chosen/chosen.jquery.min.js")"></script>

<!-- XNAT global functions -->
<script type="text/javascript" src="$content.getURI("scripts/polyfills.js")"></script>
<script type="text/javascript" src="$content.getURI("scripts/globals.js")"></script>
<script type="text/javascript" src="$content.getURI("scripts/utils.js")"></script>

<script type="text/javascript">

    if (typeof XNAT == "undefined" || !XNAT) {
        /*
         * XNAT global namespace object, which will not be overwriten if
         * already defined. Also define some other top level namespaces.
         */
        var XNAT = {
            /*
             * Parent namespace that templates can use to put their
             * own namespace
             */
            app: {
                displayNames: {
                    singular: {
                        project: "$displayManager.getSingularDisplayNameForProject()",
                        subject: "$displayManager.getSingularDisplayNameForSubject()",
                        imageSession: "$displayManager.getSingularDisplayNameForImageSession()",
                        mrSession: "$displayManager.getSingularDisplayNameForMRSession()"
                    },
                    plural: {
                        project: "$displayManager.getPluralDisplayNameForProject()",
                        subject: "$displayManager.getPluralDisplayNameForSubject()",
                        imageSession: "$displayManager.getPluralDisplayNameForImageSession()",
                        mrSession: "$displayManager.getPluralDisplayNameForMRSession()"
                    }
                },
                siteId: "$!turbineUtils.GetSystemName()"
            },
            images: {
                grnChk: "$content.getURI("images/checkmarkGreen.gif")",
                redChk: "$content.getURI("images/checkmarkRed.gif")"
            },
            data: {
                context: {
                    #set($projectName = $turbineUtils.getProjectDisplayID($om, $project))
                    projectName: "$!projectName",
                    projectID: "$!om.getProject()",
                    project: "$!om.getProject()",
                    xsiType: "$!om.getXSIType()",
                    #if($om)
                        isSubject: $!om.getItem().instanceOf("xnat:subjectData"),
                        isExperiment: $!om.getItem().instanceOf("xnat:experimentData"),
                        isSubjectAssessor: $!om.getItem().instanceOf("xnat:subjectAssessorData"),
                        isImageSession: $!om.getItem().instanceOf("xnat:imageSessionData"),
                        isImageAssessor: $!om.getItem().instanceOf("xnat:imageAssessorData"),
                    #end
##                        //projectID: #if ($project) #if ($project.getId()) "$!project.getId()" #else "$!project" #end #end ,
##                        #if ($om.getSubjectId())
##                            subjectID: "$!om.getSubjectId()",
##                        #end
##                        subjectLabel: "#if($!om.getIdentifier($project,true))$!om.getIdentifier($project,true)#elseif($om.getLabel())$!om.getLabel()#else$!om.getId()#end",
                    subjectLabel: "#if($!subject.getIdentifier($project,true))$!subject.getIdentifier($project,true)#elseif($subject.getLabel())$!subject.getLabel()#else$!subject.getId()#end",
                    subjectID: "$!subject.getId()",
                    label: "#if($!om.getIdentifier($project,true))$!om.getIdentifier($project,true)#elseif($om.getLabel())$!om.getLabel()#else$!om.getId()#end",
                    ID: "$!om.getId()"
##                    subjectLabel: "$!item.getStringProperty("xnat:subjectData/name")",
                },
                timestamp: jq.now() // timestamp for the page when it loads
            }
        };
    }

    if (XNAT.data.context.projectName === "") {
        #set ($projectName = $turbineUtils.getProjectName($om, $project))
        XNAT.data.context.projectName = "$projectName";
    }

    // 'page' object is same as 'context' - easier to remember?
    XNAT.data.page = XNAT.data.context;

    XNAT.app.showLeftBar = $turbineUtils.toBoolean($siteConfig.getProperty("UI.show-left-bar","true"));
    XNAT.app.showLeftBarProjects = $turbineUtils.toBoolean($siteConfig.getProperty("UI.show-left-bar-projects","true"));
    XNAT.app.showLeftBarFavorites = $turbineUtils.toBoolean($siteConfig.getProperty("UI.show-left-bar-favorites","true"));
    XNAT.app.showLeftBarSearch = $turbineUtils.toBoolean($siteConfig.getProperty("UI.show-left-bar-search","true"));
    XNAT.app.showLeftBarBrowse = $turbineUtils.toBoolean($siteConfig.getProperty("UI.show-left-bar-browse","true"));

    window.available_elements = [];

        #if($data.getSession().getAttribute("user"))
            #set ($typeObjects = $data.getSession().getAttribute("user").getBrowseableElementDisplays() )
        #end

        #foreach ($typeObject in $typeObjects)
        window.available_elements.push({
            singular: "$typeObject.getSchemaElement().getElementSecurity().getSingularDescription()",
            plural: "$typeObject.getSchemaElement().getElementSecurity().getPluralDescription()",
            element_name: "$typeObject.getElementName()",
            actions: $typeObject.getElementSecurity().getListingActionsJSON(),
            "lbg": "$!typeObject.getLightColor()",
            "dbg": "$!typeObject.getDarkColor()",
            "isExperiment": $typeObject.getSchemaElement().instanceOf("xnat:experimentData"),
            "isSubjectAssessor": $typeObject.getSchemaElement().instanceOf("xnat:subjectAssessorData"),
            "isImageAssessor": $typeObject.getSchemaElement().instanceOf("xnat:imageAssessorData"),
            "isImageSession": $typeObject.getSchemaElement().instanceOf("xnat:imageSessionData"),
            "isImageScan": $typeObject.getSchemaElement().instanceOf("xnat:imageScanData")
        });
        #end

    window.available_elements.getByName = function (name) {
        for (var aeC = 0; aeC < this.length; aeC++) {
            if (this[aeC].element_name == name) {
                return this[aeC];
            }
            // return empty object if not found
            return {}
        }
    };

        #if($project)
            #if($project.getId())
            window.projectScope = "$!project.getId()";
            #else
            window.projectScope = "$!project";
            #end
        #end

        #if($item)
            #if($item.instanceOf("xnat:subjectData"))
              XNAT.app.current_uri=serverRoot+"/REST/projects/$om.getProject()/subjects/$om.getId()";
            #elseif($item.instanceOf("xnat:derivedData"))
              XNAT.app.current_uri=serverRoot+"/REST/projects/$om.getProject()/subjects/$om.getImageSessionData().getSubjectId()/experiments/$om.getImageSessionData().getId()/assessors/$om.getId()";
            #else
              XNAT.app.current_uri=serverRoot+"/REST/projects/$om.getProject()/subjects/$om.getSubjectId()/experiments/$om.getId()";
            #end
        #end

    // quickly reference today's date
    XNAT.data.todaysDate = {};
    // if today was January 23, 2013...
    // m (1), mm (01), d (23), dd (23), yyyy (2013), ISO/iso (2013-01-23), US/us (01/23/2013)
    (function (dateObj) {
        dateObj.date = new Date();
        dateObj.gotMonth = dateObj.date.getMonth();
        dateObj.m = (dateObj.gotMonth + 1).toString();
        dateObj.mm = (dateObj.m.length === 1) ? '0' + dateObj.m : dateObj.m;
        dateObj.d = dateObj.date.getDate().toString();
        dateObj.dd = (dateObj.d.length === 1) ? '0' + dateObj.d : dateObj.d;
        dateObj.yyyy = dateObj.date.getFullYear().toString();
        dateObj.ISO = dateObj.iso = dateObj.yyyy + '-' + dateObj.mm + '-' + dateObj.dd;
        dateObj.US = dateObj.us = dateObj.mm + '/' + dateObj.dd + '/' + dateObj.yyyy;
    })(XNAT.data.todaysDate);

</script>
<script type="text/javascript">
    // initialize "Chosen" menus on DOM load
    // all <select class="chosen-menu"> elements
    // will be converted
    // putting this here to be at the top of
    // the jQuery DOM-ready queue
    jq(function(){chosenInit()});
</script>
<script type="text/javascript" src="$content.getURI('scripts/xdat.js')"></script>
<script type="text/javascript" src="$content.getURI('scripts/DynamicJSLoad.js')"></script>

<!-- YAHOO USER INTERFACE files below here -->
<script type="text/javascript" src="$content.getURI("scripts/yui/build/yahoo-dom-event/yahoo-dom-event.js")"></script>
##<script type="text/javascript" src="$content.getURI("scripts/yui/build/event/event.js")"></script>
<script type="text/javascript" src="$content.getURI("scripts/yui/build/event/event-min.js")"></script>
<script type="text/javascript" src="$content.getURI("scripts/yui/build/container/container-min.js")"></script>
<script type="text/javascript" src="$content.getURI("scripts/yui/build/menu/menu-min.js")"></script>
<script type="text/javascript" src="$content.getURI("scripts/yui/build/element/element-beta-min.js")"></script>
<script type="text/javascript" src="$content.getURI("scripts/yui/build/button/button-min.js")"></script>
<script type="text/javascript" src="$content.getURI("scripts/yui/build/connection/connection-min.js")"></script>
<script type="text/javascript" src="$content.getURI("scripts/yui/build/treeview/treeview-min.js")"></script>
<script type="text/javascript" src="$content.getURI("scripts/yui/build/cookie/cookie-min.js")"></script>
<script type="text/javascript" src="$content.getURI("scripts/yui/build/tabview/tabview-min.js")"></script>
<script type="text/javascript" src="$content.getURI("scripts/yui/build/datasource/datasource-min.js")"></script>
<script type="text/javascript" src="$content.getURI("scripts/yui/build/resize/resize-min.js")"></script>
<script type="text/javascript" src="$content.getURI("scripts/yui/build/dragdrop/dragdrop-min.js")"></script>
<script type="text/javascript" src="$content.getURI("scripts/yui/build/datatable/datatable-min.js")"></script>
<script type="text/javascript" src="$content.getURI("scripts/yui/build/paginator/paginator-min.js")"></script>
<script type="text/javascript" src="$content.getURI("scripts/yui/build/json/json-min.js")"></script>
<script type="text/javascript" src="$content.getURI("scripts/yui/xnat_loader.js")"></script>
<script type="text/javascript" src="$content.getURI("scripts/LeftBarTreeView.js")"></script>
<script type="text/javascript" src="$content.getURI("scripts/justification/justification.js")"></script>
<script type="text/javascript">

    // The YUIDOM alias is used throughout XNAT
    var YUIDOM = YAHOO.util.Dom;

    XNAT.dom = getObject(XNAT.dom);
    XNAT.dom.addFormCSRF = function(__form){
        __form = isDefined(__form) ? $$(__form) : jq('form');
        __form.append('<input type="hidden" name="XNAT_CSRF" value="' + csrfToken + '">')
    };

    jq(function(){
        // add hidden input with CSRF data
        // to all forms on page load
        XNAT.dom.addFormCSRF();
    });

</script>

<!-- XNAT JLAPI scripts -->
<script type="text/javascript" src="$content.getURI("scripts/xnat/url.js")"></script>
<script type="text/javascript" src="$content.getURI("scripts/xnat/xhr.js")"></script>
<script type="text/javascript" src="$content.getURI("scripts/xnat/ui/popup.js")"></script>

<!-- YUI css -->
<link rel="stylesheet" type="text/css" href="$content.getURI("scripts/yui/build/assets/skins/sam/skin.css")">

<!-- xdat.css and xnat.css loaded last to override YUI styles -->
<link rel="stylesheet" type="text/css" href="$content.getURI("style/xdat.css")">
<link rel="stylesheet" type="text/css" href="$content.getURI("style/xnat.css")">
<link rel="stylesheet" type="text/css" href="$content.getURI("style/icons.css")">

<link rel="stylesheet" type="text/css" href="$content.getURI("scripts/xmodal-v1/xmodal.css")">
<script type="text/javascript" src="$content.getURI("scripts/xmodal-v1/xmodal.js")"></script>
<script type="text/javascript" src="$content.getURI("scripts/xmodal-v1/xmodal-migrate.js")"></script>

<link rel="stylesheet" type="text/css" href="$content.getURI("scripts/tabWrangler/tabWrangler.css")">
<script type="text/javascript" src="$content.getURI("scripts/tabWrangler/tabWrangler.js")"></script>

<!-- date input stuff -->
<link type="text/css" rel="stylesheet" href="$content.getURI('scripts/yui/build/calendar/assets/skins/sam/calendar.css')">
##<script type="text/javascript" src="$content.getURI('scripts/yui/build/calendar/calendar.js')"></script>
<script type="text/javascript" src="$content.getURI('scripts/yui/build/calendar/calendar-min.js')"></script>

<script type="text/javascript" src="$content.getURI('scripts/jquery.maskedinput.min.js')"></script>
<script type="text/javascript" src="$content.getURI('scripts/ezCalendar.js')"></script>


#addGlobalCustomScreens("header")
