<!-- BEGIN xnat_subjectData/report/preAssessors_CONDR_METS.vm -->
<script type="text/javascript">
    if (console.log) console.log('BEGIN xnat_subjectData/report/preAssessors_CONDR_METS.vm');
</script>


<script type="text/javascript">

    if (typeof XNAT.data == 'undefined') XNAT.data={};
    if (typeof XNAT.data.context == 'undefined') XNAT.data.context={};
    if (typeof CONDR == 'undefined') var CONDR={};
    if (typeof CONDR.lesionTracker == 'undefined') CONDR.lesionTracker={};
    if (typeof CONDR.lesionTracker.collections == 'undefined') CONDR.lesionTracker.collections={};

    ##    XNAT.data.context.subjectID = CONDR.lesionTracker.subjID = '$!item.getStringProperty("condr_mets:lesionCollection/subject_ID")';
        var subjID = XNAT.data.context.subjectID || '' ;
        CONDR.lesionTracker.subjID = (subjID > '') ? subjID : '$!subject.getStringProperty("subject_ID")' ;
        XNAT.data.context.subjectLabel = CONDR.lesionTracker.subjLabel = '$!subject.getStringProperty("label")';
        XNAT.data.context.projectLabel = '$!project.getStringProperty("name")';

</script>



<div id="collection_links_container" class="expts_container collection_records">

    <div id="collection_links_legend" class="legend">
        <span id="collections_header" class="header edit_header1">Lesion Collections</span>
##        <a id="toggle_expts_link" style="display:none;text-decoration:underline;" onClick="XNAT.app.subject.toggleExptView();">View All Experiments</a>
    </div>

    <!-- links to collection pages go here -->
##    <div id="collection_links"></div>

##        <div id="proj_expts">
##
    <br>

    <table id="collections" width="100%" class="expts" style="display:none;">
        <tr class="th">
            <th align="left" class="underscore">Date Created</th>
            <th align="left" class="underscore">Experiment</th>
            <th align="left" class="underscore">$displayManager.getSingularDisplayNameForProject()</th>
            <th align="left" class="underscore">Label</th>
        </tr>
##                <tr class="collections">
##                    <!-- fill in collections here -->
##                </tr>

        #foreach ($assessor in $subject.getMinimalLoadAssessors())
            #if($assessor.getItem().instanceOf("condr_mets:lesionCollection"))
                #if($assessor.hasProject($project))
                    #parse($turbineUtils.getTemplateName("_assessor","xnat:subjectData",$project))
                #else
                    #set($hasOtherProjects=true)
                #end
            #end
        #end

    </table>

    <div id="no_collections" style="display:none;">

        <p style="margin:20px 0;">(no collections)</p>

        #if ( $user.isOwner($project) || $user.isMember($project) || $user.isSiteAdmin() )

            <button type="button" id="new_collection">Create New Lesion Collection</button>

        #end

    </div>

    <br><br>

##
##        </div><!-- /proj_expts -->

</div><!-- /#collection_links_container -->

<script type="text/javascript">
    jq(function(){

        jq('#collections').find('a').css('text-decoration','underline');

        if (typeof CONDR == 'undefined') CONDR={};
        if (typeof CONDR.lesionTracker == 'undefined') CONDR.lesionTracker={};
        if (typeof CONDR.lesionTracker.collections == 'undefined') CONDR.lesionTracker.collections={};

        var __collections = jq('#collections');
        var __collection_rows = __collections.find('tr').not('.th');
        var coll_count, new_coll, random;

        if (__collection_rows.length > 0){
            __collections.show();
            coll_count = CONDR.lesionTracker.collections.count = __collection_rows.length ;
        }
        else {
            jq('#no_collections').show();
            coll_count = CONDR.lesionTracker.collections.count = 0 ;
        }

        new_coll = (coll_count+1).toString(10);
        new_coll = (new_coll.length === 1) ? '0'+new_coll+'' : new_coll+'' ;

        // make a new collection
        // REST URI: data/projects/CONDR_METS/subjects/SUBJECT_ID/experiments/EXPERIMENT_ID?xsiType=condr_mets:lesionCollection
        jq('#new_collection').click(function(){
            xModalLoadingOpen({title:'Creating collection...'});
            var newCollection = jq.ajax({
                type: 'PUT',
                cache: false,
                async: true,
                url:
                    serverRoot + '/data/' +
                        'projects/CONDR_METS/' +
                        'subjects/'+ XNAT.data.context.subjectLabel +
                        '/experiments/' + XNAT.data.context.subjectLabel + '_LesionColl_' + new_coll +
                        '?xsiType=condr_mets:lesionCollection' +
                        '&condr_mets:lesionCollection/date=' + XNAT.data.todaysDate.iso +
                        '&allowDataDeletion=true' +
                        '&XNAT_CSRF=' + csrfToken
            });
            newCollection.done(function(collID){
                window.location.href = serverRoot +'/data/projects/CONDR_METS/subjects/'+ XNAT.data.context.subjectLabel +'/experiments/'+ collID ;
            });
            newCollection.fail(function(data, status, error){
                xModalLoadingClose();
                xModalMessage('error','data: '+data+'<br><br> status: '+status+'<br><br> error: '+error);
            });
        });

    });
</script>













<script type="text/javascript">
    if (console.log) console.log('END xnat_subjectData/report/preAssessors_CONDR_METS.vm');
</script>
<!-- END xnat_subjectData/report/preAssessors_CONDR_METS.vm -->