<li class="yuimenuitem">
	<A href="$link.setPage('XDATScreen_edit_ghf_acetateCardioAssessor.vm').addPathInfo('imagesession',$om.getId()).addPathInfo('popup',$popup).addPathInfo('project',$om.getProject())"><div class="ic"><img border="0" src="$content.getURI("images/Up.gif")"/></div><div class="ic_spacer">&nbsp;</div>Add Acetate Data</A>
</li>
<li class="yuimenuitem">
	<A href="$link.setPage('XDATScreen_edit_ghf_fdgCardioAssessor.vm').addPathInfo('imagesession',$om.getId()).addPathInfo('popup',$popup).addPathInfo('project',$om.getProject())"><div class="ic"><img border="0" src="$content.getURI("images/Up.gif")"/></div><div class="ic_spacer">&nbsp;</div>Add FDG Data</A>
</li>