##Copyright 2005 Harvard University / Howard Hughes Medical Institute (HHMI) All Rights Reserved
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$data.setLayoutTemplate("/Popup.vm")
<script type="text/javascript">

<!--

function popup(mylink, windowname)

{

if (! window.focus)return true;

var href;

if (typeof(mylink) == 'string')

   href=mylink;

else

   href=mylink.href;

window.open(href, windowname, 'width=500,height=400,status=yes,resizable=yes,scrollbars=yes');

return false;

}

//-->

</script>

$page.setTitle("CNDA -- Central Neuroimaging Data Archive")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.message)
<DIV class="error">$data.message</DIV><br>
#end
<font face="$ui.sansSerifFonts">				
#set ($sessionId = $data.getSession().getAttribute("manageArcSession").getMrSession().getSessionId())
#set ($exptId = $data.getSession().getAttribute("manageArcSession").getMrSession().getExptId())

<form name="BuildPipelineList" >
	<table>
	<tr>
		#headerCell("Session: $sessionId" 2)
	</tr>
	<tr>	
		#headerCell("Select from the following tasks" 1)
	</tr>
	</table>
	<hr>
	<table border="0">
	<TR>
		<td align="center">
	    	#set ( $imageClick = "$link.setPage('BuildPipelineUpload.vm').addPathInfo('sessionId',$sessionId).addPathInfo('exptId',$exptId)" )
    		<A href="$imageClick"><img src="$content.getURI("images/adminUploadButton.gif")" border=0></A>
    	</td>
    	
    	<td>
    		Upload raw data into the prearchive space for vetting. Currently, data must be uploaded manually via FTP. Go here for details.
    	</td>
    </tr>
    <tr>	
		<td align="center">
	    	#set ( $imageClick = "$link.setPage('BuildPipelineTransfer.vm').addPathInfo('sessionId',$sessionId).addPathInfo('exptId',$exptId)" )
    		<A href="$imageClick"><img src="$content.getURI("images/adminTransferButton.gif")" border=0></A>
    	</td>
    	<td>
    		Transfer data from the prearchive space into the archive.
    	</td>
    </tr>
    <tr>	
     	<td align="center">
	    	#set ( $imageClick = "$link.setPage('BuildPipelineVerify.vm').addPathInfo('sessionId',$sessionId).addPathInfo('exptId',$exptId)" )
    		<A href="$imageClick"><img src="$content.getURI("images/adminVerifyButton.gif")" border=0></A>
     	</td>
     	<td>
     		Verify the status of session data, including number and size of scan files in the prearchive and archive.
     	</td>
     </tr>
     <tr>	
		<td align="center">
	    	#set ( $imageClick = "$link.setPage('BuildOptions.vm').addPathInfo('sessionId',$sessionId).addPathInfo('exptId',$exptId)" )
    		<A href="$imageClick"><img src="$content.getURI("images/adminBuildButton.gif")" border=0></A>
    	</td>
    	<td>
    		Select a session in the prearchive space and start the processes to build the final archive images.
    	</td>
    </TR>
    <tr>
    	<td colspan="4" align="center">
    	<input type="button" ONCLICK="javascript:self.close();" value="Close"/>
    	</td>
    </tr>	
    </table>
	
</form>
<script type="text/javascript">
	#if ($error=="false") 
		self.close();
	#end
</script>


