<SCRIPT type="text/javascript">
<!--

function updateAllSlides() {
    populateSlideSelector();
    for (i = 0; i < IMGTYPES.length; i++) {
        for (j = 0; j < ORIENTATIONS.length; j++) {
            var slideObj = window[IMGTYPES[i]+'_'+ORIENTATIONS[j]+'_SLIDES'];
            slideObj.update();
        }
    }
}

function populateSlideSelector() {
    for (i = 0; i < IMGTYPES.length; i++) {
        var selectionElement = document.getElementById(IMGTYPES[i]+'_AXL_sliceSelector');
        for (j=AXIAL_FIRSTSLICE, k=0 ; j <= AXIAL_LASTSLICE; j=j+2, k++) {
            selectionElement.options[k]=new Option(j,k);
        }
        selectionElement = document.getElementById(IMGTYPES[i]+'_COR_sliceSelector');
        for (j=CORONAL_FIRSTSLICE, k=0 ; j <= CORONAL_LASTSLICE; j=j+2, k++) {
            selectionElement.options[k]=new Option(j,k);
        }
        selectionElement = document.getElementById(IMGTYPES[i]+'_SAG_sliceSelector');
        for (j=SAGITTAL_FIRSTSLICE, k=0 ; j <= SAGITTAL_LASTSLICE; j=j+2, k++) {
            selectionElement.options[k]=new Option(j,k);
        }
    }
}

function goto_slide(imgtype,orientation,sliceno){
        var slideObj = window[imgtype+'_'+orientation+'_SLIDES'];
        var sliceSelectorObj = document.getElementById(imgtype+'_'+orientation+'_sliceSelector');
        slideObj.pause();
        slideObj.goto_slide(sliceno);
        sliceSelectorObj.options[sliceno].selected=true;
}

function zoomUp() {
    for (i = 0; i < IMGTYPES.length; i++) {
        for (j = 0; j < ORIENTATIONS.length; j++) {
            var slideObj = window[IMGTYPES[i]+'_'+ORIENTATIONS[j]+'_SLIDES'];
            slideObj.zoomUp();
        }
    }
}

function zoomDown() {
    for (i = 0; i < IMGTYPES.length; i++) {
        for (j = 0; j < ORIENTATIONS.length; j++) {
            var slideObj = window[IMGTYPES[i]+'_'+ORIENTATIONS[j]+'_SLIDES'];
            slideObj.zoomDown();
        }
    }
}

//-->
</SCRIPT>

<body onLoad="updateAllSlides()">
    <form ID="freesurferQCFORM"  method="POST" action="$link.setAction("DownloadFreesurferAction")" >
        <table>
            <tr>
                <td>
                    Session: <b>$om.getImageSessionData().getLabel()  </b>
                </td>
                <td>
                    <input name="zoomMinusBtn" id="zoomMinusBtn" type="button" value="-" onClick="zoomDown()" />
                </td>
                <td>
                    Zoom
                </td>
                <td>
                    <input name="zoomPlusBtn" id="zoomPlusBtn" type="button" value="+" onClick="zoomUp()" />
                </td>

                <td align="center">
                    <input name="eventSubmit_doPerform" id="downloadBtn" type="submit" value="Download" />
                </td>
                <td>
                    <select ID="download_file" name="download_file">
                        <option selected value="ALLQC">All Files for QC</option>
                        <option value="ALL">All Freesurfer files</option>
                        <option value="FREESURFER_BRAINMASK">brainmask.mgz</option>
                        <option value="FREESURFER_WM">wm.mgz</option>
                        <option value="FREESURFER_T1">T1.mgz</option>
                        <option value="FREESURFER_ORIG">orig.mgz</option>
                        <option value="FREESURFER_RH_WHITE">rh.white</option>
                        <option value="FREESURFER_LH_WHITE">lh.white</option>

                    </select>
                </td>
                <td align="center">
                    Download Format
                </td>
                <td>
                    <select ID="download_type" name="download_type">
                        <option value="zip" selected>Zip</option>
                    </select>
                </td>
            </tr>
        </table>
        <BR/>
        <BR/>
        <A href="LINK0" HREF="#LINK0" onClick=" return blocking(0);" ><img ID="IMG0" src="$content.getURI("images/plus.jpg")" border=0 /><b>T1 Images</b></a>
        <div id="span0" style="position:relative;display:none">
            <table>
                <tr>
                    <th>
                        T1 AXIAL SLICES
                    </th>
                    <th>
                        T1 CORONAL SLICES
                    </th>
                    <th>
                        T1 SAGITTAL SLICES
                    </th>
                    <th>
                        &nbsp;
                    </th>
                </tr>
                <tr>
                    <td align="center">
                        <div id="T1_AXL_BTN_TABLE" >
                            <input name="prevBtn" id="prevBtn_T1_AXL" type="button" value="Prev" onClick="T1_AXL_SLIDES.previous()" />
                            <input name="nextBtn" id="nextBtn_T1_AXL" type="button" value="Next" onClick="T1_AXL_SLIDES.next()" />
                            <select id="T1_AXL_sliceSelector" name="T1_AXL_sliceSelector" onchange="goto_slide('T1','AXL',this.value);">
                            </select>
                        </div>
                    </td>
                    <td align="center">
                        <div id="T1_COR_BTN_TABLE" >
                            <input name="prevBtn" id="prevBtn_T1_COR" type="button" value="Prev" onClick="T1_COR_SLIDES.previous()" />
                            <input name="nextBtn" id="nextBtn_T1_COR" type="button" value="Next" onClick="T1_COR_SLIDES.next()" />
                            <select id="T1_COR_sliceSelector" name="T1_COR_sliceSelector" onchange="goto_slide('T1','COR',this.value);">
                            </select>
                        </div>
                    </td>
                    <td align="center">
                        <div id="T1_SAG_BTN_TABLE" >
                            <input name="prevBtn" id="prevBtn_T1_SAG" type="button" value="Prev" onClick="T1_SAG_SLIDES.previous()" />
                            <input name="nextBtn" id="nextBtn_T1_SAG" type="button" value="Next" onClick="T1_SAG_SLIDES.next()" />
                            <select id="T1_SAG_sliceSelector" name="T1_SAG_sliceSelector" onchange="goto_slide('T1','SAG',this.value);">
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="T1_AXL" >
                            <IMG name="T1_AXL_SLIDES_IMG" id="T1_AXL_SLIDES_IMG" src="images/minus.jpg" alt="T1 Axial Slices" />
                        </div>
                    </td>
                    <td>
                        <div id="T1_COR" >
                            <IMG name="T1_COR_SLIDES_IMG" id="T1_COR_SLIDES_IMG" src="images/minus.jpg" alt="T1 Coronal Slices" />
                        </div>
                    </td>
                    <td>
                        <div id="T1_SAG" >
                            <IMG name="T1_SAG_SLIDES_IMG" id="T1_SAG_SLIDES_IMG" src="images/minus.jpg" alt="T1 Sagittal Slices" />
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <br />
        <BR/>
        <A href="LINK1" HREF="#LINK1" onClick=" return blocking(1);" ><img ID="IMG1" src="$content.getURI("images/plus.jpg")" border=0 /><b>BRAINMASK Images</b></a>
        <div id="span1" style="position:relative;display:none">
            <table>
                <tr>
                    <th>
                        BRAINMASK AXIAL SLICES
                    </th>
                    <th>
                        BRAINMASK CORONAL SLICES
                    </th>
                    <th>
                        BRAINMASK SAGITTAL SLICES
                    </th>
                </tr>
                <tr>
                    <td align="center">
                        <div id="BRAINMASK_AXL_BTN_TABLE" >
                            <input name="prevBtn" id="prevBtn_BRAINMASK_AXL" type="button" value="Prev" onClick="BRAINMASK_AXL_SLIDES.previous()" />
                            <input name="nextBtn" id="nextBtn_BRAINMASK_AXL" type="button" value="Next" onClick="BRAINMASK_AXL_SLIDES.next();" />
                            <select id="BRAINMASK_AXL_sliceSelector" name="BRAINMASK_AXL_sliceSelector" onchange="goto_slide('BRAINMASK','AXL',this.value);">
                            </select>
                        </div>
                    </td>
                    <td align="center">
                        <div id="BRAINMASK_COR_BTN_TABLE" >
                            <input name="prevBtn" id="prevBtn_BRAINMASK_COR" type="button" value="Prev" onClick="BRAINMASK_COR_SLIDES.previous()" />
                            <input name="nextBtn" id="nextBtn_BRAINMASK_COR" type="button" value="Next" onClick="BRAINMASK_COR_SLIDES.next()" />
                            <select id="BRAINMASK_COR_sliceSelector" name="BRAINMASK_COR_sliceSelector" onchange="goto_slide('BRAINMASK','COR',this.value);">
                            </select>
                        </div>
                    </td>
                    <td align="center">
                        <div id="BRAINMASK_SAG_BTN_TABLE" >
                            <input name="prevBtn" id="prevBtn_BRAINMASK_SAG" type="button" value="Prev" onClick="BRAINMASK_SAG_SLIDES.previous()" />
                            <input name="nextBtn" id="nextBtn_BRAINMASK_SAG" type="button" value="Next" onClick="BRAINMASK_SAG_SLIDES.next();" />
                            <select id="BRAINMASK_SAG_sliceSelector" name="BRAINMASK_SAG_sliceSelector" onchange="goto_slide('BRAINMASK','SAG',this.value)">
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="BRAINMASK_AXL" >
                            <IMG name="BRAINMASK_AXL_SLIDES_IMG" id="BRAINMASK_AXL_SLIDES_IMG" src="images/minus.jpg" alt="BRAINMASK Axial Slices" />
                        </div>
                    </td>
                    <td>
                        <div id="BRAINMASK_COR" >
                            <IMG name="BRAINMASK_COR_SLIDES_IMG" id="BRAINMASK_COR_SLIDES_IMG" src="images/minus.jpg" alt="BRAINMASK Coronal Slices" />
                        </div>
                    </td>
                    <td>
                        <div id="BRAINMASK_SAG" >
                            <IMG name="BRAINMASK_SAG_SLIDES_IMG" id="BRAINMASK_SAG_SLIDES_IMG" src="images/minus.jpg" alt="BRAINMASK Sagittal Slices" />
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <BR/>
        <BR/>
        <A href="LINK4" HREF="#LINK4" onClick=" return blocking(4);" ><img ID="IMG4" src="$content.getURI("images/plus.jpg")" border=0 /><b>APARC+ASEG Images</b></a>
        <div id="span4" style="position:relative;display:none">
            <table>
                <tr>
                    <th>
                        APARC+ASEG AXIAL SLICES
                    </th>
                    <th>
                        APARC+ASEG CORONAL SLICES
                    </th>
                    <th>
                        APARC+ASEG SAGITTAL SLICES
                    </th>
                </tr>
                <tr>
                    <td align="center">
                        <div id="APARC_ASEG_AXL_BTN_TABLE" >
                            <input name="prevBtn" id="prevBtn_APARC_ASEG_AXL" type="button" value="Prev" onClick="APARC_ASEG_AXL_SLIDES.previous()" />
                            <input name="nextBtn" id="nextBtn_APARC_ASEG_AXL" type="button" value="Next" onClick="APARC_ASEG_AXL_SLIDES.next()" />
                            <select id="APARC_ASEG_AXL_sliceSelector" name="APARC_ASEG_AXL_sliceSelector" onchange="goto_slide('APARC_ASEG','AXL',this.value);">
                            </select>
                        </div>
                    </td>
                    <td align="center">
                        <div id="APARC_ASEG_COR_BTN_TABLE" >
                            <input name="prevBtn" id="prevBtn_APARC_ASEG_COR" type="button" value="Prev" onClick="APARC_ASEG_COR_SLIDES.previous()" />
                            <input name="nextBtn" id="nextBtn_APARC_ASEG_COR" type="button" value="Next" onClick="APARC_ASEG_COR_SLIDES.next()" />
                            <select id="APARC_ASEG_COR_sliceSelector" name="APARC_ASEG_COR_sliceSelector" onchange="goto_slide('APARC_ASEG','COR',this.value);">
                            </select>
                        </div>
                    </td>
                    <td align="center">
                        <div id="APARC_ASEG_SAG_BTN_TABLE" >
                            <input name="prevBtn" id="prevBtn_APARC_ASEG_SAG" type="button" value="Prev" onClick="APARC_ASEG_SAG_SLIDES.previous()" />
                            <input name="nextBtn" id="nextBtn_APARC_ASEG_SAG" type="button" value="Next" onClick="APARC_ASEG_SAG_SLIDES.next()" />
                            <select id="APARC_ASEG_SAG_sliceSelector" name="APARC_ASEG_SAG_sliceSelector" onchange="goto_slide('APARC_ASEG','SAG',this.value);">
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="APARC_ASEG_AXL" >
                            <IMG name="APARC_ASEG_AXL_SLIDES_IMG" id="APARC_ASEG_AXL_SLIDES_IMG" src="images/minus.jpg" alt="APARC+ASEG Axial Slices" />
                        </div>
                    </td>
                    <td>
                        <div id="APARC_ASEG_COR" >
                            <IMG name="APARC_ASEG_COR_SLIDES_IMG" id="APARC_ASEG_COR_SLIDES_IMG" src="images/minus.jpg" alt="APARC+ASEG Coronal Slices" />
                        </div>
                    </td>
                    <td>
                        <div id="APARC_ASEG_SAG" >
                            <IMG name="APARC_ASEG_SAG_SLIDES_IMG" id="APARC_ASEG_SAG_SLIDES_IMG" src="images/minus.jpg" alt="APARC+ASEG Sagittal Slices" />
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <input type="hidden" name="XNAT_CSRF" value="$!XNAT_CSRF" />
        #set ($search_element = "xnat:mrSessiondata")
        #set ($search_field = "xnat:mrSessiondata.ID")
        #set ($search_value = $om.getImagesessionId())
        #set ($project = $om.getProject())

        #xdatPassItemFormFields($search_element $search_field $search_value $project)
        #set ($label = "DATA")
        <input type="hidden" name="freesurfer_path" value="$om.getResourceCatalogRootPathByLabel($label)">

    </form>

    <SCRIPT type="text/javascript">
    <!--
    if (document.images) {
        T1_AXL_SLIDES.image = document.images.T1_AXL_SLIDES_IMG;
        T1_AXL_SLIDES.update();

        T1_COR_SLIDES.image = document.images.T1_COR_SLIDES_IMG;
        T1_COR_SLIDES.update();

        T1_SAG_SLIDES.image = document.images.T1_SAG_SLIDES_IMG;
        T1_SAG_SLIDES.update();

        BRAINMASK_AXL_SLIDES.image = document.images.BRAINMASK_AXL_SLIDES_IMG;
        BRAINMASK_AXL_SLIDES.update();

        BRAINMASK_COR_SLIDES.image = document.images.BRAINMASK_COR_SLIDES_IMG;
        BRAINMASK_COR_SLIDES.update();

        BRAINMASK_SAG_SLIDES.image = document.images.BRAINMASK_SAG_SLIDES_IMG;
        BRAINMASK_SAG_SLIDES.update();

        APARC_ASEG_AXL_SLIDES.image = document.images.APARC_ASEG_AXL_SLIDES_IMG;
        APARC_ASEG_AXL_SLIDES.update();

        APARC_ASEG_COR_SLIDES.image = document.images.APARC_ASEG_COR_SLIDES_IMG;
        APARC_ASEG_COR_SLIDES.update();

        APARC_ASEG_SAG_SLIDES.image = document.images.APARC_ASEG_SAG_SLIDES_IMG;
        APARC_ASEG_SAG_SLIDES.update();

    }
    //-->
    </SCRIPT>
</body>
</html>
