##<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">

<script language="Javascript">
    function aa(aa_box_checked,aa_param_id) {
        aa_param = "arc:project_descendant_pipeline.parameters.parameter["+aa_param_id+"].csvValues";
        document.getElementById(aa_param).value = (aa_box_checked) ? "1" : "0";
    }
</script>

#set ($template = $data.getTemplateInfo())
$!template.setLayoutTemplate("/Popup.vm")
$page.setTitle("Protocol Check Setup")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.message)
<DIV class="error">$data.message</DIV><br>
#end
<font face="$ui.sansSerifFonts">

<form ID="registermr" name="registermr" method="post" action="$link.setAction("ManagePipeline")">

<b>MR Registration setup for $project </b>

<br/>

<p>
$newpipeline.getDescription()
</p>

#set ($schemaType = $newpipeline.getSchemaElementName())
#set ($parameters =$newpipeline.getParameters_parameter())
<br/>
<br/>

<p>
<b> Please define the following parameters for your project: </b>
</p>
<table>
    <tr>#set ($i=3)
        <input type="hidden" id="${schemaType}.parameters.parameter[$i].name" name="${schemaType}.parameters.parameter[$i].name" value="$parameters.get($i).name"/>
        <input type="hidden" id="${schemaType}.parameters.parameter[$i].description" name="${schemaType}.parameters.parameter[$i].description" value="$parameters.get($i).description"/>
        <td><b>Launch pipeline automatically when session is archived.</b></td>
        <td>
        #set($aa_checked=$parameters.get($i).csvvalues)
        #if ($aa_checked=="1") #set($aa_val="1") #else #set($aa_val="0") #end
            <input type="checkbox" id="auto_archive" name="auto_archive" onClick="aa(this.checked,$i)" #if ($aa_checked=="1") checked #end />
            <input type="hidden" id="${schemaType}.parameters.parameter[$i].csvValues" name="${schemaType}.parameters.parameter[$i].csvValues" value="$aa_val" />
        </td>
    </tr>
    <TR>#set ($i=1)
        <input type="hidden" id="${schemaType}.parameters.parameter[$i].name" name="${schemaType}.parameters.parameter[$i].name" value="$parameters.get($i).name"/>
        <input type="hidden" id="${schemaType}.parameters.parameter[$i].description" name="${schemaType}.parameters.parameter[$i].description" value="$parameters.get($i).description"/>
        <TD><b>Scan type(s) to be registered (comma-separated)</b></TD>
        <TD>
            <input type="text" size="45" id="${schemaType}.parameters.parameter[$i].csvValues"  name="${schemaType}.parameters.parameter[$i].csvValues" value="$parameters.get($i).csvvalues"/>
        </td>
    </tr>
    <tr>#set ($i=2)
        <input type="hidden" id="${schemaType}.parameters.parameter[$i].name" name="${schemaType}.parameters.parameter[$i].name" value="$parameters.get($i).name"/>
        <input type="hidden" id="${schemaType}.parameters.parameter[$i].description" name="${schemaType}.parameters.parameter[$i].description" value="$parameters.get($i).description"/>
        <td><b>Select default atlas</b></td>
        <td>
            <input type="text" id="${schemaType}.parameters.parameter[$i].csvValues" name="${schemaType}.parameters.parameter[$i].csvValues" value="$parameters.get($i).csvvalues"/>
        </td>
    </tr>
    <tr>
        <td colspan="2" align="center"><input type="button" ONCLICK="javascript:window.close();" value="Close"/>&nbsp;&nbsp;&nbsp;<input type="submit"  name="eventSubmit_doAddprojectpipeline" value="Submit"/></td>
    </tr>

</table>

#set ($i = 0)
#foreach ($params in $parameters)
#if ($i < 1)
<input type="hidden" id="${schemaType}.parameters.parameter[$i].name" name="${schemaType}.parameters.parameter[$i].name" value="$params.name"/>
<input type="hidden" id="${schemaType}.parameters.parameter[$i].schemaLink"  name="${schemaType}.parameters.parameter[$i].schemaLink" value="$params.schemalink"/>
<input type="hidden" id="${schemaType}.parameters.parameter[$i].description" name="${schemaType}.parameters.parameter[$i].description" value="$params.description"/>
#set ($i = $i+1)
#end
#end

<input type="hidden" id="${schemaType}.stepId" name="${schemaType}.stepId" value="AUTO_ARCHIVE_RegisterMRToAtlas"/>
<input type="hidden" id="${schemaType}.displayText" name="${schemaType}.displayText" value="RegisterMRToAtlas"/>
<input type="hidden" id="${schemaType}.name" name="${schemaType}.name" value="RegisterMRToAtlas"/>
<input type="hidden" id="${schemaType}.location" name="${schemaType}.location" value="$newpipeline.getLocation()"/>
<input type="hidden" id="${schemaType}.customwebpage" name="${schemaType}.customwebpage" value="$newpipeline.getCustomwebpage()"/>
<input type="hidden" id="${schemaType}.description" name="${schemaType}.description" value='$newpipeline.getDescription()'/>



<input type="hidden" name="search_element" value="xnat:projectData"/>
<input type="hidden" name="search_field" value="xnat:projectData.ID"/>
<input type="hidden" name="search_value" value="$project"/>
<input type="hidden" name="project" value="$project"/>
<input type="hidden" name="pipeline_path" value="$pipeline_path"/>
<input type="hidden" name="dataType" value="$dataType"/>
<input type="hidden" name="schemaType" value="$schemaType"/>
<input type="hidden" name="edit" value="$edit"/>
<input type="hidden" name="destination" value="JS_Parent_Return.vm"/>


</form>
