<TABLE VALIGN="top" style="border-right:1px solid #6D99B6;border-left:1px solid #6D99B6;border-top:1px solid #6D99B6;border-bottom:1px solid #6D99B6;">
	<TR>
		<TD>PET Session ID</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("PETSESSION_ID"))
		</TD>
		
		<TD>Processed with MR Session</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("PET_FSPET_MR_LABEL"))
		</TD>
		
		<TD>ID</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("EXPT_ID"))
		</TD>
		
		<TD>Time</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("TIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>delay</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("DELAY"))
		</TD>
		
		<TD>ref_expt_id</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("DELAY_REF_EXPT_ID"))
		</TD>
		
		<TD>Note</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOTE"))
		</TD>
		
		<TD>MR Session Date</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("PET_FSPET_MR_DATE"))
		</TD>
		
	</TR>
	<TR>
		<TD>MR Session Project</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("PET_FSPET_MR_PROJECT"))
		</TD>
		
		<TD>MR Session Subject</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("PET_FSPET_MR_SUBJECT"))
		</TD>
		
		<TD>MR Session Note</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("PET_FSPET_MR_NOTE"))
		</TD>
		
		<TD>FreeSurfer Date</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("PET_FSPET_FS_DATE"))
		</TD>
		
	</TR>
	<TR>
		<TD>FreeSurfer QC Status</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("PET_FSPET_FS_QCSTAT"))
		</TD>
		
		<TD>FreeSurfer QC Note</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("PET_FSPET_FS_QCNOTE"))
		</TD>
		
		<TD>PET TC QC Status</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("PET_TC_QC_STATUS"))
		</TD>
		
		<TD>PET TC QC Note</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("PET_TC_QC_NOTE"))
		</TD>
		
	</TR>
	<TR>
		<TD>PET TC QC Date</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("PET_TC_QC_DATE"))
		</TD>
		
		<TD>PET TC QC Method</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("PET_TC_QC_METHOD"))
		</TD>
		
		<TD>PET TC QC Validated By</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("PET_TC_QC_VALIDATEDBY"))
		</TD>
		
		<TD>Date</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("DATE"))
		</TD>
		
	</TR>
	<TR>
		<TD>Project</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("PROJECT"))
		</TD>
		
		<TD>Inserted</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_DATE"))
		</TD>
		
		<TD>Creator</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_USER"))
		</TD>
		
		<TD>procType</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("PROCTYPE"))
		</TD>
		
	</TR>
	<TR>
		<TD>model</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("MODEL"))
		</TD>
		
		<TD>tracer</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("TRACER"))
		</TD>
		
		<TD>templateType</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("TEMPLATETYPE"))
		</TD>
		
		<TD>FSId</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("FSID"))
		</TD>
		
	</TR>
	<TR>
		<TD>MRId</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("MRID"))
		</TD>
		
		<TD>mocoError</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("MOCOERROR"))
		</TD>
		
		<TD>regError</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("REGERROR"))
		</TD>
	</TR>
	
</TABLE>
