<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">

#macro (dateEditRow $name $field)
<tr>
	<td>$name</td>
	<td>#xdatDateBox($field $item $vr $years)</td>
</tr>
#end

#macro (textEditRow $name $field)
<tr>
	<td>$name</td>
	<td>#xdatTextBox($field $item "" $vr)</td>
</tr>
#end

#macro (oneTextOneBoolEditRow $tName $tField $bName $bField $isTrue)
<tr>
	<td>$tName</td>
	<td>#xdatTextBox($tField $item "" $vr)</td>
	<td>$bName</td>
	<td>#xdatBooleanRadio($bField $item $isTrue $vr)</td>
</tr>
#end

#macro (textEditNColsRow $names $fields)
<tr>
  #foreach ($name in $names)
	  #set ($index = $velocityCount - 1)
		<td>$name</td>
		<td>#xdatTextBox("$fields.get($index)" $item "" $vr)</td>
  #end
</tr>
#end

#macro (boolRadioEditRow $name $field $isTrue)
<tr>
	<td>$name</td>
	<td>#xdatBooleanRadio($field $item $isTrue $vr)</td>
</tr>
#end

$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)

#set($years = [ 2011..1900])

#if ($data.message)
<font color="red" size="3">$data.message</font>
#end

<p>
<form ID="form1" name="form1" method="post" action="$link.setAction("ModifySubjectAssessorData")">
<input type="hidden" name="project" value="$!{project}" >
#if($vr)
	<font color="red">Invalid parameters:<BR>$vr.toHTML()</font>
<HR>
#end

<br>
<div class="edit_title">Levels</div>
#parse("screens/xnat_edit_subjectAssessorData.vm")
<div class="edit_header1">Levels Info</div><br>
#parse("/screens/EditProjectSpecificFields.vm")

<table class="session_info_edit">
	#dateEditRow("Date" "cnda:levelsData/date")
	#textEditRow("Time" "cnda:levelsData/time")
	#textEditRow("Visit ID" "cnda:levelsData/visit_id")
	#textEditRow("Age" "cnda:levelsData/age")
	#oneTextOneBoolEditRow("Plasma Levodopa (ng/ml)" "cnda:levelsData/plasmaLD" "questionable?" "cnda:levelsData/questionableLD" false)
	#oneTextOneBoolEditRow("Plasma Dopamine (ng/ml)" "cnda:levelsData/plasmaDA" "questionable?" "cnda:levelsData/questionableDA" false)
	#oneTextOneBoolEditRow("Plasma 3OMe (ng/ml)" "cnda:levelsData/plasma3OMe" "questionable?" "cnda:levelsData/questionable3OMe" false)
	#oneTextOneBoolEditRow("Plasma DOPAC (ng/ml)" "cnda:levelsData/plasmaDC" "questionable?" "cnda:levelsData/questionableDC" false)
	#oneTextOneBoolEditRow("Plasma Carbidopa (ng/ml)" "cnda:levelsData/plasmaCD" "questionable?" "cnda:levelsData/questionableCD" false)
	#boolRadioEditRow("Problem?" "cnda:levelsData/problem" false)
	#boolRadioEditRow("Known for IVLD1?" "cnda:levelsData/knownForIVLD1" false)
	#boolRadioEditRow("Rejected for IVLD1?" "cnda:levelsData/rejectedForIVLD1" false)
	<tr><td colspan=2>#parse("/screens/EditProjectSpecificFields.vm")</td></tr>
</table>

<br>
<div class="edit_header2">Notes</div>
<br>
<textarea name="cnda:levelsData.note" rows="4" cols="50" style="text-align:left;">$!notes</textarea>

<hr>

#xdatEditProps($item $edit_screen)
<input type="button" onclick="javascript:history.go(-1)" value="Back"/>
&nbsp;&nbsp;&nbsp;
<input type="button" onclick="validateForm();" name="eventSubmit_doInsert" value="Submit"/>

</form>

<script type="text/javascript">
function validateForm()
{
   //INSERT CUSTOM CONTENT HERE

   validateSubjectAssessorForm();
   return false;
}
</script>
