## DIAN Early Discontinuation Data Report Page
## Created: 01/09/2013

$page.setTitle("Early Discontinuation Data")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)

#if ($turbineUtils.GetPassedParameter("popup", $data))
   #set ($popup = $turbineUtils.GetPassedParameter("popup", data) )
   #set ($popup = "false")
#end

#macro (createTableRow $e $header $options $keys)
   #set($elm = "")  ## Clear out variable
   #set($elm = $item.getStringProperty($e))
   #dian_createTableRow($elm $header $options $keys)
#end

#macro (createSimpleTableRow $e $header)
   #createTableRow($elm $header "" "")
#end

<style>
#uds_form {
   border-collapse: collapse;
   border-spacing:0px;
   border: 1px solid #000;
}  
#uds_form td, #uds_form th {
   vertical-align:top;
   text-align:left;
   border-top:1px solid #000;
   border-bottom:1px solid #000;
}  
</style>

<table width="100%">
   <tr>
      <td>#parse($turbineUtils.getTemplateName("_report",$om.getXSIType(),$project))</td>
      <td valign="top" align="right">#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)</td>
   </tr>
   <tr><td colspan="2">
      <table id="uds_form"  width="600px">
         #createSimpleTableRow("WDATE" "Date site notified of participant withdrawal")
         #set($KEYS = ["1","2","3","4","5","6","7","8","9","10","11","12"])
         #set($OPTIONS = ["Death","Consent Withdrawn","Safety Risk","Non-Compliance with Protocol","Adverse Event (provide detailed explanation below*)","Elects to Enroll in a Clinical Trial","Participant Burden (provide detailed explanation below)","Loss of Collateral Source","Subject Moved (unable to transfer or travel any distance for visits)","Subject Admitted to a Nursing Facility","Study Terminated (mandated by the Project Director or IRB)","Non-Responsive/Lost to Follow Up; 13=Other (provide detailed explanation below)"])
         #createTableRow("WREASON" "Reason for Discontinuation" $OPTIONS $KEYS)
         #createSimpleTableRow("WDETAILS" "Additional information regarding the withdrawal")
      </table>
   </td></tr>
</table>