##Copyright 2005 Harvard University / Howard Hughes Medical Institute (HHMI) All Rights Reserved
#set ($mr_id = $!mr.getProperty("ID"))
$page.setTitle("WMD Assessment: $!mr_id")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)

<TABLE width="100%">
	<TR>
		<TD>
<TABLE width="400">
	<TR>
		<TD align="left" style="line-height:18px;"><font face="$ui.sansSerifFonts" size="4" style="line-height:20px;"><b>Man White Matter Modified Scheltens Assessment</b></font></TD>
	</TR>
</TABLE>

	

<br>



    <table bgcolor="#ffffff" cellpadding="1" border=0 WIDTH="400">

	
			<tr>

				<TH align="left">Session ID:</TH>

				<TD colspan=4>$!mr_id</TD>

			</tr>
#set ($subject = $!mr.getSubjectData())
			<tr>

				<TH align="left">MAP #: </TH>

				<TD colspan=4>$!subject.MapOrLab</TD>

			</tr>

			<tr>

				<TH align="left">Rater: </TH>

				<TD colspan=4>$!item.getProperty("${search_element}.investigator.title") $!item.getProperty("${search_element}.investigator.firstname") $!item.getProperty("${search_element}.investigator.lastname")</TD>

			</tr>

			<tr>

				<TH align="left">Date: </TH>

				<TD colspan=4>$!item.getProperty("${search_element}.date")</TD>

			
	</tr>



	<tr>
		<TD colspan=5>&nbsp;</TD>
	</tr>



	 <tr>

	 	<TD colspan=5><font face="$ui.sansSerifFonts" size="4"><b>Deep White Matter</b></font></TD>

       </tr>
			<tr>

			<TD COLSPAN=5>&nbsp;</TD>

		   </tr>
	
		   <tr>

			<TH align="left"><font face="$ui.sansSerifFonts" size="2">1) Frontal</font></TH>

			<TH ALIGN="left"><font face="$ui.sansSerifFonts" size="2">Left</font></TH>

			<TH ALIGN="left"><font face="$ui.sansSerifFonts" size="2">Right</font></TH>

			<TH ALIGN="left"><font face="$ui.sansSerifFonts" size="2">     </font></TH>

			<TH ALIGN="left"><font face="$ui.sansSerifFonts" size="2">Scheltens</font></TH>
	</tr>



	 <tr>

	 	<TD colspan=5><font face="$ui.sansSerifFonts" size="2"><b><U>Lesions</U></b></font></TD>

		   </tr>

		   <tr>

			<TH align="left">Small (<3mm) $!om.getBooleanProperty("assessment.regions.deep_white_matter.frontal.left.confluent")</TH>

			#if ($!om.getBooleanProperty("assessment.regions.deep_white_matter.frontal.left.confluent"))

			<TD>confluent</TD>

			#else

			<TD>$!om.getProperty("assessment.regions.deep_white_matter.frontal.left.lesions.small")</TD>

			#end

			#if ($!om.getBooleanProperty("assessment.regions.deep_white_matter.frontal.right.confluent"))

			<TD>confluent</TD>

			#else

			<TD>$!om.getProperty("assessment.regions.deep_white_matter.frontal.right.lesions.small")</TD>

			#end

			<TD>       </TD>

			<TD>$!om.ScheltensDwmFrontal</TD>

		   </tr>

		   <tr>

			<TH align="left">Medium (3-10 mm)</TH>

			#if (!$!om.getBooleanProperty("assessment.regions.deep_white_matter.frontal.left.confluent"))

			<TD>$!om.getProperty("assessment.regions.deep_white_matter.frontal.left.lesions.medium") </TD>

			#else

			<TD> </TD>

			#end

			#if (!$!om.getBooleanProperty("assessment.regions.deep_white_matter.frontal.right.confluent"))

			<TD>$!om.getProperty("assessment.regions.deep_white_matter.frontal.right.lesions.medium")</TD>

			#else

			<TD> </TD>

			#end

		   </tr>

		   <tr>

			<TH align="left">Large (>10mm)</TH>

			#if (!$!om.getBooleanProperty("assessment.regions.deep_white_matter.frontal.left.confluent"))

			<TD>$!om.getProperty("assessment.regions.deep_white_matter.frontal.left.lesions.large")</TD>

			#else

			<TD> </TD>

			#end

			#if (!$!om.getBooleanProperty("assessment.regions.deep_white_matter.frontal.right.confluent"))

			<TD colspan=3>$!om.getProperty("assessment.regions.deep_white_matter.frontal.right.lesions.large")</TD>

			#else

			<TD colspan=3> </TD>

			#end

		   </tr>

		   <tr/>

		   <tr>

	 	<TD colspan=5><font face="$ui.sansSerifFonts" size="2"><b><U>Infarcts</U></b></font></TD>

		   </tr>

		   <tr>

			<TH align="left">Medium</TH>

			<TD>$!om.getProperty("assessment.regions.deep_white_matter.frontal.right.infarcts.large")</TD>

			<TD colspan=3>$!om.getProperty("assessment.regions.deep_white_matter.frontal.right.infarcts.medium")</TD>

		   </tr>

		   <tr>

			<TH align="left">Large</TH>

			<TD>$!om.getProperty("assessment.regions.deep_white_matter.frontal.left.infarcts.large")</TD>

			<TD colspan=3>$!om.getProperty("assessment.regions.deep_white_matter.frontal.right.infarcts.large")</TD>

		   </tr>

		   <tr>

			<TD COLSPAN=5>&nbsp;</TD>

		   </tr>

	 <tr>


			<TH align="left"><font face="$ui.sansSerifFonts" size="2">2) Parietal</font></TH>

			<TH ALIGN="left"><font face="$ui.sansSerifFonts" size="2">Left</font></TH>

			<TH ALIGN="left"><font face="$ui.sansSerifFonts" size="2">Right</font></TH>

			<TH ALIGN="left"><font face="$ui.sansSerifFonts" size="2">     </font></TH>

			<TH ALIGN="left"><font face="$ui.sansSerifFonts" size="2">Scheltens</font></TH>
		</tr>
	
		   <tr>

	 	<TD colspan=5><font face="$ui.sansSerifFonts" size="2"><b><U>Lesions</U></b></font></TD>

		   </tr>

		   <tr>

			<TH align="left">Small (<3mm)</TH>

			#if ($!om.getBooleanProperty("assessment.regions.deep_white_matter.parietal.left.confluent"))

			<TD>confluent</TD>

			#else

			<TD>$!om.getProperty("assessment.regions.deep_white_matter.parietal.left.lesions.small")</TD>

			#end

			#if ($!om.getBooleanProperty("assessment.regions.deep_white_matter.parietal.right.confluent"))

			<TD>confluent</TD>

			#else

			<TD>$!om.getProperty("assessment.regions.deep_white_matter.parietal.right.lesions.small")</TD>

			#end

			<TD>       </TD>

			<TD>$!om.ScheltensDwmParietal</TD>

		   </tr>

		   <tr>

			<TH align="left">Medium (3-10 mm)</TH>

			#if (!$!om.getBooleanProperty("assessment.regions.deep_white_matter.parietal.left.confluent"))

			<TD>$!om.getProperty("assessment.regions.deep_white_matter.parietal.left.lesions.medium") </TD>

			#else

			<TD> </TD>

			#end

			#if (!$!om.getBooleanProperty("assessment.regions.deep_white_matter.parietal.right.confluent"))

			<TD>$!om.getProperty("assessment.regions.deep_white_matter.parietal.right.lesions.medium")</TD>

			#else

			<TD> </TD>

			#end

		   </tr>

		   <tr>

			<TH align="left">Large (>10mm)</TH>

			#if (!$!om.getBooleanProperty("assessment.regions.deep_white_matter.parietal.left.confluent"))

			<TD>$!om.getProperty("assessment.regions.deep_white_matter.parietal.left.lesions.large")</TD>

			#else

			<TD> </TD>

			#end

			#if (!$!om.getBooleanProperty("assessment.regions.deep_white_matter.parietal.right.confluent"))

			<TD colspan=3>$!om.getProperty("assessment.regions.deep_white_matter.parietal.right.lesions.large")</TD>

			#else

			<TD colspan=3> </TD>

			#end

		   </tr>

		   <tr/>

		   <tr>

	 	<TD colspan=5><font face="$ui.sansSerifFonts" size="2"><b><U>Infarcts</U></b></font></TD>

		   </tr>

		   <tr>

			<TH align="left">Medium</TH>

			<TD>$!om.getProperty("assessment.regions.deep_white_matter.parietal.right.infarcts.large")</TD>

			<TD colspan=3>$!om.getProperty("assessment.regions.deep_white_matter.parietal.right.infarcts.medium")</TD>

		   </tr>

		   <tr>

			<TH align="left">Large</TH>

			<TD>$!om.getProperty("assessment.regions.deep_white_matter.parietal.left.infarcts.large")</TD>

			<TD colspan=3>$!om.getProperty("assessment.regions.deep_white_matter.parietal.right.infarcts.large")</TD>

		   </tr>

		   <tr>

			<TD COLSPAN=5>&nbsp;</TD>

		   </tr>

	<tr>

			<TH align="left"><font face="$ui.sansSerifFonts" size="2">3) Occipital</font></TH>

			<TH ALIGN="left"><font face="$ui.sansSerifFonts" size="2">Left</font></TH>

			<TH ALIGN="left"><font face="$ui.sansSerifFonts" size="2">Right</font></TH>

			<TH ALIGN="left"><font face="$ui.sansSerifFonts" size="2">     </font></TH>

			<TH ALIGN="left"><font face="$ui.sansSerifFonts" size="2">Scheltens</font></TH>
		</tr>
	
		   <tr>

	 	<TD colspan=5><font face="$ui.sansSerifFonts" size="2"><b><U>Lesions</U></b></font></TD>

		   </tr>

		   <tr>

			<TH align="left">Small (<3mm)</TH>

			#if ($!om.getBooleanProperty("assessment.regions.deep_white_matter.occipital.left.confluent"))

			<TD>confluent</TD>

			#else

			<TD>$!om.getProperty("assessment.regions.deep_white_matter.occipital.left.lesions.small")</TD>

			#end

			#if ($!om.getBooleanProperty("assessment.regions.deep_white_matter.occipital.right.confluent"))

			<TD>confluent</TD>

			#else

			<TD>$!om.getProperty("assessment.regions.deep_white_matter.occipital.right.lesions.small")</TD>

			#end

			<TD>       </TD>

			<TD>$!om.ScheltensDwmOccipital</TD>

		   </tr>

		   <tr>

			<TH align="left">Medium (3-10 mm) </TH>
			
			#if (!$!om.getBooleanProperty("assessment.regions.deep_white_matter.occipital.left.confluent"))

			<TD>$!om.getProperty("assessment.regions.deep_white_matter.occipital.left.lesions.medium") </TD>

			#else

			<TD> </TD>

			#end

			#if (!$!om.getBooleanProperty("assessment.regions.deep_white_matter.occipital.right.confluent"))

			<TD>$!om.getProperty("assessment.regions.deep_white_matter.occipital.right.lesions.medium")</TD>

			#else

			<TD> </TD>

			#end

		   </tr>

		   <tr>

			<TH align="left">Large (>10mm)</TH>

			#if (!$!om.getBooleanProperty("assessment.regions.deep_white_matter.occipital.left.confluent"))

			<TD>$!om.getProperty("assessment.regions.deep_white_matter.occipital.left.lesions.large")</TD>

			#else

			<TD> </TD>

			#end

			#if (!$!om.getBooleanProperty("assessment.regions.deep_white_matter.occipital.right.confluent"))

			<TD colspan=3>$!om.getProperty("assessment.regions.deep_white_matter.occipital.right.lesions.large")</TD>

			#else

			<TD colspan=3> </TD>

			#end

		   </tr>

		   <tr/>

		   <tr>

	 	<TD colspan=5><font face="$ui.sansSerifFonts" size="2"><b><U>Infarcts</U></b></font></TD>

		   </tr>

		   <tr>

			<TH align="left">Medium</TH>

			<TD>$!om.getProperty("assessment.regions.deep_white_matter.occipital.right.infarcts.large")</TD>

			<TD colspan=3>$!om.getProperty("assessment.regions.deep_white_matter.occipital.right.infarcts.medium")</TD>

		   </tr>

		   <tr>

			<TH align="left">Large</TH>

			<TD>$!om.getProperty("assessment.regions.deep_white_matter.occipital.left.infarcts.large")</TD>

			<TD colspan=3>$!om.getProperty("assessment.regions.deep_white_matter.occipital.right.infarcts.large")</TD>

		   </tr>

		   <tr>

			<TD COLSPAN=5>&nbsp;</TD>

		   </tr>

	<tr>
		   <tr>

			<TH align="left"><font face="$ui.sansSerifFonts" size="2">4) Temporal</font></TH>

			<TH ALIGN="left"><font face="$ui.sansSerifFonts" size="2">Left</font></TH>

			<TH ALIGN="left"><font face="$ui.sansSerifFonts" size="2">Right</font></TH>

			<TH ALIGN="left"><font face="$ui.sansSerifFonts" size="2">     </font></TH>

			<TH ALIGN="left"><font face="$ui.sansSerifFonts" size="2">Scheltens</font></TH>
		</tr>
	
		   <tr>

	 	<TD colspan=5><font face="$ui.sansSerifFonts" size="2"><b><U>Lesions</U></b></font></TD>

		   </tr>

		   <tr>

			<TH align="left">Small (<3mm) $!om.getProperty("assessment.regions.deep_white_matter.temporal.left.lesions.small")</TH>

			#if ($!om.getBooleanProperty("assessment.regions.deep_white_matter.temporal.left.confluent"))

			<TD>confluent</TD>

			#else

			<TD>$!om.getProperty("assessment.regions.deep_white_matter.temporal.left.lesions.small")</TD>

			#end

			#if ($!om.getBooleanProperty("assessment.regions.deep_white_matter.temporal.right.confluent"))

			<TD>confluent</TD>

			#else

			<TD>$!om.getProperty("assessment.regions.deep_white_matter.temporal.right.lesions.small")</TD>

			#end

			<TD>       </TD>

			<TD>$!om.ScheltensDwmTemporal</TD>

		   </tr>

		   <tr>

			<TH align="left">Medium (3-10 mm) $!om.getProperty("assessment.regions.deep_white_matter.temporal.left.lesions.medium")</TH>

			#if (!$!om.getBooleanProperty("assessment.regions.deep_white_matter.temporal.left.confluent"))

			<TD>$!om.getProperty("assessment.regions.deep_white_matter.temporal.left.lesions.medium") </TD>

			#else

			<TD> </TD>

			#end

			#if (!$!om.getBooleanProperty("assessment.regions.deep_white_matter.temporal.right.confluent"))

			<TD>$!om.getProperty("assessment.regions.deep_white_matter.temporal.right.lesions.medium")</TD>

			#else

			<TD> </TD>

			#end

		   </tr>

		   <tr>

			<TH align="left">Large (>10mm)</TH>

			#if (!$!om.getBooleanProperty("assessment.regions.deep_white_matter.temporal.left.confluent"))

			<TD>$!om.getProperty("assessment.regions.deep_white_matter.temporal.left.lesions.large")</TD>

			#else

			<TD> </TD>

			#end

			#if (!$!om.getBooleanProperty("assessment.regions.deep_white_matter.temporal.right.confluent"))

			<TD colspan=3>$!om.getProperty("assessment.regions.deep_white_matter.temporal.right.lesions.large")</TD>

			#else

			<TD colspan=3> </TD>

			#end

		   </tr>

		   <tr/>

		   <tr>

	 	<TD colspan=5><font face="$ui.sansSerifFonts" size="2"><b><U>Infarcts</U></b></font></TD>

		   </tr>

		   <tr>

			<TH align="left">Medium</TH>

			<TD>$!om.getProperty("assessment.regions.deep_white_matter.temporal.right.infarcts.large")</TD>

			<TD colspan=3>$!om.getProperty("assessment.regions.deep_white_matter.temporal.right.infarcts.medium")</TD>

		   </tr>

		   <tr>

			<TH align="left">Large</TH>

			<TD>$!om.getProperty("assessment.regions.deep_white_matter.temporal.left.infarcts.large")</TD>

			<TD colspan=3>$!om.getProperty("assessment.regions.deep_white_matter.temporal.right.infarcts.large")</TD>

		   </tr>

		   <tr>

			<TD COLSPAN=5>&nbsp;</TD>

		   </tr>

	 <tr>

	 	<td COLSPAN=5><br></td>

       </tr>

	 <tr>

	 	<TD colspan=5><font face="$ui.sansSerifFonts" size="4"><b>Periventricular</b></font></TD>

       </tr>

	 <tr>

			<TH ALIGN="left">        </TH>

			<TH ALIGN="left"><font face="$ui.sansSerifFonts" size="2">Left</font></TH>

			<TH ALIGN="left"><font face="$ui.sansSerifFonts" size="2">Right</font></TH>

			<TH ALIGN="left"><font face="$ui.sansSerifFonts" size="2">     </font></TH>

			<TH ALIGN="left"><font face="$ui.sansSerifFonts" size="2">Scheltens</font></TH>

		   </tr>

		   <tr>

			<TH ALIGN="left"><font face="$ui.sansSerifFonts" size="2">5) Frontal Horns</font></TH>

			<TD>$!om.getProperty("assessment.regions.periventricular.frontal_horns.left")</TD>

			<TD>$!om.getProperty("assessment.regions.periventricular.frontal_horns.right")</TD>

			<TD>       </TD>

			<TD>$!om.ScheltensPvFh</TD>

		   </tr>

		   <tr>

			<TH ALIGN="left"><font face="$ui.sansSerifFonts" size="2">6) Posterior Horns</font></TH>

			<TD>$!om.getProperty("assessment.regions.periventricular.posterior_horns.left")</TD>

			<TD>$!om.getProperty("assessment.regions.periventricular.posterior_horns.right")</TD>

			<TD>       </TD>

			<TD>$!om.ScheltensPvPh</TD>

		   </tr>

		   <tr>

			<TH ALIGN="left"><font face="$ui.sansSerifFonts" size="2">7) Ventricular Body</font></TH>

			<TD>$!om.getProperty("assessment.regions.periventricular.ventricular_body.left")</TD>

			<TD>$!om.getProperty("assessment.regions.periventricular.ventricular_body.right")</TD>

			<TD>       </TD>

			<TD>$!om.ScheltensPvVb</TD>

		   </tr>


	 <tr>

	 	<td COLSPAN=5><br></td>

       </tr>





	 <tr>

	 	<TD colspan=5 ><font face="$ui.sansSerifFonts" size="4" ><b>Basal Ganglia</b></font></TD>

       </tr>
			<tr>

			<TD COLSPAN=5>&nbsp;</TD>

		   </tr>
		   <tr>

			<TH ALIGN="left"><font face="$ui.sansSerifFonts" size="2">8) Thalamus</font></TH>

			<TH ALIGN="left"><font face="$ui.sansSerifFonts" size="2">Left</font></TH>

			<TH ALIGN="left"><font face="$ui.sansSerifFonts" size="2">Right</font></TH>

			<TH ALIGN="left"><font face="$ui.sansSerifFonts" size="2">     </font></TH>

			<TH ALIGN="left"><font face="$ui.sansSerifFonts" size="2">Scheltens</font></TH>

		   </tr>

		   <tr>

	 	<TD colspan=5><font face="$ui.sansSerifFonts" size="2"><b><U>Lesions</U></b></font></TD>

		   </tr>

		   <tr>

			<TH ALIGN="left">Small (<3mm)</TH>

			#if ($!om.getBooleanProperty("assessment.regions.basal_ganglia.thalamus.left.confluent"))

			<TD>confluent</TD>

			#else

			<TD>$!om.getProperty("assessment.regions.basal_ganglia.thalamus.left.lesions.small")</TD>

			#end

			#if ($!om.getBooleanProperty("assessment.regions.basal_ganglia.thalamus.right.confluent"))

			<TD>confluent</TD>

			#else

			<TD>$!om.getProperty("assessment.regions.basal_ganglia.thalamus.right.lesions.small")</TD>

			#end

			<TD>       </TD>

			<TD>$!om.ScheltensBgThalamus</TD>

		   </tr>

		   <tr>

			<TH ALIGN="left">Medium (3-10 mm)</TH>

			#if (!$!om.getBooleanProperty("assessment.regions.basal_ganglia.thalamus.left.confluent"))

			<TD>$!om.getProperty("assessment.regions.basal_ganglia.thalamus.left.lesions.medium")</TD>

			#else

			<TD> </TD>

			#end

			#if (!$!om.getProperty("assessment.regions.basal_ganglia.thalamus.right.confluent"))

			<TD COLSPAN=3>$!om.getProperty("assessment.regions.basal_ganglia.thalamus.right.lesions.medium")</TD>

			#else

			<TD COLSPAN=3> </TD>

			#end

		   </tr>

		   <tr>

			<TH ALIGN="left">Large (>10mm)</TH>

			#if (!$!om.getBooleanProperty("assessment.regions.basal_ganglia.thalamus.left.confluent"))

			<TD>$!om.getProperty("assessment.regions.basal_ganglia.thalamus.left.lesions.large")</TD>

			#else

			<TD> </TD>

			#end

			#if (!$!om.getBooleanProperty("assessment.regions.basal_ganglia.thalamus.right.confluent"))

			<TD COLSPAN=3>$!om.getProperty("assessment.regions.basal_ganglia.thalamus.right.lesions.large")</TD>

			#else

			<TD COLSPAN=3> </TD>

			#end

		   </tr>

		   <tr>

	 	<TD colspan=5><font face="$ui.sansSerifFonts" size="2"><b><U>Infarcts</U></b></font></TD>

		   </tr>

		   <tr >

			<TH ALIGN="left">Medium</TH>

			<TD>$!om.getProperty("assessment.regions.basal_ganglia.thalamus.left.infarcts.medium")</TD>

			<TD COLSPAN=3>$!om.getProperty("assessment.regions.basal_ganglia.thalamus.right.infarcts.medium")</TD>

		   </tr>

		   <tr>

			<TH ALIGN="left">Large</TH>

			<TD>$!om.getProperty("assessment.regions.basal_ganglia.thalamus.left.infarcts.large")</TD>

			<TD COLSPAN=3>$!om.getProperty("assessment.regions.basal_ganglia.thalamus.right.infarcts.large")</TD>

	</tr>
	<tr>

			<TD COLSPAN=5>&nbsp;</TD>

		   </tr>

		   <tr>

			<TH ALIGN="left"><font face="$ui.sansSerifFonts" size="2">9) Caudate</font></TH>

			<TH ALIGN="left"><font face="$ui.sansSerifFonts" size="2">Left</font></TH>

			<TH ALIGN="left"><font face="$ui.sansSerifFonts" size="2">Right</font></TH>

			<TH ALIGN="left"><font face="$ui.sansSerifFonts" size="2">     </font></TH>

			<TH ALIGN="left"><font face="$ui.sansSerifFonts" size="2">Scheltens</font></TH>

		   </tr>

		   <tr>

	 	<TD colspan=5><font face="$ui.sansSerifFonts" size="2"><b><U>Lesions</U></b></font></TD>

		   </tr>

		   <tr>

			<TH ALIGN="left">Small (<3mm)</TH>

			#if ($!om.getBooleanProperty("assessment.regions.basal_ganglia.caudate.left.confluent"))

			<TD>confluent</TD>

			#else

			<TD>$!om.getProperty("assessment.regions.basal_ganglia.caudate.left.lesions.small")</TD>

			#end

			#if ($!om.getBooleanProperty("assessment.regions.basal_ganglia.caudate.right.confluent"))

			<TD>confluent</TD>

			#else

			<TD>$!om.getProperty("assessment.regions.basal_ganglia.caudate.right.lesions.small")</TD>

			#end

			<TD>       </TD>

			<TD>$!om.ScheltensBgCaudate</TD>

		   </tr>

		   <tr>

			<TH ALIGN="left">Medium (3-10 mm)</TH>

			#if (!$!om.getBooleanProperty("assessment.regions.basal_ganglia.caudate.left.confluent"))

			<TD>$!om.getProperty("assessment.regions.basal_ganglia.caudate.left.lesions.medium")</TD>

			#else

			<TD> </TD>

			#end

			#if (!$!om.getBooleanProperty("assessment.regions.basal_ganglia.caudate.right.confluent"))

			<TD COLSPAN=3>$!om.getProperty("assessment.regions.basal_ganglia.caudate.right.lesions.medium")</TD>

			#else

			<TD COLSPAN=3> </TD>

			#end

		   </tr>

		   <tr>

			<TH ALIGN="left">Large (>10mm)</TH>

			#if (!$!om.getBooleanProperty("assessment.regions.basal_ganglia.caudate.left.confluent"))

			<TD>$!om.getProperty("assessment.regions.basal_ganglia.caudate.left.lesions.large")</TD>

			#else

			<TD> </TD>

			#end

			#if (!$!om.getBooleanProperty("assessment.regions.basal_ganglia.caudate.right.confluent"))

			<TD COLSPAN=3>$!om.getProperty("assessment.regions.basal_ganglia.caudate.right.lesions.large")</TD>

			#else

			<TD COLSPAN=3> </TD>

			#end

		   </tr>

		   <tr>

	 	<TD colspan=5><font face="$ui.sansSerifFonts" size="2"><b><U>Infarcts</U></b></font></TD>

		   </tr>

		   <tr >

			<TH ALIGN="left">Medium</TH>

			<TD>$!om.getProperty("assessment.regions.basal_ganglia.caudate.left.infarcts.medium")</TD>

			<TD COLSPAN=3>$!om.getProperty("assessment.regions.basal_ganglia.caudate.right.infarcts.medium")</TD>

		   </tr>

		   <tr>

			<TH ALIGN="left">Large</TH>

			<TD>$!om.getProperty("assessment.regions.basal_ganglia.caudate.left.infarcts.large")</TD>

			<TD COLSPAN=3>$!om.getProperty("assessment.regions.basal_ganglia.caudate.right.infarcts.large")</TD>

	</tr>
	<tr>

			<TD COLSPAN=5>&nbsp;</TD>

		   </tr>

		   <tr>

			<TH ALIGN="left"><font face="$ui.sansSerifFonts" size="2">10) Putamen</font></TH>

			<TH ALIGN="left"><font face="$ui.sansSerifFonts" size="2">Left</font></TH>

			<TH ALIGN="left"><font face="$ui.sansSerifFonts" size="2">Right</font></TH>

			<TH ALIGN="left"><font face="$ui.sansSerifFonts" size="2">     </font></TH>

			<TH ALIGN="left"><font face="$ui.sansSerifFonts" size="2">Scheltens</font></TH>

		   </tr>

		   <tr>

	 	<TD colspan=5><font face="$ui.sansSerifFonts" size="2"><b><U>Lesions</U></b></font></TD>

		   </tr>

		   <tr>

			<TH ALIGN="left">Small (<3mm)</TH>

			#if ($!om.getBooleanProperty("assessment.regions.basal_ganglia.putamen.left.confluent"))

			<TD>confluent</TD>

			#else

			<TD>$!om.getProperty("assessment.regions.basal_ganglia.putamen.left.lesions.small")</TD>

			#end

			#if ($!om.getBooleanProperty("assessment.regions.basal_ganglia.putamen.right.confluent"))

			<TD>confluent</TD>

			#else

			<TD>$!om.getProperty("assessment.regions.basal_ganglia.putamen.right.lesions.small")</TD>

			#end

			<TD>       </TD>

			<TD>$!om.ScheltensBgPutamen</TD>

		   </tr>

		   <tr>

			<TH ALIGN="left">Medium (3-10 mm)</TH>

			#if (!$!om.getBooleanProperty("assessment.regions.basal_ganglia.putamen.left.confluent"))

			<TD>$!om.getProperty("assessment.regions.basal_ganglia.putamen.left.lesions.medium")</TD>

			#else

			<TD> </TD>

			#end

			#if (!$!om.getBooleanProperty("assessment.regions.basal_ganglia.putamen.right.confluent"))

			<TD COLSPAN=3>$!om.getProperty("assessment.regions.basal_ganglia.putamen.right.lesions.medium")</TD>

			#else

			<TD COLSPAN=3> </TD>

			#end

		   </tr>

		   <tr>

			<TH ALIGN="left">Large (>10mm)</TH>

			#if (!$!om.getBooleanProperty("assessment.regions.basal_ganglia.putamen.left.confluent"))

			<TD>$!om.getProperty("assessment.regions.basal_ganglia.putamen.left.lesions.large")</TD>

			#else

			<TD> </TD>

			#end

			#if (!$!om.getBooleanProperty("assessment.regions.basal_ganglia.putamen.right.confluent"))

			<TD COLSPAN=3>$!om.getProperty("assessment.regions.basal_ganglia.putamen.right.lesions.large")</TD>

			#else

			<TD COLSPAN=3> </TD>

			#end

		   </tr>

		   <tr>

	 	<TD colspan=5><font face="$ui.sansSerifFonts" size="2"><b><U>Infarcts</U></b></font></TD>

		   </tr>

		   <tr >

			<TH ALIGN="left">Medium</TH>

			<TD>$!om.getProperty("assessment.regions.basal_ganglia.putamen.left.infarcts.medium")</TD>

			<TD COLSPAN=3>$!om.getProperty("assessment.regions.basal_ganglia.putamen.right.infarcts.medium")</TD>

		   </tr>

		   <tr>

			<TH ALIGN="left">Large</TH>

			<TD>$!om.getProperty("assessment.regions.basal_ganglia.putamen.left.infarcts.large")</TD>

			<TD COLSPAN=3>$!om.getProperty("assessment.regions.basal_ganglia.putamen.right.infarcts.large")</TD>

		</tr>
<tr>

			<TD COLSPAN=5>&nbsp;</TD>

		   </tr>
	<tr>

			<TH ALIGN="left"><font face="$ui.sansSerifFonts" size="2">11) Globus Pallidus</font></TH>

			<TH ALIGN="left"><font face="$ui.sansSerifFonts" size="2">Left</font></TH>

			<TH ALIGN="left"><font face="$ui.sansSerifFonts" size="2">Right</font></TH>

			<TH ALIGN="left"><font face="$ui.sansSerifFonts" size="2">     </font></TH>

			<TH ALIGN="left"><font face="$ui.sansSerifFonts" size="2">Scheltens</font></TH>

		   </tr>

		   <tr>

	 	<TD colspan=5><font face="$ui.sansSerifFonts" size="2"><b><U>Lesions</U></b></font></TD>

		   </tr>

		   <tr>

			<TH ALIGN="left">Small (<3mm)</TH>

			#if ($!om.getBooleanProperty("assessment.regions.basal_ganglia.globus_pallidus.left.confluent"))

			<TD>confluent</TD>

			#else

			<TD>$!om.getProperty("assessment.regions.basal_ganglia.globus_pallidus.left.lesions.small")</TD>

			#end

			#if ($!om.getBooleanProperty("assessment.regions.basal_ganglia.globus_pallidus.right.confluent"))

			<TD>confluent</TD>

			#else

			<TD>$!om.getProperty("assessment.regions.basal_ganglia.globus_pallidus.right.lesions.small")</TD>

			#end

			<TD>       </TD>

			<TD>$!om.ScheltensBgGp</TD>

		   </tr>

		   <tr>

			<TH ALIGN="left">Medium (3-10 mm)</TH>

			#if (!$!om.getBooleanProperty("assessment.regions.basal_ganglia.globus_pallidus.left.confluent"))

			<TD>$!om.getProperty("assessment.regions.basal_ganglia.globus_pallidus.left.lesions.medium")</TD>

			#else

			<TD> </TD>

			#end

			#if (!$!om.getBooleanProperty("assessment.regions.basal_ganglia.globus_pallidus.right.confluent"))

			<TD COLSPAN=3>$!om.getProperty("assessment.regions.basal_ganglia.globus_pallidus.right.lesions.medium")</TD>

			#else

			<TD COLSPAN=3> </TD>

			#end

		   </tr>

		   <tr>

			<TH ALIGN="left">Large (>10mm)</TH>

			#if (!$!om.getBooleanProperty("assessment.regions.basal_ganglia.globus_pallidus.left.confluent"))

			<TD>$!om.getProperty("assessment.regions.basal_ganglia.globus_pallidus.left.lesions.large")</TD>

			#else

			<TD> </TD>

			#end

			#if (!$!om.getBooleanProperty("assessment.regions.basal_ganglia.globus_pallidus.right.confluent"))

			<TD COLSPAN=3>$!om.getProperty("assessment.regions.basal_ganglia.globus_pallidus.right.lesions.large")</TD>

			#else

			<TD COLSPAN=3> </TD>

			#end

		   </tr>

		   <tr>

	 	<TD colspan=5><font face="$ui.sansSerifFonts" size="2"><b><U>Infarcts</U></b></font></TD>

		   </tr>

		   <tr >

			<TH ALIGN="left">Medium</TH>

			<TD>$!om.getProperty("assessment.regions.basal_ganglia.globus_pallidus.left.infarcts.medium")</TD>

			<TD COLSPAN=3>$!om.getProperty("assessment.regions.basal_ganglia.globus_pallidus.right.infarcts.medium")</TD>

		   </tr>

		   <tr>

			<TH ALIGN="left">Large</TH>

			<TD>$!om.getProperty("assessment.regions.basal_ganglia.globus_pallidus.left.infarcts.large")</TD>

			<TD COLSPAN=3>$!om.getProperty("assessment.regions.basal_ganglia.globus_pallidus.right.infarcts.large")</TD>

		   </tr>
<tr>

			<TD COLSPAN=5>&nbsp;</TD>

		   </tr>
<tr>

			<TH ALIGN="left"><font face="$ui.sansSerifFonts" size="2">12) Internal Capsule</font></TH>

			<TH ALIGN="left"><font face="$ui.sansSerifFonts" size="2">Left</font></TH>

			<TH ALIGN="left"><font face="$ui.sansSerifFonts" size="2">Right</font></TH>

			<TH ALIGN="left"><font face="$ui.sansSerifFonts" size="2">     </font></TH>

			<TH ALIGN="left"><font face="$ui.sansSerifFonts" size="2">Scheltens</font></TH>

		   </tr>

		   <tr>

	 	<TD colspan=5><font face="$ui.sansSerifFonts" size="2"><b><U>Lesions</U></b></font></TD>

		   </tr>

		   <tr>

			<TH ALIGN="left">Small (<3mm)</TH>

			#if ($!om.getBooleanProperty("assessment.regions.basal_ganglia.internal_capsule.left.confluent"))

			<TD>confluent</TD>

			#else

			<TD>$!om.getProperty("assessment.regions.basal_ganglia.internal_capsule.left.lesions.small")</TD>

			#end

			#if ($!om.getBooleanProperty("assessment.regions.basal_ganglia.internal_capsule.right.confluent"))

			<TD>confluent</TD>

			#else

			<TD>$!om.getProperty("assessment.regions.basal_ganglia.internal_capsule.right.lesions.small")</TD>

			#end

			<TD>       </TD>

			<TD>$!om.ScheltensBgIc</TD>

		   </tr>

		   <tr>

			<TH ALIGN="left">Medium (3-10 mm)</TH>

			#if (!$!om.getBooleanProperty("assessment.regions.basal_ganglia.internal_capsule.left.confluent"))

			<TD>$!om.getProperty("assessment.regions.basal_ganglia.internal_capsule.left.lesions.medium")</TD>

			#else

			<TD> </TD>

			#end

			#if (!$!om.getBooleanProperty("assessment.regions.basal_ganglia.internal_capsule.right.confluent"))

			<TD COLSPAN=3>$!om.getProperty("assessment.regions.basal_ganglia.internal_capsule.right.lesions.medium")</TD>

			#else

			<TD COLSPAN=3> </TD>

			#end

		   </tr>

		   <tr>

			<TH ALIGN="left">Large (>10mm)</TH>

			#if (!$!om.getBooleanProperty("assessment.regions.basal_ganglia.internal_capsule.left.confluent"))

			<TD>$!om.getProperty("assessment.regions.basal_ganglia.internal_capsule.left.lesions.large")</TD>

			#else

			<TD> </TD>

			#end

			#if (!$!om.getBooleanProperty("assessment.regions.basal_ganglia.internal_capsule.right.confluent"))

			<TD COLSPAN=3>$!om.getProperty("assessment.regions.basal_ganglia.internal_capsule.right.lesions.large")</TD>

			#else

			<TD COLSPAN=3> </TD>

			#end

		   </tr>

		   <tr>

	 	<TD colspan=5><font face="$ui.sansSerifFonts" size="2"><b><U>Infarcts</U></b></font></TD>

		   </tr>

		   <tr >

			<TH ALIGN="left">Medium</TH>

			<TD>$!om.getProperty("assessment.regions.basal_ganglia.internal_capsule.left.infarcts.medium")</TD>

			<TD COLSPAN=3>$!om.getProperty("assessment.regions.basal_ganglia.internal_capsule.right.infarcts.medium")</TD>

		   </tr>

		   <tr>

			<TH ALIGN="left">Large</TH>

			<TD>$!om.getProperty("assessment.regions.basal_ganglia.internal_capsule.left.infarcts.large")</TD>

			<TD COLSPAN=3>$!om.getProperty("assessment.regions.basal_ganglia.internal_capsule.right.infarcts.large")</TD>

		   </tr>
		   <tr>

			<TD COLSPAN=5>&nbsp;</TD>

		   </tr>

	 <tr>

			<TH ALIGN="left" COLSPAN=5><font face="$ui.sansSerifFonts" size="2">13) Virchow Robin</font></TH>

		   </tr>
		   <tr>

			<TD COLSPAN=5>&nbsp;</TD>

		   </tr>

		   <tr>

			<TH ALIGN="left">Present:</TH>

			#if ($!om.getBooleanProperty("assessment.virchow_robin.present"))

			<TD colspan=4>Yes</TD>

			#else

			<TD colspan=4>No</TD>

			#end

		   </tr>

		   </tr>

			<TH ALIGN="left">Locations:</TH>

			<TD colspan=4>$!om.getProperty("assessment.virchow_robin.location")</TD>

		   </tr>

		   <tr>

			<TH ALIGN="left">Contributing: </TH>

			#if ($!om.getBooleanProperty("assessment.virchow_robin.potential_contribution"))

			<TD colspan=4>Yes</TD>

			#else

			<TD colspan=4>No</TD>

			#end

		   </tr>

		   </tr>

			<TH ALIGN="left">Locations:</TH>

			#if ($!om.getProperty("assessment.virchow_robin.contribution_location"))

			<TD colspan=4>$!om.getProperty("assessment.virchow_robin.contribution_location")</TD>

			#else
			
			<TD colspan=4>&nbsp;</TD>
			
			#end

		   </tr>
<tr>

			<TD COLSPAN=5>&nbsp;</TD>

		   </tr>
	 <tr>

	 	<TH ALIGN="left" COLSPAN=5><font face="$ui.sansSerifFonts" size="2">Notes</font></TH>

       </tr>

	 <tr>

		
			<td colspan=5>$!om.getStringProperty("note")</td>

		   </tr>
<tr>

			<TD COLSPAN=5>&nbsp;</TD>

		   </tr>
	 <tr>

	 	<TD colspan=5><font face="$ui.sansSerifFonts" size="4"><b>Regional Scheltens Scores</b></font></TD>

       </tr>
<tr>

			<TD COLSPAN=5>&nbsp;</TD>

		   </tr>
	 <tr>

		<TD colspan=2><font face="$ui.sansSerifFonts" size="2"><b><U>Region</U></b></font></TD>

		<TD colspan=3><font face="$ui.sansSerifFonts" size="2"><b><U>Score</U></b></font></TD>

	 </tr>

	 <tr>

		<TH COLSPAN=2 ALIGN="left">Deep white matter</TH>

		#set ($dwm = $!om.ScheltensDwmFrontal + $!om.ScheltensDwmParietal + $!om.ScheltensDwmOccipital + $!om.ScheltensDwmTemporal )

		<TD COLSPAN=3>$dwm</TD>

	</tr>

	 <tr>

		<TH COLSPAN=2 ALIGN="left">Periventricular</TH>

		#set ($pv = $!om.ScheltensPvFh + $!om.ScheltensPvPh + $!om.ScheltensPvVb)

		<TD COLSPAN=3>$pv</TD>

	</tr>

	 <tr>

		<TH COLSPAN=2 ALIGN="left">Basal Ganglia</TH>

		#set ($bg = $!om.ScheltensBgThalamus + $!om.ScheltensBgCaudate + $!om.ScheltensBgPutamen + $!om.ScheltensBgGp + $!om.ScheltensBgIc)

		<TD COLSPAN=3>$bg</TD>

	</tr>

	 <tr>

		<TH COLSPAN=2 ALIGN="left">White matter burden</TH>

		#set ($wm = $dwm + $pv)

		<TD COLSPAN=3>$wm</TD>

	</tr>

	 <tr>

		<TH COLSPAN=2 ALIGN="left">Total</TH>

		#set ($total = $dwm + $pv + $bg)

		<TD COLSPAN=3>$total</TD>

		</tr>

</table>
</TD>
<TD valign="top" align="right">
			#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
		</TD>
	</TR>
	</TABLE>


