$page.setTitle("HOLLINGS")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.getParameters().getString("popup"))
#set ($popup = $data.getParameters().getString("popup") )
#set ($popup = "false")
#end
#if($project)

#else
#set($project=$om.getProject())
#end

<table width="100%">
	<tr>
		<td>
			#parse($turbineUtils.getTemplateName("_report",$om.getXSIType(),$project))
		</td>
		<td valign="top" align="right">
			#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
		</td>
	</tr>
	<tr>
		<td colspan="2">

<style>
#uds_form {
	border-collapse: collapse;
	border-spacing:0px;
	border: 1px solid #000;
}
#uds_form td, #uds_form th {
	vertical-align:top;
	text-align:left;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}
</style>
<table id="uds_form"  width="600px">
	<tr>
		<th colspan="2">Head of Household's occupation and the Participant's years of education are used for this scale.</th>
	</tr>	#set ($OCCSCORE = $item.getStringProperty("OCCSCORE"))
	#if ( "-4" != $OCCSCORE )
		<tr>
			<th width="400px" style="padding-left:20px;">Occupational Scale Score (Head of Household)</th>
			<td>
				$!OCCSCORE
			</td>
		</tr>
	#end
	#set ($EDSCORE = $item.getStringProperty("EDSCORE"))
	#if ( "-4" != $EDSCORE )
		<tr>
			<th width="400px" style="padding-left:20px;">Educational Scale Score (Participant)</th>
			<td>
				$!EDSCORE
			</td>
		</tr>
	#end
	#set ($EDUC = $item.getStringProperty("EDUC"))
	#if ( "-4" != $EDUC )
		<tr>
			<th width="400px" style="padding-left:20px;">Subject's years of education (report exact years if known; otherwise, use the suggested coding:  High school/GED=12; Bachelors degree=16; Doctorate=20):</th>
			<td>
				$EDUC 
				#if ($EDUC == "99")
					- Unknown
			#end
			</td>
		</tr>
	#end

</table>
		</td>
	</tr>
</table>
