<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("APARCRegionAnalysis Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.getParameters().getString("popup"))
	#set ($popup = $data.getParameters().getString("popup") )
	#set ($popup = "false")
#end
<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<font face="$ui.sansSerifFonts" size="3"><b>APARCRegionAnalysis Details</b></font>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD>mrSession_ID</TD><TD>$!item.getStringProperty("fs:aparcRegionAnalysis/imageSession_ID")</TD></TR>
							<TR><TD>date</TD><TD>$!item.getProperty("fs:aparcRegionAnalysis/date")</TD></TR>
							<TR><TD>time</TD><TD>$!item.getProperty("fs:aparcRegionAnalysis/time")</TD></TR>
							<TR><TD>delay</TD><TD>$!item.getIntegerProperty("fs:aparcRegionAnalysis/delay")</TD></TR>
							<TR><TD>delay/ref_expt_id</TD><TD>$!item.getStringProperty("fs:aparcRegionAnalysis/delay/ref_expt_id")</TD></TR>
							<TR><TD>note</TD><TD>$!item.getStringProperty("fs:aparcRegionAnalysis/note")</TD></TR>
							<TR><TD>ID</TD><TD>$!item.getStringProperty("fs:aparcRegionAnalysis/ID")</TD></TR>
							<TR><TD>project</TD><TD>$!item.getStringProperty("fs:aparcRegionAnalysis/project")</TD></TR>
							<TR><TD>NumVert</TD><TD>$!item.getDoubleProperty("fs:aparcRegionAnalysis/NumVert")</TD></TR>
							<TR><TD>SurfArea</TD><TD>$!item.getDoubleProperty("fs:aparcRegionAnalysis/SurfArea")</TD></TR>
							<TR><TD>hemisphere</TD><TD>$!item.getStringProperty("fs:aparcRegionAnalysis/hemisphere")</TD></TR>
						</TABLE>
					</TD>
					<TD valign="top" align="right">
						#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN fs:aparcRegionAnalysis -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Related Items</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
						</TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_abstractResource_1_NUM_ROWS=$item.getChildItems("fs:aparcRegionAnalysis/in/file").size() - 1)
							#if($xnat_abstractResource_1_NUM_ROWS>=0)
								#foreach($xnat_abstractResource_1_COUNTER in [0..$xnat_abstractResource_1_NUM_ROWS])
<!-- BEGIN fs:aparcRegionAnalysis/in/file[$xnat_abstractResource_1_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">fs:aparcRegionAnalysis/in/file[$xnat_abstractResource_1_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END fs:aparcRegionAnalysis/in/file[$xnat_abstractResource_1_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_abstractResource_2_NUM_ROWS=$item.getChildItems("fs:aparcRegionAnalysis/out/file").size() - 1)
							#if($xnat_abstractResource_2_NUM_ROWS>=0)
								#foreach($xnat_abstractResource_2_COUNTER in [0..$xnat_abstractResource_2_NUM_ROWS])
<!-- BEGIN fs:aparcRegionAnalysis/out/file[$xnat_abstractResource_2_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">fs:aparcRegionAnalysis/out/file[$xnat_abstractResource_2_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END fs:aparcRegionAnalysis/out/file[$xnat_abstractResource_2_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_addField_3_NUM_ROWS=$item.getChildItems("fs:aparcRegionAnalysis/parameters/addParam").size() - 1)
							#if($xnat_addField_3_NUM_ROWS>=0)
								#foreach($xnat_addField_3_COUNTER in [0..$xnat_addField_3_NUM_ROWS])
<!-- BEGIN fs:aparcRegionAnalysis/parameters/addParam[$xnat_addField_3_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">fs:aparcRegionAnalysis/parameters/addParam[$xnat_addField_3_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>addField</TD><TD>$!item.getStringProperty("fs:aparcRegionAnalysis/parameters/addParam[$xnat_addField_3_COUNTER]/addField")</TD></TR>
													<TR><TD>name</TD><TD>$!item.getStringProperty("fs:aparcRegionAnalysis/parameters/addParam[$xnat_addField_3_COUNTER]/name")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END fs:aparcRegionAnalysis/parameters/addParam[$xnat_addField_3_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN fs:aparcRegionAnalysis/provenance -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">fs:aparcRegionAnalysis/provenance</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
									</TABLE>
								</TD>
							</TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE><TR><TD>
										#set($prov_processStep_5_NUM_ROWS=$item.getChildItems("fs:aparcRegionAnalysis/provenance/processStep").size() - 1)
										#if($prov_processStep_5_NUM_ROWS>=0)
											#foreach($prov_processStep_5_COUNTER in [0..$prov_processStep_5_NUM_ROWS])
<!-- BEGIN fs:aparcRegionAnalysis/provenance/processStep[$prov_processStep_5_COUNTER] -->
												<TABLE>
													<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">fs:aparcRegionAnalysis/provenance/processStep[$prov_processStep_5_COUNTER]</font></TH></TR>
													<TR>
														<TD align="left" valign="top">
															<TABLE>
																<TR><TD>program</TD><TD>$!item.getStringProperty("fs:aparcRegionAnalysis/provenance/processStep[$prov_processStep_5_COUNTER]/program")</TD></TR>
																<TR><TD>program/version</TD><TD>$!item.getStringProperty("fs:aparcRegionAnalysis/provenance/processStep[$prov_processStep_5_COUNTER]/program/version")</TD></TR>
																<TR><TD>program/arguments</TD><TD>$!item.getStringProperty("fs:aparcRegionAnalysis/provenance/processStep[$prov_processStep_5_COUNTER]/program/arguments")</TD></TR>
																<TR><TD>timestamp</TD><TD>$!item.getProperty("fs:aparcRegionAnalysis/provenance/processStep[$prov_processStep_5_COUNTER]/timestamp")</TD></TR>
																<TR><TD>cvs</TD><TD>$!item.getStringProperty("fs:aparcRegionAnalysis/provenance/processStep[$prov_processStep_5_COUNTER]/cvs")</TD></TR>
																<TR><TD>user</TD><TD>$!item.getStringProperty("fs:aparcRegionAnalysis/provenance/processStep[$prov_processStep_5_COUNTER]/user")</TD></TR>
																<TR><TD>machine</TD><TD>$!item.getStringProperty("fs:aparcRegionAnalysis/provenance/processStep[$prov_processStep_5_COUNTER]/machine")</TD></TR>
																<TR><TD>platform</TD><TD>$!item.getStringProperty("fs:aparcRegionAnalysis/provenance/processStep[$prov_processStep_5_COUNTER]/platform")</TD></TR>
																<TR><TD>platform/version</TD><TD>$!item.getStringProperty("fs:aparcRegionAnalysis/provenance/processStep[$prov_processStep_5_COUNTER]/platform/version")</TD></TR>
																<TR><TD>compiler</TD><TD>$!item.getStringProperty("fs:aparcRegionAnalysis/provenance/processStep[$prov_processStep_5_COUNTER]/compiler")</TD></TR>
																<TR><TD>compiler/version</TD><TD>$!item.getStringProperty("fs:aparcRegionAnalysis/provenance/processStep[$prov_processStep_5_COUNTER]/compiler/version")</TD></TR>
															</TABLE>
														</TD>
													</TR>
													<TR>
														<TD align="left" valign="top">
															<TABLE><TR><TD>
																#set($prov_processStep_library_6_NUM_ROWS=$item.getChildItems("fs:aparcRegionAnalysis/provenance/processStep[$prov_processStep_5_COUNTER]/library").size() - 1)
																#if($prov_processStep_library_6_NUM_ROWS>=0)
																	#foreach($prov_processStep_library_6_COUNTER in [0..$prov_processStep_library_6_NUM_ROWS])
<!-- BEGIN fs:aparcRegionAnalysis/provenance/processStep[$prov_processStep_5_COUNTER]/library[$prov_processStep_library_6_COUNTER] -->
																		<TABLE>
																			<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">fs:aparcRegionAnalysis/provenance/processStep[$prov_processStep_5_COUNTER]/library[$prov_processStep_library_6_COUNTER]</font></TH></TR>
																			<TR>
																				<TD align="left" valign="top">
																					<TABLE>
																						<TR><TD>library</TD><TD>$!item.getStringProperty("fs:aparcRegionAnalysis/provenance/processStep[$prov_processStep_5_COUNTER]/library[$prov_processStep_library_6_COUNTER]/library")</TD></TR>
																						<TR><TD>version</TD><TD>$!item.getStringProperty("fs:aparcRegionAnalysis/provenance/processStep[$prov_processStep_5_COUNTER]/library[$prov_processStep_library_6_COUNTER]/version")</TD></TR>
																					</TABLE>
																				</TD>
																			</TR>
																		</TABLE>
<!-- END fs:aparcRegionAnalysis/provenance/processStep[$prov_processStep_5_COUNTER]/library[$prov_processStep_library_6_COUNTER] -->
																	#end
																#end
															</TD></TR></TABLE>
														</TD>
													</TR>
												</TABLE>
<!-- END fs:aparcRegionAnalysis/provenance/processStep[$prov_processStep_5_COUNTER] -->
											#end
										#end
									</TD></TR></TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END fs:aparcRegionAnalysis/provenance -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN fs:aparcRegionAnalysis/investigator -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">fs:aparcRegionAnalysis/investigator</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>title</TD><TD>$!item.getStringProperty("fs:aparcRegionAnalysis/investigator/title")</TD></TR>
										<TR><TD>firstname</TD><TD>$!item.getStringProperty("fs:aparcRegionAnalysis/investigator/firstname")</TD></TR>
										<TR><TD>lastname</TD><TD>$!item.getStringProperty("fs:aparcRegionAnalysis/investigator/lastname")</TD></TR>
										<TR><TD>institution</TD><TD>$!item.getStringProperty("fs:aparcRegionAnalysis/investigator/institution")</TD></TR>
										<TR><TD>department</TD><TD>$!item.getStringProperty("fs:aparcRegionAnalysis/investigator/department")</TD></TR>
										<TR><TD>email</TD><TD>$!item.getStringProperty("fs:aparcRegionAnalysis/investigator/email")</TD></TR>
										<TR><TD>phone</TD><TD>$!item.getStringProperty("fs:aparcRegionAnalysis/investigator/phone")</TD></TR>
										<TR><TD>ID</TD><TD>$!item.getStringProperty("fs:aparcRegionAnalysis/investigator/ID")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END fs:aparcRegionAnalysis/investigator -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN fs:aparcRegionAnalysis/validation -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">fs:aparcRegionAnalysis/validation</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>method</TD><TD>$!item.getStringProperty("fs:aparcRegionAnalysis/validation/method")</TD></TR>
										<TR><TD>date</TD><TD>$!item.getProperty("fs:aparcRegionAnalysis/validation/date")</TD></TR>
										<TR><TD>notes</TD><TD>$!item.getStringProperty("fs:aparcRegionAnalysis/validation/notes")</TD></TR>
										<TR><TD>status</TD><TD>$!item.getStringProperty("fs:aparcRegionAnalysis/validation/status")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END fs:aparcRegionAnalysis/validation -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_abstractResource_9_NUM_ROWS=$item.getChildItems("fs:aparcRegionAnalysis/resources/resource").size() - 1)
							#if($xnat_abstractResource_9_NUM_ROWS>=0)
								#foreach($xnat_abstractResource_9_COUNTER in [0..$xnat_abstractResource_9_NUM_ROWS])
<!-- BEGIN fs:aparcRegionAnalysis/resources/resource[$xnat_abstractResource_9_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">fs:aparcRegionAnalysis/resources/resource[$xnat_abstractResource_9_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END fs:aparcRegionAnalysis/resources/resource[$xnat_abstractResource_9_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_field_10_NUM_ROWS=$item.getChildItems("fs:aparcRegionAnalysis/fields/field").size() - 1)
							#if($xnat_experimentData_field_10_NUM_ROWS>=0)
								#foreach($xnat_experimentData_field_10_COUNTER in [0..$xnat_experimentData_field_10_NUM_ROWS])
<!-- BEGIN fs:aparcRegionAnalysis/fields/field[$xnat_experimentData_field_10_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">fs:aparcRegionAnalysis/fields/field[$xnat_experimentData_field_10_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>field</TD><TD>$!item.getStringProperty("fs:aparcRegionAnalysis/fields/field[$xnat_experimentData_field_10_COUNTER]/field")</TD></TR>
													<TR><TD>name</TD><TD>$!item.getStringProperty("fs:aparcRegionAnalysis/fields/field[$xnat_experimentData_field_10_COUNTER]/name")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END fs:aparcRegionAnalysis/fields/field[$xnat_experimentData_field_10_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($fs_aparcRegionAnalysis_region_11_NUM_ROWS=$item.getChildItems("fs:aparcRegionAnalysis/regions/region").size() - 1)
							#if($fs_aparcRegionAnalysis_region_11_NUM_ROWS>=0)
								#foreach($fs_aparcRegionAnalysis_region_11_COUNTER in [0..$fs_aparcRegionAnalysis_region_11_NUM_ROWS])
<!-- BEGIN fs:aparcRegionAnalysis/regions/region[$fs_aparcRegionAnalysis_region_11_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">fs:aparcRegionAnalysis/regions/region[$fs_aparcRegionAnalysis_region_11_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>NumVert</TD><TD>$!item.getDoubleProperty("fs:aparcRegionAnalysis/regions/region[$fs_aparcRegionAnalysis_region_11_COUNTER]/NumVert")</TD></TR>
													<TR><TD>SurfArea</TD><TD>$!item.getDoubleProperty("fs:aparcRegionAnalysis/regions/region[$fs_aparcRegionAnalysis_region_11_COUNTER]/SurfArea")</TD></TR>
													<TR><TD>GrayVol</TD><TD>$!item.getDoubleProperty("fs:aparcRegionAnalysis/regions/region[$fs_aparcRegionAnalysis_region_11_COUNTER]/GrayVol")</TD></TR>
													<TR><TD>ThickAvg</TD><TD>$!item.getDoubleProperty("fs:aparcRegionAnalysis/regions/region[$fs_aparcRegionAnalysis_region_11_COUNTER]/ThickAvg")</TD></TR>
													<TR><TD>ThickStd</TD><TD>$!item.getDoubleProperty("fs:aparcRegionAnalysis/regions/region[$fs_aparcRegionAnalysis_region_11_COUNTER]/ThickStd")</TD></TR>
													<TR><TD>MeanCurv</TD><TD>$!item.getDoubleProperty("fs:aparcRegionAnalysis/regions/region[$fs_aparcRegionAnalysis_region_11_COUNTER]/MeanCurv")</TD></TR>
													<TR><TD>GausCurv</TD><TD>$!item.getDoubleProperty("fs:aparcRegionAnalysis/regions/region[$fs_aparcRegionAnalysis_region_11_COUNTER]/GausCurv")</TD></TR>
													<TR><TD>FoldInd</TD><TD>$!item.getDoubleProperty("fs:aparcRegionAnalysis/regions/region[$fs_aparcRegionAnalysis_region_11_COUNTER]/FoldInd")</TD></TR>
													<TR><TD>CurvInd</TD><TD>$!item.getDoubleProperty("fs:aparcRegionAnalysis/regions/region[$fs_aparcRegionAnalysis_region_11_COUNTER]/CurvInd")</TD></TR>
													<TR><TD>name</TD><TD>$!item.getStringProperty("fs:aparcRegionAnalysis/regions/region[$fs_aparcRegionAnalysis_region_11_COUNTER]/name")</TD></TR>
													<TR><TD>hemisphere</TD><TD>$!item.getStringProperty("fs:aparcRegionAnalysis/regions/region[$fs_aparcRegionAnalysis_region_11_COUNTER]/hemisphere")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END fs:aparcRegionAnalysis/regions/region[$fs_aparcRegionAnalysis_region_11_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
			</TABLE>
<!-- END fs:aparcRegionAnalysis -->
		</TD>
	</TR>
</TABLE>
