##Copyright 2005 Harvard University / Howard Hughes Medical Institute (HHMI) All Rights Reserved
#if ($data.getParameters().getString("popup"))
	#set ($popup = $data.getParameters().getString("popup") )
#else
	#set ($popup = "false")
#end

<TABLE width="100%" align="left" valign="top" border=0>
	<TR>
		<TD width="450" align="left">
			<h2></h2>
			<TABLE width="100%">
				<TR>
					<TD align="left"><font face="$ui.sansSerifFonts" size="4"><b>Psych. Eval.</b></font></TD>
				</TR>
			</TABLE>
			#set($part = $om.SubjectData)
	<P><TABLE align="left" width="100%" border=0>
		<TR>
			<TD>
				<HR>
				<TABLE align="left">
					<TR><TH align="left" colspan=2><font face="$ui.sansSerifFonts" size="3"><b>Experiment Info</b></font><BR><BR></TH></TR>
					<TR><TH align="left" width=200>Date: </TH><TD>$!item.getProperty("${search_element}.date")</TD></TR>
					<TR><TH align="left">Investigator: </TH><TD>$!item.getProperty("${search_element}.investigator.title") $!item.getProperty("${search_element}.investigator.firstname") $!item.getProperty("${search_element}.investigator.lastname")</TD></TR>
					<TR><TH align="left">Participant: </TH><TD>
					#set($part_id = $!part.getProperty("ID"))
					#set ( $click = "return popup('$link.setAction('DisplayItemAction').addPathInfo('search_element','xnat:subjectData').addPathInfo('search_field','xnat:subjectData.ID').addPathInfo('search_value',$!part_id).addPathInfo('popup','true')', '','600','800');" )
					<A CLASS=b href="#" onClick="$click">$!part.MapOrLab</A></TD></TR>
					<TR align="left"><TH ALIGN="left">Gender: </TH><TD>$part.GenderText</TD></TR>
					#if($!item.getProperty("${search_element}.date"))
					<TR align="left"><TH ALIGN="left">Age:</TH><TD>$!part.getAge($!item.getProperty("${search_element}.date"))</TD></TR>
					#else
					<TR align="left"><TH ALIGN="left">Age:</TH><TD>--</TD></TR>
					#end
				</TABLE>
			</TD>
		</TR>
		<TR>
			<TD>
				<TABLE border=0 WIDTH=100%>
					<TR><TH align="left" colspan=2><font face="$ui.sansSerifFonts" size="3"><BR><b>Details</b></font><BR></TH></TR>
					<TR><TD>WMS Logical Memory</TD><TD>$!om.getProperty("WMS.LogMemory")</TD></TR>
					<TR><TD>WMS Logical Memory Recall</TD><TD>$!om.getProperty("WMS.LogMemoryRecall")</TD></TR>
					<TR><TD>WMS Digit Span (Backward)</TD><TD>$!om.getProperty("WMS.DigitSpan")</TD></TR>
					<TR><TD>WMS Associates Recall: easy pairs</TD><TD>$!om.getProperty("WMS.AssocRecallEasy")</TD></TR>
					<TR><TD>WMS Associates Recall: hard pairs</TD><TD>$!om.getProperty("WMS.AssocRecallHard")</TD></TR>
					<TR><TD>WMS Associates Recognition: easy pairs</TD><TD>$!om.getProperty("WMS.AssocRecogEasy")</TD></TR>
					<TR><TD>WMS Associates Recognition: hard pairs</TD><TD>$!om.getProperty("WMS.AssocRecogHard")</TD></TR>
					<TR><TD>WMS Associate Memory Recall</TD><TD>$!om.getProperty("WMS.AssocMemRecall")</TD></TR>
					<TR><TD>WMS Mental Control</TD><TD>$!om.getProperty("WMS.MentalControl")</TD></TR>
					<TR><TD>Trailmaking - Form A (secs.)</TD><TD>$!om.getProperty("Trails_A")</TD></TR>
					<TR><TD>Trailmaking - Form B (secs.)</TD><TD>$!om.getProperty("Trails_B")</TD></TR>
					<TR><TD>Trailmaking - Form B (# connected)</TD><TD>$!om.getProperty("Trails_B_C")</TD></TR>
					<TR><TD>WAIS Info</TD><TD>$!om.getProperty("WAIS.Info")</TD></TR>
					<TR><TD>WAIS Block Design</TD><TD>$!om.getProperty("WAIS.BlockDesign")</TD></TR>
					<TR><TD>WAIS Digit Symbol</TD><TD>$!om.getProperty("WAIS.DigitSymbol")</TD></TR>
					<TR><TD>Benton - Form C (delay # correct)</TD><TD>$!om.getProperty("BentonFormCDelay")</TD></TR>
					<TR><TD>Benton - Form D (copy # correct)</TD><TD>$!om.getProperty("BentonFormDCopy")</TD></TR>
					<TR><TD>Boston Naming</TD><TD>$!om.getProperty("BostonNaming")</TD></TR>
					<TR><TD>Crossing Off (summary)</TD><TD>$!om.getProperty("CrossingOff")</TD></TR>
					<TR><TD>Word Fluency (S+P summary)</TD><TD>$!om.getProperty("WordFluency")</TD></TR>
					<TR><TD>General Factor Score</TD><TD>$!om.getProperty("GeneralFactor")</TD></TR>
					<TR><TD>Kanne Temporal Factor</TD><TD>$!om.getProperty("Kanne.Temporal")</TD></TR>
					<TR><TD>Kanne Parietal Factor</TD><TD>$!om.getProperty("Kanne.Parietal")</TD></TR>
					<TR><TD>Kanne Frontal Factor</TD><TD>$!om.getProperty("Kanne.Frontal")</TD></TR>
					<TR><TD>Animal Naming</TD><TD>$!om.getProperty("Animal")</TD></TR>
				</TABLE>
				
			</TD>
		</TR>
	</TABLE></P>
		</TD>
		<td valign="top">
	   		#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
	    </td>
	</TR>
</TABLE>
			