<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Tim Olsen (Washington University) -->
<Instance_Settings thumbnail_path="<%= thumbnail_path %>" cache_path="<%= cache_path %>" archive_root_path="<%= archive_path %>" prearchive_path="<%= prearchive_path %>" lores_path="<%= lores_path %>" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="schemas/xdat/instance.xsd" admin_email="<%= admin_email %>" smtp_server="<%= smtp_server %>" pipeline_path="<%= pipeline_path %>" require_login="true" user_registration="">
	<Databases>
		<Database Type="POSTGRESQL" Id="<%= db_id %>" Driver="org.postgresql.Driver" Url="jdbc:postgresql://<%= db_host %>/<%= db_name %>" User="<%= db_user %>" Pass="<%= db_pass %>" MaxConnections="<%= db_conns %>"/>
	</Databases>
	<Models>
		<Data_Model File_Name="security.xsd" File_Location="schemas/security" DB="<%= db_id %>"/>
		<Data_Model File_Name="birnprov.xsd" File_Location="schemas/birn" DB="<%= db_id %>"/>
		<Data_Model File_Name="xnat.xsd" File_Location="schemas/xnat" DB="<%= db_id %>"/>
		<Data_Model File_Name="visit.xsd" File_Location="schemas/visit" DB="<%= db_id %>"/>
		<Data_Model File_Name="cnda_xnat.xsd" File_Location="schemas/cnda_xnat" DB="<%= db_id %>"/>
		<Data_Model File_Name="ls2.xsd" File_Location="schemas/cnda_xnat" DB="<%= db_id %>"/>
		<Data_Model File_Name="behavioral.xsd" File_Location="schemas/cnda_xnat" DB="<%= db_id %>"/>
		<Data_Model File_Name="workflow.xsd" File_Location="schemas/pipeline" DB="<%= db_id %>"/>
		<Data_Model File_Name="project.xsd" File_Location="schemas/project" DB="<%= db_id %>"/>
		<Data_Model File_Name="assessments.xsd" File_Location="schemas/assessments" DB="<%= db_id %>"/>
		<Data_Model File_Name="black.xsd" File_Location="schemas/assessments" DB="<%= db_id %>"/>
		<Data_Model File_Name="catalog.xsd" File_Location="schemas/catalog" DB="<%= db_id %>"/>
		<Data_Model File_Name="repository.xsd" File_Location="schemas/pipeline" DB="<%= db_id %>"/>
		<Data_Model File_Name="clin.xsd" File_Location="schemas/clin" DB="<%= db_id %>"/>
		<Data_Model File_Name="cog.xsd" File_Location="schemas/cog" DB="<%= db_id %>"/>
		<Data_Model File_Name="dian.xsd" File_Location="schemas/dian" DB="<%= db_id %>"/>
		<Data_Model File_Name="ipip.xsd" File_Location="schemas/ipip" DB="<%= db_id %>"/>
		<Data_Model File_Name="uds.xsd" File_Location="schemas/uds" DB="<%= db_id %>"/>
		<Data_Model File_Name="genetics.xsd" File_Location="schemas/genetics" DB="<%= db_id %>"/>
        	<Data_Model File_Name="iq.xsd" File_Location="schemas/iq" DB="<%= db_id %>"/>
        	<Data_Model File_Name="bcl.xsd" File_Location="schemas/bcl" DB="<%= db_id %>"/>
        	<Data_Model File_Name="adir.xsd" File_Location="schemas/adir" DB="<%= db_id %>"/>
        	<Data_Model File_Name="ados.xsd" File_Location="schemas/ados" DB="<%= db_id %>"/>
        	<Data_Model File_Name="srs.xsd" File_Location="schemas/srs" DB="<%= db_id %>"/>
              <Data_Model File_Name="subjforms.xsd" File_Location="schemas/subjforms" DB="<%= db_id %>"/>
        	<Data_Model File_Name="treatments.xsd" File_Location="schemas/treatments" DB="<%= db_id %>"/>
            <Data_Model File_Name="tissue.xsd" File_Location="schemas/tissue" DB="<%= db_id %>"/>
        	<Data_Model File_Name="condr.xsd" File_Location="schemas/condr" DB="<%= db_id %>"/>
              <Data_Model File_Name="cbat.xsd" File_Location="schemas/cbat" DB="<%= db_id %>"/>
		<Data_Model File_Name="protocolValidation.xsd" File_Location="schemas/validation" DB="<%= db_id %>"/>
        <Data_Model File_Name="screeningAssessment.xsd" File_Location="schemas/screening" DB="<%= db_id %>"/>
        <Data_Model File_Name="ghf.xsd" File_Location="schemas/ghf" DB="<%= db_id %>"/>
		<Data_Model File_Name="nihSS.xsd" File_Location="schemas/nihSS" DB="<%= db_id %>"/>
		<Data_Model File_Name="adrc.xsd" File_Location="schemas/adrc" DB="<%= db_id %>"/>
		<!--<Data_Model File_Name="miriad.xsd" File_Location="schemas/duke" DB="<%= db_id %>"/>
		<Data_Model File_Name="elude.xsd" File_Location="schemas/duke" DB="<%= db_id %>"/>
		<Data_Model File_Name="oasis.xsd" File_Location="schemas/oasis" DB="<%= db_id %>"/>-->

		<!-- Start modules schemas: Reserved for xnat_builder, don't modify anything between this line and the end modules line. -->
		<Data_Model File_Name="opti.xsd" File_Location="schemas/opti" DB="<%= db_id %>"/>
		<Data_Model File_Name="cnda_ext.xsd" File_Location="schemas/cnda_ext" DB="<%= db_id %>"/>
		<Data_Model File_Name="mpet.xsd" File_Location="schemas/mpet" DB="<%= db_id %>"/>
		<Data_Model File_Name="pup.xsd" File_Location="schemas/pup" DB="<%= db_id %>"/>
		<Data_Model File_Name="condr.xsd" File_Location="schemas/condr" DB="<%= db_id %>"/>
		<Data_Model File_Name="radRead.xsd" File_Location="schemas/radRead" DB="<%= db_id %>"/>
		<Data_Model File_Name="pet.xsd" File_Location="schemas/pet" DB="<%= db_id %>"/>
		<Data_Model File_Name="fs.xsd" File_Location="schemas/fs" DB="<%= db_id %>"/>
		<Data_Model File_Name="condr_mets.xsd" File_Location="schemas/condr_mets" DB="<%= db_id %>"/>
		<!-- End modules schemas: Reserved for xnat_builder, don't modify anything between this line and the start modules line. -->
	</Models>
</Instance_Settings>

